---
layout: page
title: Аллергические болезни
description: Аллергия — это специфическая ответная реакция иммунной системы человека на определенный безобидный раздражитель, который она квалифицирует как потенциально опасный.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<h3>Бронхиальная астма.</h3>
<p>Среди заболеваний, в механизме возникновения которых нервная система занимает важное место, является бронхиальная астма. Это заболевание проявляется внезапно наступающими приступами  удушья, сопровождающиеся першением и царапаньем в горле, кашлем, чиханием и затрудненным выдохом, которые длятся минуты, часы, а иногда и дни. Это нарушение может носить циклический характер, и зависеть от совокупности и последовательности всех сочетательных раздражителей, участвующих в синтетическом интегрировании предпусковой реакции организма.</p>
<p>Психогенная бронхиальная астма относится к заболеваниям, вызванным негативным воздействием на организм человека, на его психику. В результате рассогласования в психической деятельности, посредством закрепления патологической условно - рефлекторной реакции организма. Одним из первых это подтвердил самарский профессор Ю.П. Фролова (1949), который фиксировал успешное применение гипнотерапии в лечении бронхиальной астмы. Эту болезнь ученый считал типичным примером резистентного, патологического, условно - рефлекторного акта.
</p>
<p><strong>Большое значение в развитии бронхиальной астмы имеет и респираторная аллергия, которая часто предшествует генезу бронхиальной астмы.</strong></p>
<p><strong>Аллергия — это</strong>специфическая ответная реакция иммунной системы человека на определенный безобидный раздражитель, который она квалифицирует как потенциально опасный. Этим веществом может быть какой-нибудь химический ингредиент, продукт, шерсть, пыль, пыльца или микроб. В норме к вредным агентам принадлежат бактерии, вирусы и другие патогены. Однако иногда в черный список попадают и не представляющие никакой угрозы предметы, вещества, продукты питания. В этой ситуации охранная система бросается на них, как на возбудители болезней и начинает борьбу с ними, запуская специфическую реакцию в организме с выбросом в кровь гистамина. Это приводит к возникновению характерных для аллергии симптомов и свидетельствует о начале заболевания. Аллергию по праву считают «Болезнью века», так как в настоящее время, этой болезнью, а точнее её разновидностью страдает более 85% всего населения нашей планеты.</p>
<p>Аллергия относится к заболеваниям, вызванным рассогласованием в психической деятельности организма. Причина заболевания в том, что мозг считает смертельно опасным некоторые запахи и вкусы. Запускается реакция спасения жизни, выраженная в аллергии. Поэтому, устраняя причину рассогласования психической деятельности с помощью гипнотерапии, патологический процесс удается остановить. Лечение аллергии другими методами, процесс сложный и проблематичный. Чаще всего аллергию не лечат, всё так называемое лечение сводится к выяснению непосредственного аллергена, и полному его изолированию. Однако такое «лечение» - это вечная борьба с симптоматикой. Оно не устраняет причину самого недуга, а только временно убирает его внешние признаки.</p>
<p>Аллергия является индивидуальной болезнью. У одних аллергия на пыльцу, у других на пыль, у третьих аллергия на кошек. Аллергия лежит в основе таких заболеваний, как например, бронхиальная астма, крапивница, дерматит. Развитие некоторых инфекционных заболеваний может сопровождаться аллергией. В этом случае аллергию называют инфекционной аллергией. К тому же одни и те же аллергены могут вызывать различные симптомы аллергий у разных людей и в разное время.</p>
<h4>Виды аллергии:</h4>
<p><strong>В зависимости от того, что провоцирует аллергическую реакцию и какими путями аллергены попадают в наш организм, могут быть выделены различные виды аллергии:</strong></p>
<ul>
  <li>пищевая аллергия;</li>
  <li>аллергия на лекарства;</li>
  <li>аллергия на прививки;</li>
  <li>аллергия на укусы насекомых;</li>
  <li>аллергия на животных;</li>
  <li>аллергия на споры грибков или плесени</li>
  <li>аллергия на латекс</li>
  <li>аллергия на пыльцу (поллиноз);</li>
  <li>аллергия на пыль;</li>
  <li>аллергия на холод;</li>
  <li>фотодерматит;</li>
  <li>аллергия при беременности.</li>
</ul>
<p><strong>Пищевая аллергия это</strong> аллергия на пищевые продукты и их компоненты. В качестве аллергенов могут выступать молоко, куриный белок, рыба, белковые компоненты ячменя, ржи, пшеницы и другие продукты. Аллергию также могут вызывать пищевые добавки и консерванты.</p>
<p><strong>Аллергия на лекарства</strong> наиболее заметна, когда проявляется немедленно после приёма или введения препарата, но реакция на лекарство может быть и замедленной. Наиболее часто аллергическую реакцию вызывают анальгин, сульфамидные препараты и антибиотики.</p>
<p><strong>Аллергия на прививки это</strong> аллергическая реакция на компоненты вакцин. При наличии реакции на определённые аллергены, например, антибиотики, куриный белок или пекарские дрожжи, следует ожидать аллергическую реакцию на вакцину, содержащую данное вещество. Поскольку аллерген в случае прививки попадает непосредственно в кровь, реакция может быть, с одной стороны, замедленной, а с другой более тяжёлой.</p>
<p><strong>Аллергия на укусы насекомых</strong> возникает как патологическая иммунная реакция на яд, выделяемый насекомыми при укусе. При нормальной реакции место укуса может немного опухнуть, покраснеть, обычно чувствуется зуд, но эти симптомы быстро проходят. Из тех насекомых, которые обитают в средней полосе России, наиболее тяжелые формы аллергической реакции вызывают укусы пчёл, ос и муравьёв.</p>
<p><strong>Аллергия на латекс – это</strong> совокупность патологических состояний, которые объединяет непереносимость изделий из натурального или (реже) синтетического каучука с развитием местных либо системных реакций. Симптомы патологии варьируются от признаков дерматита (покраснение, кожный зуд, жжение) до слезотечения, заложенности носа, затрудненного дыхания, ангионевротических отеков.</p>
<p><strong>Аллергия на споры грибков или плесени.</strong> Плecнeвыe гpибы – этo бoльшaя гpуппa микpoopгaнизмoв, включaющaя в ceбя paзныe виды. Cущecтвуeт бoлee дecяткa paзнoвиднocтeй этoгo opгaнизмa, oблaдaющиx caмыми paзными cвoйcтвaми и xapaктepиcтикaми. Cтoит cкaзaть, чтo aллepгия нa гpибoк плeceни paзвивaeтcя нeзaвиcимo oт тoгo, кaкoй микpoopгaнизм пpoкoнтaктиpoвaл c чeлoвeкoм. Они образуются на продуктах питания, стенах и предметах мебели в помещении в виде налёта  мягкой субстанции белого, чёрного, зелёного или коричневого цвета. Благоприятными условиями для её образования и развития являются повышенная влажность, сырость и постоянная тёплая температура.</p>
<p><strong>Аллергия на животных</strong> один из самих распространённых видов аллергии. Аллергию могут вызывать как домашние животные (собаки, кошки, грызуны, птицы), так и фермерские (лошади). Аллергенами являются шерсть, перхоть, слюна и моча животных, перья и экскременты птиц. Аллергическую реакцию обычно вызывает вдыхаемая пыль, содержащая эти аллергены.</p>
<p><strong>Аллергия на пыльцу (поллиноз)</strong> обычно имеет сезонный характер. Как правило, аллергию вызывает пыльца растений, которые опыляются ветром. Пора цветения соответствующих видов весна, лето является самой проблемной для людей, страдающих поллинозом.</p>
<p><strong>Аллергия на пыль.</strong> Пыль может содержать различные аллергены (частички пищи, перхоть животных, споры грибков), однако основным аллергеном является микроскопическое паукообразное пылевой клещ. Пылевые клещи питаются частичками отшелушившейся человеческой кожи. Их особенно много в матрасах кроватей, подушках, одеялах, мягких игрушках, коврах спален и занавесках. </p>
<p><strong>Аллергия на холод.</strong> Под воздействием холода белки наших тканей видоизменяются, и неадекватно реагирующая иммунная система вдруг распознаёт в них чужеродных агентов и начинает с ними бороться. Аллергия на холод теоретически может иметь абсолютно любое проявление, характерное любой другой аллергии. Однако на практике чаще развиваются только некоторые из них. </p>
<p><strong>Аллергия на холод чаще проявляется: </strong></p>
<ul>
  <li>крапивницей;</li>
  <li>отеком Квинке;</li>
  <li>бронхоспазмом;</li>
  <li>анафилактическим шоком.</li>
</ul>
<p>Эти патологические состояния могут развиваться изолированно или следовать друг за другом в указанной последовательности в составе единого патологического процесса.</p>
<p><strong>Фотодерматит (аллергия на солнце).</strong> Ультрафиолетовые лучи воздействуют на те вещества, которые находятся на нашей коже, в результате чего они начинают распознаваться иммунной системой как антигены. Это так называемый экзогенный (т.е. внешнего происхождения) фотодерматит. Его причиной могут быть нанесенный на кожу крем для загара, дезодорант, духи. Подобный эффект вызывают также некоторые лекарства, неизбежно попадающие на кожу в капельках пота.</p>
<p>Выделяют также <strong>луговой дерматит.</strong> В период цветения многие луговые растения выделяют особые вещества фукрокумарины. Они оседают на коже и под воздействием ультрафиолета провоцируют аллергическую реакцию.</p>
<p><strong>Аллергия при беременности.</strong> Признаки аллергии во время беременности обнаруживает у себя примерно каждая третья женщина, ранее с аллергией не сталкивавшаяся. </p>
<h4>Симптомы аллергии.</h4>
<p>Существует по настоящему просто огромное количество разнообразных форм аллергии, следовательно, и симптомы у аллергии тоже разные.</p>
<p>Симптомы аллергии зависят от типа аллергена, а точнее от места контакта аллергена с частью вашего тела. Так в зависимости от места (дыхательные пути, пазухи носа, кожа, пищеварительная система) могут проявляться различные симптомы.</p>
<ul>
  <li>Чихание (обычно сильно и часто).</li>
  <li>Кашель, стеснение в груди, ощущение нехватки воздуха, затрудненное дыхание или одышка.</li>
  <li>Зуд в носу и обильное выделение жидкого секрета из носа.</li>
  <li>Зуд в глазах, слезотечение, покраснение глаз и отечность век.</li>
  <li>Кожный зуд, покраснение кожи, высыпания на коже, шелушение кожи.</li>
  <li>Покалывание во рту, покалывание или онемение языка.</li>
  <li>Отек губ, языка, лица, шеи.</li>
  <li>Тошнота, рвота, диарея.</li>
</ul>
<p>В некоторых, очень редких, случаях аллергия может привести к развитию серьёзной аллергической реакции, которая называется анафилактический шок. Эта реакция может привести к смертельному исходу, если не предпринять каких либо мер. Большинство аллергических реакций имеют локальный характер (в месте контакта тела с аллергеном), например аллергические реакции на коже, в носу, в ротовой полости или пищеварительной системе. Когда имеет место анафилактический шок, аллергической реакции подвержен весь организм, реакция развивается спустя несколько минут после контакта с аллергеном. </p>
<p><strong>Классификация следующих  патологий в зависимости от симптомов протекания заболеваний:</strong></p>
<p>Респираторная аллергия проявляется после попадания аллергена в организм во время дыхания. Этими аллергенами чаще всего являются различные виды газов, пыльцы или очень мелкой пыли, такие аллергены называют аэроаллергенами. Сюда можно отнести и аллергию дыхательных путей. Такая аллергия проявляется в виде: Чиханья, зуда в носу, насморка, кашля, хрипы в легких, удушье и т.д. Главными проявлениям данной разновидности аллергии, можно считать всё-таки бронхиальную астму и аллергический ринит.</p>
<p><strong>Аллергический конъюнктивит.</strong> Проявляется в виде: сильного жжения в глазах, слезоточивостью, припухлости вокруг глаз и т.д.</p>
<p><strong>Энтеропатия.</strong> Начинает проявляться вследствие употребления каких-либо продуктов или лекарственных препаратов, такая реакция происходит из-за аллергической реакции желудочно-кишечного тракта. Эта разновидность аллергии проявляется в виде: тошноты, рвоты, диареи, запора, отека квинке, кишечные колики.</p>
<p><strong>Бронхиальная астма.</strong> Типичный признак патологии — приступы удушья, сопровождающиеся першением и царапаньем в горле, кашлем, чиханием и затрудненным выдохом. </p>
<p>Причинами астмы становятся аллергены, распространяющиеся в воздухе:  От пыльцы растений и бытовой пыли до промышленных веществ; пищевые аллергены, провоцирующие понос, колики, боль в животе.</p>
<p>Причиной болезни становится также чувствительность к грибкам, микробам или вирусам. О ее начале сигнализирует простуда, которая постепенно развивается в бронхит, что, в свою очередь, вызывает затруднение дыхания. </p>
<p><strong>Крапивница —</strong> высыпание на любом участке тела, напоминающее последствия контакта с крапивой в виде зудящих небольших волдырей. Такие проявления сопровождаются повышением температуры до 39 градусов и общим недомоганием. Жжение и зуд настолько сильны, что больные могут до крови расчесывать кожу, занося инфекцию. К образованию волдырей приводит воздействие на организм тепла и холода (соответственно различают тепловую и холодовую крапивницу), физических предметов (одежда и др., от чего возникает физическая крапивница), а также нарушение функционирования желудочно-кишечного тракта (энзимопатическая крапивница).</p>
<p><strong>Отек Квинке.</strong> В сочетании с крапивницей возникает отек Квинке — аллергическая реакция быстрого типа, для которой характерна локализация в области головы и шеи, в частности на лице, внезапное появление и быстрое развитие.</p>
<p>Отек представляет собой утолщение кожи; его размеры варьируются от горошины до яблока; при этом зуд отсутствует. Болезнь длится 1 час – несколько дней. Возможно ее повторное появление в том же месте.</p>
<p><strong>Дерматоз</strong> сопровождается различными высыпаниями и раздражениями на коже. Вызвать его могут различные виды аллергенов, такие как: продукты питания, аэроаллергены, косметические средства, бытовая химия, лекарственные препараты.</p>
<p>Такого рода аллергия, как правило, проявляется в виде: покраснения кожи, зудом, сухостью, шелушением, волдырями, отеками, и т.д.</p>
<h4>Лечение аллергии. </h4>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, а через них и на подкорковые структуры,  которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет, выявить и устранить причину заболевания бесследно избавив пациента от этого недуга на всю жизнь.</strong></p>
<h3>Внутреннее управление организма.</h3>
<h4>Существует внутреннее и внешнее управление организмом.</h4>
<p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
<p><strong>Внутреннее управление организма осуществляется на нескольких уровнях:</strong></p>
<ul>
  <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
  <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
  <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
  <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
</ul>
<p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p>Еще при жизни И. П. Павлова учеником его К. М. Быковым было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<p><strong>И только воздействуя на психику лечебным гипнозом, можно устранить источник возникновения  болезни на всю жизнь! То - есть, любые аллергические реакции, возникшие в результате психических травм, стрессов, других негативных воздействий на психику человека, лечатся только гипнозом! Другие методы малоэффективны.</strong></p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.  </strong></p>
<h4>Лечение аллергических кожных заболеваний.</h4>
<p>Аллергические кожные заболевания психосоматической природы, вылечить возможно только методом гипноза. Клинические наблюдения многих известных ученых подтверждают роль коры головного мозга в механизме развития кожных заболеваний в связи с психическими переживаниями и длительно действующими отрицательными эмоциями, а также с действующим короткое время, но очень сильным негативным воздействием на психику человека. Проводили исследования в этой области такие видные ученые как: П. П. Подъяпольский и В. Н. Фине, И.П. Павлов и М.К. Петрова, В.М. Бехтерев, известный ученый Джерин (XIX в.), дерматолог А. И. Картамышев и другие. Ученые пришли к выводу, что при психических нарушениях могут возникать такие кожные заболевания, как крапивница, эритема, экземы разного вида, пузырчатка, красный плоский лишай, эритема изъязвления, некрозы и многие другие кожные болезни. Таким образом, можно видеть, что бессознательные психические травмы, и в особенности, приобретенные в детстве, играют ключевую роль в возникновении, формировании, развитии кожных психосоматических заболеваний.</p>
<p>И, тем не менее, кожные заболевания – это только часть недугов, имеющих аллергическую природу. Сюда можно добавить такие симптомы как учащенное дыхание, повышенное артериальное давление, спазмы, судороги, увеличение содержание сахара в крови и т. д. </p>
<h4>Возможны ли побочные действия от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% излечение на всю жизнь.</li>
  <li>Устранение причин заболевания.</li>
  <li><Дешевле./li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p>Самостоятельные попытки избавиться от аллергии, приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, повышенной раздражительностью, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить эту  проблему, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><strong>Наш авторский метод  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>



 
