@import "vars"
@import "fonts"
@import "libs"

+reset

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold
.navbar.fixed-top
  width: 100%
.navbar-toggler
  .navbar-toggler-icon
    width: 1.4rem !important
    height: 1.4rem !important
.navbar-brand
  color: $accent !important
  &:hover
    color: $accent-lite !important
.navbar-nav
  width: 100% !important
  display: flex
  justify-content: flex-end !important
  text-align: center
.top-slider
  +md-block
    position: relative
    top: 56px
  .carousel-item::before
    background: rgba(0,0,0,0.4)
    content: ""
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    position: absolute
    z-index: auto
  .carousel-item
    max-height: 600px
    +xs-block
      display: none
  .carousel-caption
    background: rgba(0,0,0,0.4)
    border-radius: 5px
    padding: $fields_sm
    +sm-block
      left: 0
      right: 0
      bottom: 0
      top: 0
      height: 100%
    +xs-block
      position: relative

    h1
      font-size: 3vw
      text-align: center
      +xs-block
        font-size: 18px
        font-weight: 600
    p
      font-size: 16px
      text-align-last: left
    hr
      margin: $fields_sm/2
      border-color: $accent
//service

.service
  +wrapper
  +md-block
    margin-top: 60px
  +sm-block
    margin-top: 30px
  &-row
    +row-flex
    .card-img
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      .card__description
        margin-top: auto
        display: flex
        justify-content: center
        align-items: center
        color: #ffffff
        width: 100%
        background-color: rgba(0,0,0,0.5)
        font-size: 18px
  .card__side--back-1
    .card__description
      padding: $fields_sm
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      p
        font-size: 16px
        text-transform: none
      a
        margin-top: auto
        font-size: 18px
        color: $accent
        &:hover
          color: $accent-lite
          text-decoration: none 
  .img-block1
    background: url(../img/block-1.jpg) 50% 50%, no-repeat
    background-size: cover
  .img-block2
    background: url(../img/block-2.jpg) 50% 50%, no-repeat
    background-size: cover
  .img-block3
    background: url(../img/block-3.jpg) 50% 50%, no-repeat
    background-size: cover
  .img-block4
    background: url(../img/block-4.jpg) 50% 50%, no-repeat
    background-size: cover
  .img-block5
    background: url(../img/block-5.jpg) 50% 50%, no-repeat
    background-size: cover
  .img-block6
    background: url(../img/block-6.jpg) 50% 50%, no-repeat
    background-size: cover
  .content
    width: 100%
    padding: $fields
    text-align: center
    xs-block
      width: 100% !important
.cards
  +row-flex
  justify-content: space-evenly
  +xs-block
    justify-content: center
.card
  margin: $fields_sm
  width: 25%
  min-width: 320px
  position: relative
  height: 20em
  perspective: 150em
  border: none
  +xs-block
    min-width: 290px
.card__side
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 20em
  backface-visibility: hidden
  transition: all .6s ease
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2)
  border-radius: 5px
.card__side--front
  background-color: #FFF
.card__side--back
  color: #FFF
  transform: rotateY(180deg)
.card__side--back-1
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
.card__side--back-2
  background-image: linear-gradient(to right bottom, #2998FF, #5643FA)
.card__side--back-3
  background-image: linear-gradient(to right bottom, #FFB900, #FF7730)
.card:hover
  .card__side--front
    transform: rotateY(-180deg)
  .card__side--back
    transform: rotate(0)
.card__description
  text-transform: uppercase
  font-size: 5em
  padding: 1em 0

// блок инфо
.block-info
  background: url(../img/pattern.png)
  width: 100%
  height: 100%
  padding: $fields
  +md-block
    padding: 0
  &-row
    +row-flex
    justify-content: space-around
    +wrapper
  &-desc
    +col
    +size(8)
    +size-md(12)
    text-indent: 2em
    +sm-block
      margin: 0
      width: 100%
    h2
      font-size: 25px
      padding-bottom: $fields_sm
      font-weight: 600
      text-align: center
    h3
      font-size: 20px
      padding: $fields_sm
      font-weight: 600
    li
      list-style-type: square
      text-indent: 0
      margin-left: 30px
  &-right-menu
    +col
    +size(4)
    +size-md(12)
    height: 100%
    border-left: 1px solid #000
    max-width: 320px
    top: 30px
    position: sticky
    +md-block
      display: flex
      border: none
      max-width: 100%
    +sm-block
      padding-top: $fields_sm
      margin: 0
      width: 100%
    &-contact
      padding: $fields_sm
      border-bottom: 1px solid #000
      +md-block
        border: none
      +sm-block
        padding: 0
      li
        font-weight: 600
        a
          font-weight: normal
          color: $accent
          &:hover
            color: $accent-lite
    &-link
      padding: $fields_sm
      +md-block
        display: none
      a
        color: $accent
        &:hover
          color: $accent-lite
//stages
.stages
  +wrapper-full
  padding-top: $fields
  &-row
    +row-flex
    flex-wrap: wrap
    justify-content: space-around
  &-item
    +col
    +size(4)
    +size-md(12)
    min-width: 290px
    &-img
      text-align: center
      img
        min-width: 300px
    &-info
      padding: $fields 0
      h3
        font-weight: bold
        font-size: 22px
        text-align: center
        padding-bottom: $fields_sm

// post
.breadcrumbs
  .breadcrumb-item
    a
      text-indent: 0
      display: inline
.heading-post
  width: 100%
  height: 100%
  background: url(../img/bg-heading.jpg) no-repeat 50% 0
  background-size: cover
  position: relative
  margin-top: 59px
  z-index: 5	
  &::before
    position: absolute
    content: ""
    right: 0
    bottom: 0
    z-index: 6
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.4)
  &-wrap
    padding: $fields*2 $fields $fields*2 $fields
    display: flex
    justify-content: center
    position: relative
    z-index: 6
    +md-block
      padding: 15px
      height: 120px
      align-items: center
    h1
      font-size: 30px
      color: #fff
      +sm-block
        font-size: 25px
        text-align: center

.content-post
  background: url(../img/pattern.png)
  width: 100%
  height: 100%
  padding: $fields
  +sm-block
    padding: $fields_sm
  &-row
    +row-flex
    +wrapper
    justify-content: space-between
    +sm-block
      padding: 0
    &-info
      +col
      +size(8)
      +size-md(12)
      +sm-block
        margin: 0
        width: 100%
      a
        color: $accent-lite
        display: block
        text-indent: 2em
        padding-top: 5px
        padding-bottom: 5px
        &:hover
          color: $accent
          text-decoration: none
      p,h3
        text-indent: 2em
      img
        max-width: 100%
        padding-bottom: $fields
      .flImgPost
        padding-bottom: 0
        padding-right: 20px
        padding-top: 10px
        float: left
        width: 300px
        +sm-block
          float: none
          display: flex
          padding-right: 0
          width: 100%
          max-width: 300px
          justify-content: center
          margin: 10px auto
      h3
        font-size: 20px
        font-weight: bold
        padding-top: $fields_sm
        padding-bottom: $fields_sm
      h4
        text-indent: 2em
        font-size: 16px
        font-weight: bold
        padding-top: $fields_sm/2
        padding-bottom: $fields_sm/2
      ul
        margin-left: $fields
        padding-top: $fields_sm/2
        padding-bottom: $fields_sm/2
        +xs-block
          padding-top: 5px
        li
          list-style-type: disc
      .psPost
        text-align: right
        font-style: italic
// accordion
#accordion
  +sm-block
    margin-left: 0
    padding-top: 0
.accordion, .sub-accordion
  margin: 0
  padding: 0
  list-style: none
.accordion__item
  background: #e7e7e7
  border-radius: 20px
  margin-bottom: 5px
  &:nth-child(odd) > :first-child:not(.accordion__link_active)
    color: #ffffff !important
    background: #696666 !important
    text-indent: 0!important

// Стили для заголовка меню
.accordion__item,
.sub-accordion__item
  list-style-type: none!important
.accordion__link
  font-weight: 500 !important
  font-size: 1rem
  position: relative
  color: #696666 !important
  text-indent: 0!important
  text-decoration: none
  border-radius: 20px
  display: block
  padding: 12px 50px 12px 20px
  &:not(.accordion__link_active)
    &:after
      position: absolute
      content: ""
      border-top: 12px #ff8663 solid
      border-left: 7px solid transparent
      border-right: 7px solid transparent
      right: 22px
      top: 50%
      transform: translatey(-6px)
    &:hover
      opacity: .8
      color: #fff !important
      background: #B8B8B8 !important
      &:after
        border-top: 12px #ffffff solid
  &:hover
    text-decoration: none

//Стили для подменю
.sub-accordion 
  padding: 5px 20px
  display: none
  height: 0
  overflow: hidden
  +xs-block
    margin-left: 0 !important
    padding: 5px 10px
.sub-accordion__item
  padding: 5px 0
  a
    text-indent: 0 !important

//	Стили для октивного подменю
.accordion__link_active
  color: #ffffff !important
  background-color: #ff8663
  text-indent: 0 !important
  &:after
    position: absolute
    content: ""
    border-bottom: 12px #fff solid
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    right: 22px
    top: 50%
    transform: translatey(-6px)
  &:hover
    color: #ffffff !important
  + ul
    display: block
    height: 100%



@import "media" // Always at the end
