---
layout: page
title: Гипнолог гипнотерапевт
description: Не так давно в обиходе психологов и психотерапевтов, а сегодня уже и рядовых граждан нашей страны появилось новое, незнакомое нам доселе слово – «Гипнолог», «Гипнотерапевт».
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p><i>Не так давно в обиходе психологов и психотерапевтов, а сегодня уже и рядовых граждан нашей страны появилось новое, незнакомое нам доселе слово – «Гипнолог», «Гипнотерапевт». Одним он помог вылечиться от невроза, фобии и депрессии, другим избавиться от вредных привычек, третьим найти свою вторую половину.</i></p>
<h3>Гипноз в настоящее время</h3>
<h3>Гипноз и гипнолог / гипнотерапевт.</h3>
<p>Гипноз известен людям ещё со времён первых фараонов. Понятие «гипноз», в современном понимании, впервые употребил в 1842 году Джеймс Брейд. Он отмечал сходство гипнотического состояния с состоянием спящего человека и называл гипноз «искусственным сном» В настоящее время метод гипноза используется для достижения как психического, так и физического здоровья человека. Эффективность применения гипноза давно уже не вызывает сомнение даже у самых ярых скептиков. И всё же, рычаги воздействия гипнолога на человеческое сознание до сих пор для большинства остаются загадкой.</p>
<p>А ведь в этом вопросе нет ничего сложного или фантастического. Представьте, что человек — это живой механизм, управляемый компьютером головного мозга, а все его поступки и действия — следствие работы сложнейшего программного обеспечения. Но чем сложнее система, тем вероятнее возникновение сбоя. </p>
<p>Последствия последних регулярно проявляют себя в виде страхов, ВСД, ОКР, СРК, расстройств пищевого поведения, нервных тиков, бессонницы, болей, аллергии, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы, половых функций, логоневроза, комплексов и вредных привычек.</p>
<p>Но обязательно должен быть режим отладки. И он существует. Таковым выступает особое состояние человеческого организма, которое обычно называют гипнозом. У находящегося в гипнотическом сне пациента, усилиями гипнолога, могут быть исправлены все его «программные сбои», разрушены мешающие самореализации комплексы и психологические барьеры. Гипнолог — это не маг, не волшебник, а всего лишь узконаправленный специалист, помогающий людям находить и решать лежащие на подсознательном уровне проблемы. А гипноз - это инструмент в руках гипнолога, позволяющий установить устойчивую связь с бессознательным пациента, в котором образуются и хранятся наши события, представления, ассоциации, стереотипы, шаблоны поведения, привычки, мотивы, с уникальной возможностью изменить их деструктивный характер. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<h3>Кто такой гипнолог / гипнотерапевт?</h3>
<h3>Почему именно гипнотерапевт, спросите вы, почему не психолог, психотерапевт?</h3>
<p>Гипнотерапевт – это специалист, который лечит абсолютно все экзогенные психические и соматические заболевания. Среди них: депрессии, стресс, бессонница, страхи, тревожность, неуверенность в себе, комплексы,  чувства вины, различные психотавмы, полученные в детстве или во взрослой жизни, ВСД, ОКР, СРК, расстройства пищевого поведения, нервные тики,  боли, аллергия, расстройства вестибулярного аппарата, нарушение сердечно – сосудистой системы, половых функций, логоневроз,  вредные привычки, и т.д. Если сравнивать эффективность гипнотерапевта и психолога, психотерапевта, то разница в эффективности  достигает тысяч раз. При всех видах психотерапии, на которую, чтобы добиться результата, ходят месяцами и даже годами,  гипнотерапия ограничена днями, и  результат уже виден через несколько часов”.  Потому что психолог, психотерапевт  работает словом на уровне (сознание), а гипнотерапевт работает на бессознательном уровне, на том уровне, на котором формируется и хранится любая патология, связанная с психофизиологией больного. Сознанию туда доступ закрыт, и это результат эволюции человека. </p>
<p><strong>Чтобы было понятнее, проведём аналогию между головным мозгом человека и электронно-вычислительной системой.</strong></p>
<p>Когда в работе ПК появляются первые сбои, мы пытаемся решить проблему самостоятельно, используя чистящие реестр программы, при этом операционная система остаётся работать в обычном режиме. Аналогично так действуют и психологи. К сожалению эффект от такого «лечения» непродолжительный, а точнее нулевой. </p>
<p>Ошибки постепенно накапливаются, и вскоре всё равно приходится обращаться к профессионалу.</p>
<p>Опытный администратор, как и гипнотерапевт ведёт настройку только в режиме отладки, не позволяя существующим "багам" вмешиваться в его работу. При этом он редко доверяет автоматике, производя большинство операций вручную. Поэтому и результат!</p>
<p>Нечто подобное происходит и в гипнотерапии. Психическая система очень чутко реагирует на любой образовавшийся "баг", но сама без вмешательства гипнотерапевта идентифицировать ошибку не может (как правило, эти воспоминания амнезированы), а потому просто приспосабливается к ней, меняя при этом свой правильный режим работы. Как результат, образование фобий, депрессий, раздражения, неуверенности в себе,  развитие тяжёлых физических заболеваний. Психолог такую проблему уже не решит. Необходима работа в режиме отладки – гипнотерапия. В таких случаях гипнотерапевт при помощи регрессивного гипноза проводит полное сканирование человеческой памяти, выявляя те травмы, которые пациент получил в постнатальный период.</p>
<p>И каждая ошибка должна быть гипнотерапевтом исправлена, а каждый конфликт в обязательном порядке решён. <strong>Таким образом, в результате гипнотерапии устраняется сама причина возникновения болезни, что делает лечение наиболее эффективным, а точнее, только такое лечение  можно назвать лечением, а не вечной борьбой с симптоматикой.</strong></p>
<h3>Помощь гипнолога / гипнотерапевта.</h3>
<h3>А какие конкретно проблемы может решить гипнолог при помощи гипноза?</h3>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. </p>
<p>Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки, Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, а через них и на подкорковые структуры, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов.</p>
<p><strong>В свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного!</strong></p>
<p>При этом все еще встречается недооценка врачами роли психотравмирующих факторов в возникновении различных расстройств функций внутренних органов и систем, а также шаблонные представления, которые нередко заставляют искать органическую природу заболевания там, где она в действительности является функциональной (психогенной, условнорефлекторной). Тем временем, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Еще при жизни И. П. Павлова учеником его К. М. Быковым было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. На основании этих фактов стало ясно, что раздражения, идущие из внутренних органов, создают в соответствующих пунктах коры мозга очаги возбуждения, которые при известных условиях вступают во временную связь с любыми другими очагами возбуждения, создаваемыми раздражителями внешней или внутренней среды. Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p>Следует отметить, что метод гипнотерапии эффективен не только в случаях функционального нарушения высшей нервной деятельности и при психогенных расстройствах функций различных органов и систем, но и при органических заболеваниях (в качестве вспомогательного средства). В разное время во многих лабораториях предпринимались исследования, помогающие физиологическому обоснованию гипнотерапии, а вместе с ней и психопрофилактики (А. Г. Иванов-Смоленский, Н. И. Красногорский, С. Н. Давиденков, Ф. П. Майоров, Б. Н. Бирман, Л. Б. Гаккель, В. Н. Мясищев, Ю. А. Поворинский, В. Е. Рожнов и др.).</p>
<h3>Появление гипноза и связанные с ним предрассудки.</h3>
<p>Гипнотерапия была одним из первых методов психологического лечения. Она берет свое начало с древнейших времен. Первыми, кто применял приемы гипноза, были жрецы Древнего Египта и Древней Греции. Изучение гипноза с научной точки зрения началось с середины 19 века, благодаря английскому хирургу Джемсу Брэйду, который был основателем этого метода. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С. Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин, П. П. Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие. Гипноз был признан во всем мире и получил широкое распространение, которое сохранилось и по сей день.</p>
<p><strong>Но есть и масса предрассудков о гипнотерапевтах. Зачастую эти заблуждения основаны на эстрадных номерах гипноза или просто на чьих-то суждениях.</strong></p>
<h3>Давайте рассмотрим наиболее распространенные из них:</h3>
<p><strong>Миф №1. Гипнолог может управлять человеческим сознанием и полностью контролировать его.</strong></p>
<p>Это не так, загипнотизированный остается в сознании и почти всегда помнит о том, что происходит во время сеанса. Если даже память на время отключается, то потом она восстанавливается, и можно все вспомнить.</p>
<p><strong>Миф №2. Состояние, в которое погружает гипнотерапевт, очень странное и неестественное для человеческого организма.</strong></p>
<p>В гипнозе нет ничего необычного, это состояние между сном и бодрствованием, которое не имеет никаких побочных эффектов, а является очень полезным для организма человека. Человек периодически находится в нем, но не умеет его использовать.</p>
<p><strong>Миф №3. Действие гипнотерапии не доказано, а значит, она не работает. </strong></p>
<p>Эффективность метода подтверждена исследованиями ученых всего мира и положительными результатами огромного количества пациентов.</p>
<p><strong>Миф №4.  Применение гипноза ослабляет волю.</strong></p>
<p>Встречаются также разновидности: "гипнозу поддаются слабовольные", "гипнотизер подавляет волю", "гипноз истощает ресурсы организма" и пр. Под утверждениями подобного рода нет никакого реального обоснования. Этот аспект освещает <strong>д.м.н., профессор Л.П. Гримак</strong> в своей монографии "Моделирование состояний в гипнозе" (1978):</p>
<p><i>"Мы нередко погружали в глубокий гипноз испытуемых с очень высокими волевыми качествами: парашютистов-спортсменов, испытателей перспективной техники, летчиков и др. Для этого нужно было лишь выработать у них откровенно положительное отношение к процессу гипнотизирования, полное понимание важности и необходимости этой процедуры для выполнения конкретной задачи. Разумеется, никаких отрицательных влияний на их профессиональную деятельность или на волевые качества в дальнейшем не отмечалось. Напротив, проводившаяся в гипнозе коррекция состояния и самочувствия на последующий постгипнотический период улучшала их работоспособность, тонизировала физически, повышала уровень выносливости. Мы несколько пространно останавливаемся на этих вопросах лишь потому, что еще и сегодня, из уст малообразованных людей  можно "узнать", что человек, "поддающийся" гипнозу, является "слабовольным" субъектом".</i></p>
<p><strong>Миф №5. Из гипноза можно не выйти.</strong></p>
<p>Гипноз – есть промежуточное состояние между сном и бодрствованием. Поэтому он переходит либо в естественный сон, либо в состояние бодрствования, остаться в нем надолго или, тем более, навсегда невозможно. <strong>Из гипноза выходят так же, как выходят из обычного сна.</strong></p>
<p><strong>Миф №6.  Гипноз вызывает зависимость.</strong></p>
<p>Французский психотерапевт, доктор медицины <strong>Léon Chertok</strong> в своей книге "Hypnosis" (1966) по этому поводу справедливо заметил:</p>
<p><i>"Существует миф о привыкании к гипнозу, но это глубокое заблуждение. Привыкание скорее может проявиться при всех видах психотерапии, на которую, чтобы добиться результата, ходят месяцами и даже годами. Тогда как гипнотерапия ограничена днями, и  результат уже виден через несколько часов”. </i></p>
<p><strong>Доктор медицины А.А. Токарский</strong> в своем докладе, представленном на III Съезде Русских Врачей  "К вопросу о вредном влиянии гипнотизирования", говорит о том, что гипнотическое влияние складывается из трех факторов: 1) гипнотического сна, 2) внушения и 3) способа гипнотизирования.  Относительно масштабов человеческой жизни, ”гипнотическое состояние”, “внушение",    попадают под категорию всеобщности и выходят за пределы лишь гипнотерапии или гипнотического сеанса. <strong>"Гипноз" – это естественное психофизиологическое состояние организма,</strong>  которое явно или инкогнито сопровождает нас повсюду. Оно всегда возникает при пробуждении и засыпании, часто – во время езды в транспорте или на лекции, когда мы словно "зависаем", уходим мыслями в себя и перестаем воспринимать происходящее вокруг. "Внушение" также явление вездесущее, это разновидность передачи информации от человека к человеку.</p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Корсаков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Известнейшие ученые исключают возможность опасности гипноза.</strong></p>
<p>Как отмечает <strong>Л.П. Гримак</strong> (доктор медицинских наук, профессор)  (1983 г.),  "…всесторонние и тщательные исследования гипнотических явлений зарубежными, русскими учеными не только доказали полную их безвредность для организма человека, но и вскрыли многочисленные положительные стороны гипнотических воздействий, мобилизующих физические и психические резервы организма. Даже психическая иммобилизация в гипнозе, связанная с временным выключением основных интегративных механизмов мозга, способствуют восстановлению нервно-психических функций человека, создают ощущение свежести, внутреннего обновления и радости бытия”.</p>
<p><strong>Д-р Льебо</strong> из Нанси, основатель учения о гипнозе как о методе терапии, писал: «Многолетний опыт использования гипнотического внушения дает мне основание утверждать, что таковое, если им правильно пользоваться, намного эффективнее медицинского лечения. В отличие от лечения лекарствами, оно безопасно, действие его быстро и приятно».</p>
<p><strong>Профессор Брюггельманн</strong> из Падеборна: «На вопрос, может ли гипноз быть опасным, я должен коротко ответить — нет».</p>
<p><strong>Д-р Моль</strong> добавляет: «Кардинальная проблема — не несет ли должным образом выполненное гипнотическое внушение опасности для здоровья. На этот вопрос я отвечаю — нет».</p>
<p><strong>Д-р Рингье</strong> из Цюриха: «Могу лишь повторить то, что говорил неоднократно, а именно: я никогда, ни в одном случае не встречался с вредным действием гипноза».</p>
<p><strong>Директор д-р Шольц</strong> из Бремена: «Я никогда не слышал жалоб на вредные последствия гипноза, которые имели бы место на практике. Это — всего лишь теоретические построения противников гипнотических методов».</p>
<p><strong>Профессор Мебиус:</strong> «Конечно, существуют врачи, имеющие предубеждение против гипноза, однако это именно те люди, у которых нет в данной области собственного опыта, и которые ограничиваются ложными умозаключениями».</p>
<p><strong>Профессор Сазерленд</strong> из Массачусетса: «Как могут говорить об опасностях врачи, сами не сведущие в гипнозе. Покажите мне их, и я внушу им, чтобы они никогда больше не заикались об опасностях внушения».</p>
<p><strong>Д-р Отто</strong> Веттерштранд: «Я предсказываю гипнозу большое будущее и могу лишь присоединиться к мнению, высказанному профессором И. Бернгеймом в его эпохальной работе по внушению, а именно: суггестивная терапия относится к одному из самых ценных завоеваний современной медицины».</p>
<p><strong>Профессор К.А. Иванов-Муромский</strong> в 1971 г. опубликовал данные о том, что гипнотическое состояние в эксперименте создает защитный эффект при действии цианистых соединений, лучевых и рентгеновских излучений. Декларировалась защитная роль трансовых состояний, которые усиливают процессы саморегуляции, обеспечивая защиту мозга от экстремальных воздействий. </p>
<p>Известный исследователь гипноза <strong>нейрофизиолог Дэвид Шпигель (David Spiegel)</strong> из Стенфордского университета (США)  пишет: «гипноз абсолютно безопасен и имеет меньше побочных эффектов, чем самое мягкое лекарство».</p>
<p><strong>Академик В.М.Бехтерев психиатр, невропатолог, физиолог, психолог, </strong>основатель первого в мире научного центра по комплексному изучению человека (психоневрологический институт в Санкт-Петербурге), на основании многочисленных клинических и экспериментальных наблюдений  категорически отрицал патологический характер гипнотического состояния.</p>
<p>На сегодняшний день все больше людей говорят о пользе лечебной гипнотерапии и самого гипнотического состояния. Но возникает вопрос, в чем именно польза самого этого гипнотического состояния?</p>
<p><strong>На данный момент ученые провели более 3000 исследований о влиянии лечебной гипнотерапии на человека.</strong></p>
<p><strong>Они доказали, что регулярные сеансы лечебной гипнотерапии приводят к:</strong></p>
<ul>
  <li>Восстановлению гомеостаза организма,</li>
  <li>Восстановление компенсаторных функций организма,</li>
  <li>Восстановлению психической деятельности человека, со всем, интегрированным комплексом эмоциональных внутренних и внешних сигнализаций,</li>
  <li>Увеличению в организме дофамина и серотонина,</li>
  <li>Восстановлению сосредоточенности и умственных способностей,</li>
  <li>Восстановлению общего тонуса активной жизнедеятельности,</li>
  <li>Стрессоустойчивости,</li>
  <li>Улучшению настроения,</li>
  <li>Восстановлению сна.</li>
</ul>
<p></p>
<p></p>
<h3>Первые результаты после лечебной гипнотерапии, появляются уже после первого сеанса.</h3>
<ol>
  <li><strong>Лечебная гипнотерапия улучшает ваш сон.</strong> <br>
    Ученые из Миннесотского университета пришли к выводам, что регулярная лечебная гипнотерапия способствует более крепкому и здоровому сну, а тело лучше восстанавливается за ночь, помогая отрешиться от будничных проблем, мысли о которых часто не позволяют быстро заснуть. Также снижается уровень кортизола – гормона стресса, мешающго  полноценному отдыху.</li>
  <li><strong>Лечебная гипнотерапия улучшает вашу способность сосредоточиться</strong>.<br>
    Лечебная гипнотерапия улучшает способность долгое время сохранять внимание и помогает контролировать нервно-психическое возбуждение. В одном из исследований под руководством Фаделя Зейдана, специалиста в области когнитивной нейробиологии из Школы медицины Уэйка Фореста, было обнаружено, что люди после четырех сеансов лечебной релаксации, прошли тест когнитивных способностей значительно лучше остальных. Они оказались лучше готовы игнорировать время, отпущенное на тест, что помогло им сосредоточиться на решаемой задаче.</li>
  <li><strong>Лечебная гипнотерапия снизит тревожность и стресс.</strong> <br>
    Последние исследования доказывают, что лечебная гипнотерапия реально способна снизить уровень кортизола, а исследования Зейдана показала, что тревожность снизилась на 39%</li>
  <li><strong>Лечебная гипнотерапия сделает вас менее подверженным перепадам настроения.</strong> <br>
    Многие из нас автоматически интерпретируют события и слова в негативном ключе и предполагают худшее о самих себе и окружающих. Это может стать причиной депрессии, которую лечебная гипнотерапия помогает преодолеть. Она помогает с недоверием относиться к мыслям, возникающим чисто автоматически, без нашего сознательного участия. А это означает, что вы фокусируетесь на реальности, а не на домыслах.</li>
  <li><strong>Лечебная гипнотерапия меняет в лучшую сторону вашу сексуальную жизнь.</strong> <br>
    Лечебная гипнотерапия усиливает соединения и увеличивает размер области головного мозга, называемой в медицине «передняя островковая доля большого мозга» ( insula) утверждает Марша Лукас, доктор наук, нейропсихолог из Вашингтона проводивший исследование в этой области.</li>
  <li><strong>Лечебная гипнотерапия поможет вам быстрее выздоравливать и жить дольше.</strong> <br>
    Исследования Висконсинского университета в Мадисоне показало, что среди, ходивших на сеансы лечебной гипнотерапии в течение 8 недель два раза в неделю, было гораздо меньше случаев гриппа и тяжелых инфекционных заболеваний, чем среди тех, кто не ходил. Доктор Даниэль Мюллер, проводящий исследование, объясняет это тем, что лечебная релаксация помогает восстановить гомеостатическое равновесие, то есть организм стремится к идеальному балансу между окружающей средой и своими потребностями. Согласно недавнему исследованию Калифорнийского университета в Сан-Франциско это может даже помочь нам жить дольше, потому что ДНК будет лучше защищена от деградации.</li>
</ol>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробнее вред или польза гипноза для человека можно прочитать здесь.</a>
<p><strong>Будьте здоровы и берегите себя!</strong></p>