---
layout: page
title: Почему болит голова и что с ней делать
description: Головная боль редко бывает опасной. Чаще всего у неё простая причина. Если лень разбираться, достаточно выпить любое безрецептурное обезболивающее (аспирин, ибупрофен, парацетамол) — и дискомфорт отступит.
categories: lechenie-gipnozom
catname: Лечение гипнозом
image: images/useful/2019/2019-07-22-pochemu-bolit-golova-i-chto-s-nej-delat/1.jpg
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p>
Давно прошли времена, когда английский язык для детей преподавали исключительно в рамках школьной программы, а уровень владения языком определялся лишь учителем или преподавателем ВУЗа, выводившим оценку в дневнике, табеле или зачетке. Всего несколько десятилетий назад мало кому из жителей нашей страны приходилось воспользоваться своими знаниями на практике в естественной языковой среде.
</p>
<p>
В основном доводилось довольствоваться проверкой уроков у своих детей-школьников или с важным видом посмеяться шутке КВН-щиков про «London is the capital of Great Britain». Канули в лету и те времена, когда человек, встретившись с носителем родного английского, переживал культурный шок от того, что вербальное взаимопонимание с визави, увы, не возникает.
</p>
<p>
Сейчас хорошее знание английского языка является свидетельством образованности и залогом успешности человека. Очень часто базовый или разговорный английский – это обязательное условие при поступлении в престижное учебное заведение или при соискании профильной вакансии. Для большинства иностранных граждан – уроженцев разных стран, английский язык – один из шести официальных рабочих языков ООН, является вторым или третьим.
</p>
<p>
Открытые границы и возможность путешествовать по странам и континентам стало для наших соотечественников очевидным подтверждением актуальности языка, который понимают практически в любой точке земного шара.
</p>
<p>
Значимость и статус наиболее распространенного языка – универсального средства коммуникации во всем мире и в глобальной сети Интернет в частности,  высок – это факт. Также не вызывает сомнений, что английский для детей – это насущная необходимость, залог будущей профессиональной востребованности, карьерного роста человека.
</p>
<p>
Однако чаще всего дискуссии родителей и специалистов ведутся вокруг вопроса о том, когда же начинать обучение детей?
</p>
<hr/>
<p>
 Предлагаю изучить английский язык вместе со мной. Эффективная авторская методика! 15 лет прожила в Англии и Америке. Знаю английский язык на уровне носителя. Грамматику преподаю с самых азов и объясняю все простым и доступным языком.
</p>



