---
layout: page
title: Стоимость услуг
description: Самые низкие расценки за лечение гипнозом в Москве! Мы боремся за здоровье наших пациентов, поэтому устраняем причину заболевания, а не его симптом!
---

<h3>Стоимость приема</h3>
<p>
  Самые низкие расценки за лечение гипнозом в Москве! Мы боремся за здоровье наших пациентов, поэтому устраняем причину заболевания, а не её симптом!
</p>
<hr />
<p>
  <strong>Первичный прием -</strong>
  продолжительность приема 60 минут. Включает в себя тщательный патопсихологический анализ.
  <span>Стоимость – 3000руб.</span>
</p>
<hr />
<p>
  <strong>Сеанс гипноза -</strong>
  Продолжительность сеанса 1-3 часа.
  <span>Стоимость – 3000 руб./час</span>
</p>
<hr />
<p>
  <strong>Психологическая помощь -</strong>
  индивидуальная консультация психолога, психотерапевта.
  <span>Стоимость – 2500 руб./час.</span>
</p>
<hr />
<p>
  <strong>Лечебная общеукрепляющая гипнотерапия-релаксация.</strong>
  <span>Стоимость – 3000руб.</span>
</p>
<hr />
