---
layout: page
title: Фобии, Страхи, Панические атаки
description: Фобия или тревожно - фобическое расстройство – это сильно выраженный неконтролируемый навязчивый страх, необратимо обостряющийся в определенных ситуациях или устойчивые проявления различных страхов, которые не представляют никакой серьезной или вообще никакой опасности для человека.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p>Сам термин «гипноз» был введен в середине XIX в. английским врачом Джеймсом Брейдоном, благодаря которому начался расцвет научной концепции гипноза. Этим вопросом занимались такие зарубежные ученые, как А. Бонн, А. Форель, А. Льебо, Ж. Шарко, И. Бернгейм. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С. Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин, П. П. Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p><strong>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</strong></p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, а через них и на подкорковые структуры, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<h3>Существует внутреннее и внешнее управление организмом.</h3>
<p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
<p><strong>Внутреннее управление организма осуществляется на нескольких уровнях:</strong></p>
<ul>
  <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
  <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
  <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
  <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
</ul>
<p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей  методике  относится к самым результативным услугам в настоящее время, и позволяет, выявить и устранить причину заболевания, бесследно избавив пациента от фобии, страхов, панических атак  всего за один-три сеанса.</strong></p>
<p>Фобия или тревожно - фобическое расстройство – <strong>это</strong> сильно выраженный неконтролируемый навязчивый страх, необратимо обостряющийся в определенных ситуациях или устойчивые проявления различных страхов, которые не представляют никакой серьезной или вообще никакой опасности для человека. Реальной проблемой считается иррациональная часть страха, что со временем развивается в фобию — неадекватную реакцию на окружающее. Рациональная составляющая страха должна оставаться, ведь эта базовая эмоция мобилизует силы организма с целью выжить или приспособиться. При столкновении с объектом своей фобии, панический страх возникает автономно и не поддается контролю со стороны сознания. При тревожно - фобических расстройствах одна только мысль, напоминание или картинка с изображением предмета страха приводит человека в замешательство, заставляет испытывать беспокойство и вынуждает предпринимать абсурдные и бесполезные «защитные» действия.</p>
<p><strong>Таким образом, страх состоит их трех компонентов:</strong></p>
<ul>
  <li>Когнитивных (субъективных) - я боюсь.</li>
  <li>Физиологических вегетативных реакций (учащение сердцебиения, сужение сосудов, расширение коронарных сосудов сердца, расширение зрачков, замедление перистальтики желудка и кишечника, увеличение адреналина, кортизола в организме,  одышка, потливость, дрожь, тряска в руках и ногах, в животе, учащение мочеиспускания, резкого побледнения или покраснения.)</li>
  <li>Поведенческих (настойчивое желание уйти, убежать, к стремлению избегать ситуаций, чреватых, по их мнению, опасностью или угрозой).</li>
</ul>
<p>Сложность положения пациентов с таким заболеванием часто связана с полным непониманием их состояния родными, близкими, и многими врачами, не знакомыми с тонкостями психотерапии фобий. Понять сложность положения больного может либо человек, переживший подобное или психотерапевт - гипнолог, имеющий многолетний опыт работы с такими пациентами. Рациональными доводами невозможно устранить проблему фобии, так как источник их кроется в сфере бессознательного, что и является основанием для лечения фобий с помощью гипноза.</p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными фобиями, которые в дальнейшем перестали вызывать у них страх, оставив только удивление того, что когда то они этого боялись. Тем, кто страдает фобиями, не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите себя от этого навязчивого состояния всего за один – три сеанса.</p>
<p><strong>Разработанная нами авторская методика избавит вас от  навязчивого алогичного страха, панических атак, тревоги, всего за один-три сеанса.</strong></p>
<h3>Возможны ли побочные действия от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения фобии, страхов:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% избавление от фобии, страха, панической атаки на всю жизнь.</li>
  <li>Устранение причин заболевания всего за один – три сеанса.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению фобии, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p>Самостоятельные попытки избавиться от фобии приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить проблему фобии, так как источник их кроется в сфере бессознательного, что и является основанием для лечения фобий с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><strong>Наш авторский метод  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>
<h3>Самые популярные фобии</h3>
<h4>А</h4>
<ul>
  <li>Автофобия - Боязнь одиночества.</li>
  <li>Аглиофобия - Боязнь боли.</li>
  <li>Агорафобия - Опасение открытых площадей или толп.</li>
  <li>Айчмофобия - Боязнь игл и других острых предметов.</li>
  <li>Акрофобия - Страх высоты.</li>
  <li>Амаксофобия - Боязнь езды в автомобиле.</li>
  <li>Анджинофобия - Боязнь ангины или удушья.</li>
  <li>Андрофобия - Боязнь мужчин.</li>
  <li>Антропофобия - Страх пред людьми или обществом.</li>
  <li>Антрофобия - Опасение цветов (растительность).</li>
  <li>Аракнофобия - Боязнь пауков.</li>
  <li>Аритмофобия - Боязнь чисел.</li>
  <li>Астрафобия - Боязнь грома и молнии.</li>
  <li>Атаксофобия - Боязнь беспорядков и неакуратности.</li>
  <li>Ателофобия - Страх несовершенства.</li>
  <li>Атичифобия - Страх перед неудачей.</li>
  <li>Афэнфосмфобия - Страх касания.</li>
  <li>Ачлуофобия - Боязнь темноты.</li>
</ul>
<h4>Б</h4>
<ul>
  <li>Бактериофобия - Страх перед бактериями.</li>
  <li>Барофобия - Страх силы тяжести.</li>
  <li>Батмофобия - Боязнь лестниц и крутых склонов.</li>
  <li>Батрачофобия - Страх - земноводных.</li>
  <li>Белонефобия - Боязнь булавок и игл.</li>
  <li>Библайофобия - Страх перед книгами.</li>
  <li>Ботанофобия - Страх растений.</li>
</ul>
<h4>В</h4>
<ul>
  <li>Венастрафобия - Страх перед красивыми женщинами.</li>
  <li>Верминофобия - Страх перед микробами.</li>
  <li>Виккафобия - Страх перед ведьмами и колдовством.</li>
</ul>
<h4>Г</h4>
<ul>
  <li>Гамофобия - Боязнь брака.</li>
  <li>Генуфобия - Страх перед коленями.</li>
  <li>Гидрофобия - Страх воды.</li>
  <li>Гинофобия - Боязнь женщин.</li>
  <li>Глоссофобия - Страх выступать публично.</li>
</ul>
<h4>Д</h4>
<ul>
  <li>Дендрофобия - Страх перед деревьями.</li>
  <li>Дентофобия - Страх перед стоматологами.</li>
  <li>Дистичифобия - Боязнь несчастных случаев.</li>
  <li>Доматофобия - Страх перед зданиями.</li>
</ul>
<h4>З</h4>
<ul>
  <li>Зоофобия - Страх перед животными.</li>
</ul>
<h4>И</h4>
<ul>
  <li>Инсектофобия - Страх перед насекомыми.</li>
</ul>
<h4>Й</h4>
<ul>
  <li>Йатрофобия - Страх врачей.</li>
</ul>
<h4>К</h4>
<ul>
  <li>Какофобия - Страх уродства.</li>
  <li>Катаджелофобия - Страх быть объектом насмешек.</li>
  <li>Катоптрофобия - Страх перед зеркалами.</li>
  <li>Киберфобия - Страх перед компьютерами.</li>
  <li>Клаустрофобия - Страх замкнутых пространств.</li>
  <li>Коинонифобия - Страх комнат.</li>
  <li>Коулрофобия - Боязнь клоуны.</li>
  <li>Ксенофобия - Боязнь незнакомых или иностранцев.</li>
</ul>
<h4>Л</h4>
<ul>
  <li>Леукофобия - Страх перед белым цветом.</li>
  <li>Лилапсофобия - Боязнь торнадо и ураганов.</li>
  <li>Локайофобия - Страх перед родами.</li>
</ul>


