<section class="block-info">
  <div class="block-info-row">
    <div class="block-info-desc">
      <h2> ЧТО ТАКОЕ ГИПНОТЕРАПИЯ</h2>
      <p>
        "Гипнотерапия (hypnotherapy)— это не только лечение с помощью гипноза, это любая форма психотерапии, в рамках
        которой используются состояния измененного сознания, называемые гипнотическим трансом. Гипнотерапия включает
        также ряд специфических суггестивных и аналитических приемов, обычно не используемых, когда пациенты находятся
        полностью в сознательном, негипнотическом состоянии».
      </p>
      <p>
        В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к
        гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные
        неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно –
        сосудистой системы, ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения, нарушения
        менструального цикла, нервные тики, бессонница, логоневроз, коррекция поведенческих реакций человека, заниженная
        самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным
        результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все
        остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов. И важно понимать,
        что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и
        приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в
        патогенез.
      </p>
      <p>
        Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения
        лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми
        органами и системами организма. Вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы
        со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и
        благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней
        средой организма. Таким образом, слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором,
        производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает
        прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма
        человека.
      </p>
      <p>
        <strong>
          Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить
          причину заболевания на всю жизнь, а не ее симптом. Наш уникальный, авторский метод гипнотерапии, поможет вам
          избавиться от причины возникновения вашего недуга на всю жизнь, всего за один – пять сеансов!
        </strong>
      </p>
      <p>
        Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека,
        обеспечивает слаженную работу всех органов и систем организма, что позволяет пациенту ощутить новый прилив
        жизненных сил. Он положительно влияет на работу многих органов и систем, сердечно - сосудистой, дыхательной,
        выделительной, пищеварительной, эндокринной, иммунной, ЦНС, помогает при бессоннице, снимает раздражительность,
        уменьшает беспокойство, успокаивает боль и т.п.
      </p>
      <h4>Положительные стороны гипнотического лечения:</h4>
      <ul>
        <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
        <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
        <li>Нет побочного эффекта.</li>
        <li>Полное 100% избавление от недуга на всю жизнь.</li>
        <li>Устранение причин заболевания всего за один – пять сеансов.</li>
        <li>Дешевле.</li>
      </ul>
      <a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">
        Подробней о пользе гипноза для человека можно прочитать здесь.
      </a>
      </ul>
    </div>
    {% include /block-right-menu.html %}
  </div>
  {% include /stages.html %}
</section>