<div class="block-info-right-menu">
  <div class="block-info-right-menu-contact">
    <ul>
      <li>Наш адрес:<a href="contacts/"> Московская область, г. Москва, ул.Тарутинская,д.1 (метро Славянский бульвар)В 100 метрах от метро.</a></li>
      <li>Телефон:<a href="tel:+79264839348"> +7926-48-393-48</a></li>
      <li>E-mail:<a href="mailto:hypnos24@bk.ru"> hypnos24@bk.ru</a></li>
      <li>Сайт:<a href="/"> hypnosis24.pro</a></li>
    </ul>
  </div>
  <div class="block-info-right-menu-link">
    <ul>
      <li><a href="lechenie-gipnozom/2019-04-02-gipnolog-gipnoterapevt.html">Гипнолог, гипнотерапевт</a></li>
      <li><a href="lechenie-gipnozom/">Гипнотерапия</a></li>
      <li><a href="lechenie-gipnozom/2019-04-01-psihoterapiya.html">Психотерапия</a></li>
      <li><a href="lechenie-gipnozom/2019-04-01-psihologicheskaya-pomoshh.html">Психологическое консультирование</a></li>
      <li><a href="lechenie-gipnozom/2019-04-01-dlya-muzhchin.html">Проблемы мужчин</a></li>
      <li><a href="lechenie-gipnozom/2019-04-01-dlya-zhenshhin.html">Проблемы женщин</a></li>
      <li><a href="useful/">Полезное</a></li>
      <li><a href="video/">Видео</a></li>
    </ul>
  </div>
</div>