<!DOCTYPE html>
<html lang="ru">
<head>
  <base href="{{ site.baseurl }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title and page.title != 'Home' %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
  <meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="img/favicon.png">
  <meta property="og:image" content="img/@1x/preview.jpg">
  <link rel="stylesheet" href="css/main.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>