<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      HYPNOSIS24.PRO
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li {% if page.url contains '/lechenie-gipnozom/' %}class="nav-item active"{% endif %} class="nav-item">
        <a class="nav-link" href="lechenie-gipnozom/">Лечение гипнозом</a>
        </li>
        <li {% if page.url contains '/metody-raboti/' %}class="nav-item active"{% endif %} class="nav-item">
        <a class="nav-link" href="metody-raboti/">Методы работы</a>
        </li>
        <li {% if page.url contains '/price/' %}class="nav-item active"{% endif %} class="nav-item">
        <a class="nav-link" href="price/">Цена</a>
        </li>
        <li {% if page.url contains '/useful/' %}class="nav-item active"{% endif %} class="nav-item">
        <a class="nav-link" href="useful/">Полезное</a>
        </li>
        <li {% if page.url contains '/video/' %}class="nav-item active"{% endif %} class="nav-item">
        <a class="nav-link" href="video/">Видео</a>
        </li>
        <li {% if page.url contains '/contacts/' %}class="nav-item active"{% endif %} class="nav-item">
        <a class="nav-link" href="contacts/">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>