<section class="service">
  <div class="service-row">
    <section class="content">
      <div class="cards">
        <div class="card">
          <div class="card__side card__side--front card__side--front-1">
            <div class="card-img img-block1">
              <div class="card__description">Гипнолог, гипнотерапевт</div>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__description">
              <p><strong>Гипнолог, гипнотерапевт — </strong>это специалист, деятельность которого связана с лечением при помощи гипноза.</p>
              <a href="lechenie-gipnozom/2019-04-02-gipnolog-gipnoterapevt.html">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__side card__side--front card__side--front-1">
            <div class="card-img img-block2">
              <div class="card__description">
                <h3>Гипнотерапия</h3>
              </div>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__description">
              <p><strong>Гипнотерапия – </strong>Гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания на всю жизнь, а не ее симптом!</p>
              <a href="lechenie-gipnozom/">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__side card__side--front card__side--front-1">
            <div class="card-img img-block3">
              <div class="card__description">
                <h3>Психотерапия</h3>
              </div>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__description">
              <p><strong>Психотерапия – </strong>это система лечебного воздействия на психику, а через психику на организм человека. В результате этой деятельности достигается избавление человека от различных проблем (эмоциональных, соматических, личностных, социальных и т. п.).</p>
              <a href="lechenie-gipnozom/2019-04-01-psihoterapiya.html">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__side card__side--front card__side--front-1">
            <div class="card-img img-block4">
              <div class="card__description">
                <h3>Психологическое консультирование</h3>
              </div>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__description">
              <p>Задачи психологического консультирования делятся на коррекционное воздействие, и задачи, устремленные на достижение личностного роста, саморазвития и жизненной успешности.</p>
              <a href="lechenie-gipnozom/2019-04-01-psihologicheskaya-pomoshh.html">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__side card__side--front card__side--front-1">
            <div class="card-img img-block5">
              <div class="card__description">
                <h3>Проблемы мужчин</h3>
              </div>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__description">
              <p>Наиболее часто встречающиеся проблемы у мужчины, с которыми вы можете обратиться к нам за помощью.</p>
              <a href="lechenie-gipnozom/2019-04-01-dlya-muzhchin.html">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__side card__side--front card__side--front-1">
            <div class="card-img img-block6">
              <div class="card__description">
                <h3>Проблемы женщин</h3>
              </div>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__description">
              <p>Наиболее часто встречающиеся проблемы у женщины, с которыми вы можете обратиться к нам за помощью.</p>
              <a href="lechenie-gipnozom/2019-04-01-dlya-zhenshhin.html">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>