<div class="stages">
  <div class="stages-row">
    <div class="stages-item">
      <div class="stages-item-img">
        <img src="img/stages-1.jpg" alt="" />
      </div>
      <div class="stages-item-info">
        <h3>I Этап – диагностика</h3>
        <p>
          Прежде чем приступить к гипнотерапии, нам с Вами необходимо выяснить следующее: какой у вас запрос, нужна ли вам терапия, чем мы можем вам помочь и как.
        </p>
        <p>
          Поэтому еще в самом начале мы предлагаем вам пройти патопсихологический анализ, который проводим во время нашей с вами первой встречи. Средняя продолжительность патопсихологического анализа один час.
        </p>
        <p>
          Во время комплексного патопсихологического анализа мы с вами определим основной запрос на терапию, с которым будем работать, критерии положительного результата, имеются ли у вас противопоказания к гипнозу. Также во время первой встречи мы отвечаем на ваши вопросы.
        </p>
        <p>
          По итогам этой встречи для Вас мы разрабатываем индивидуальную стратегию гипнотерапии, обговариваем график встреч и заключаем психотерапевтический контракт...
        </p>
      </div>
    </div>
    <div class="stages-item">
      <div class="stages-item-img">
        <img src="img/stages-2.jpg" alt="" />
      </div>
      <div class="stages-item-info">
        <h3>II Этап – гипнотерапия</h3>
        <p>
          <strong>Практика уже показала эффективность нашего подхода.</strong>
        </p>
        <p>
          <strong>
            Мы нацелены на качественный результат в кратчайшие сроки.
          </strong>
        </p>
        <p>
          Гипнотерапия включает в себя личностную проработку, освобождение от психологических комплексов, телесных зажимов, проработку негативных эмоций и психотравм и др., все то, что вы накопили за свою жизнь и что хотите изменить.
        </p>
        <p>
          Результатом гипнотерапии происходит улучшение физического психологического состояния, снятие внутренних противоречий, улучшение качества жизни и позитивные изменения.
        </p>
        <p>
          То есть Ваша жизнь меняется и вы учитесь ею управлять...
        </p>
      </div>
    </div>
    <div class="stages-item">
      <div class="stages-item-img">
        <img src="img/stages-3.jpg" alt="" />
      </div>
      <div class="stages-item-info">
        <h3>Стоимость приема</h3>
        <p>
          Самые низкие расценки за лечение гипнозом в Москве! Мы боремся за здоровье наших пациентов, поэтому устраняем причину заболевания, а не её симптом!
        </p>
        <hr />
        <p>
          <strong>Первичный прием -</strong>
          продолжительность приема 60 минут. Включает в себя тщательный патопсихологический анализ.
          <span>Стоимость – 3000руб.</span>
        </p>
        <hr />
        <p>
          <strong>Сеанс гипноза -</strong>
          Продолжительность сеанса 1-3 часа.
          <span>Стоимость – 3000 руб./час</span>
        </p>
        <hr />
        <p>
          <strong>Психологическая помощь -</strong>
          индивидуальная консультация психолога, психотерапевта.
          <span>Стоимость – 2500 руб./час.</span>
        </p>
        <hr />
        <p>
          <strong>Лечебная общеукрепляющая гипнотерапия-релаксация.</strong>
          <span>Стоимость – 3000руб.</span>
        </p>
        <hr />
      </div>
    </div>
  </div>
</div>
