<section class="top-slider">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/slide1.jpg" class="d-block w-100 over" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/slide2.jpg" class="d-block w-100 over" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/slide3.jpeg" class="d-block w-100 over" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/slide4.jpg" class="d-block w-100 over" alt="...">
        </div>
        <div class="carousel-caption">
          <h1>Лечение Гипнозом, сеансы гипнолога в Москве</h1>
          <hr>
          <p>
            Лечение гипнозом в Москве у гипнотерапевта с опытом работы более 20 лет. Сеансы лечения проводятся только
            индивидуально. Для лечения используются авторские методы работы, позволяющие выявить и устранить пусковые и
            корригирующие причины нарушения в деятельности организма, даже в очень сложных, практически безнадежных
            случаях...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>