<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url({{ post.image }})"></div>
    <div class="details">
      <span>Поделиться</span>
      {% include /useful-share.html %}
    </div>
  </div>
  <div class="description">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
    <p class="read-more">
      <a href="{{ post.url }}">Подробнее</a>
    </p>
  </div>
</div>