<a href="http://vk.com/share.php?url={{ site.url }}/{{ post.url }}&title={{ post.title }}&description={{ post.description }}&image={{ site.url }}/{{ post.image }}&noparse=true
">VK.com</a>
<a href="https://connect.ok.ru/dk?cmd=WidgetSharePreview&st.cmd=WidgetSharePreview&st.description={{ post.description }}&st.title={{ post.title }}&st.hosterId=47126&st._aid=ExternalShareWidget_SharePreview&st.imageUrl={{ site.url }}/{{ post.image }}&st.shareUrl={{ site.url }}/{{ post.url }}
">OK.ru</a>
<a href="http://connect.mail.ru/share?url={{ site.url }}{{ post.url }}&title={{ post.title }}&description={{ post.description }}&imageurl={{ site.url }}/{{ post.image }}
">mail.ru</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}
">facebook.com</a>
<a href="https://twitter.com/share?url={{ site.url }}{{ post.url }}&text={{ post.title }}
">twitter</a>
