{% include /head-home.html %} {% include /head-navbar.html %} {% include /heading-post.html %}

<section class="content-post">
  <div class="content-post-row">
    <div class="content-post-row-info">
      {% include nav-breadcrumbs.html %}
      <div class="block-tabs-wrap">
        <ul id="accordion" class="accordion">
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">О гипнозе</a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">
                  Вреден ли гипноз
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-04-vred-ili-polza-gipnoza-dlya-cheloveka.html">
                  Вред или польза гипноза для человека
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-02-gipnolog-gipnoterapevt.html">
                  Гипнолог гипнотерапевт
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-03-gipnabelnost.html">
                  Гипнабельность
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Вспомнить с помощью гипноза
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <h3>Что с помощью гипноза можно вспомнить?</h3>
                <h3>
                  Вот далеко не полный список того, что можно восстановить в памяти с помощью гипноза:
                </h3>
                <ul>
                  <li>
                    Восстановить целые события прошлого, даже если при этом находился в алкогольном опьянении, легкой и средней степени;
                  </li>
                  <li>Забытые номера телефонов;</li>
                  <li>Пароли;</li>
                  <li>Автомобильные номера, марка и цвет автомобиля;</li>
                  <li>Адреса;</li>
                  <li>Спрятанные ранее вещи;</li>
                  <li>Дорогу, по которой ехал или куда-то заезжал;</li>
                  <li>
                    Вспомнить особые приметы и составить фоторобот. Вспомнить черты лица, цвет глаз, одежду, запахи, голос, рост, прическу, строение носа, и т.д.
                  </li>
                </ul>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-04-vspomnit-s-pomoshhyu-gipnoza.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Невротические расстройства (невроз) - Навязчивые состояния, Фобии, Страхи, Панические атаки
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <ul>
                  <li>Повышенная раздражительность. Чрезмерная тревожность</li>
                  <li>Как вылечить фобии и страхи используя гипноз</li>
                  <li>Тревожное расстройство</li>
                  <li>Страх замкнутого пространства</li>
                  <li>Страх высоты</li>
                  <li>Страх темноты</li>
                  <li>Страх публичных выступлений</li>
                  <li>Страх поездки в метро</li>
                  <li>Страх перед полетом</li>
                  <li>Страх одиночества</li>
                  <li>Панические атаки</li>
                  <li>Гипнотерапия психотравм</li>
                </ul>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-fobii-strahi-panicheskie-ataki.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Расстройства пищевого поведения
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-07-anoreksiya.html">Нервная анорексия</a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-07-bulimiya.html">Нервная булимия</a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-05-nekontroliruemoe-pereedanie.html">Неконтролируемое переедание</a>
              </li>
              <li class="sub-accordion__item">Мышечная дисморфия(МД)</li>
              <li class="sub-accordion__item">Пикацизм</li>
              <li class="sub-accordion__item">Мерицизм</li>
              <li class="sub-accordion__item">
                Избегание/ограничение приёма пищи (ИПП)
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-lishnij-ves.html">
                  Сбросить лишний вес
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-rasstrojstva-pishhevogo-povedeniya.html">
                  Расстройство пищевого поведения
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">Боли</a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-03-07-golovnye-boli.html">
                  Лечение головных болей
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-03-07-lechenie-boli-pri-artroze.html">
                  Лечение боли при артрозе
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-03-07-lechenie-hronicheskih-bolej.html">
                  Лечение хронических болей
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-03-07-lechenie-boli-pri-boleznyah-sustavov.html">
                  Лечение болей при болезнях суставов
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Половые расстройства у женщин
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-07-05-polovye-rasstroistva-u-zhenshhin.html">
                  Половые расстройства у женщин
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-07-05-lechenie-frigidnosti.html">
                  Фригидность
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-07-05-lechenie-vaginizma.html">
                  Вагинизм
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-07-05-lechenie-dispareunii.html">
                  Диспареуния
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-07-05-nimfomaniya.html">
                  Нимфомания
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Половые расстройства у мужчин
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-polovye-rasstroistva-u-muzhchin.html">
                  Половые расстройства у мужчин
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-02-strah-pered-seksom-u-muzhchin.html">
                  Страх перед сексом. У мужчин
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-03-lechenie-impotencii.html">
                  Лечение импотенции
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Аллергические болезни
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <ul>
                  <li>Аллергический ринит</li>
                  <li>Аллергический коньюктивит</li>
                  <li>Поллиноз</li>
                  <li>Крапивница и отек Квинке</li>
                  <li>Атопический дерматит</li>
                  <li>Бронхиальная астма</li>
                  <li>Анафилактический шок</li>
                  <li>Экзогенный аллергический альвеолит</li>
                  <li>Контактный аллергический дерматит</li>
                  <li>И др.</li>
                </ul>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-allergicheskie-bolezni.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Депрессия, горе или тяжелая утрата
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <ul>
                  <li>Депрессия</li>
                </ul>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-lechenie-depressii.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Нервный тик
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <h3>Лечение нервного тика.</h3>
                <p>
                  Нервный тик – патологическое состояние характеризующееся расстройством стереотипных движений, при котором появляются внезапные и повторяющиеся отрывистые движения определенных групп мышц. Причиной проявления такого состояния, является рассогласование функций центральной нервной системы.
                </p>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-nervnyj-tik.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">Заикание</a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <h3>Заикание — логоневроз (навязчивый страх общения).</h3>
                <p>
                  Одним из наиболее распространенных видов речевых расстройств у детей и взрослых является заикание. Логоноврозом страдают чаще дети, нежели взрослые. Заикание — нарушение речи, для которого характерно частое повторение звуков, слогов и слов, либо их удлинение. Также формируется нерешительность в речи, в результате которой, частая остановка, разрывающая её ритмичное и плавное течение. Лица, страдающие заиканием, лишены возможности нормального общения с окружающими. Постоянные затруднения в речи травмируют психику больных, вызывая различные невротические расстройства.
                </p>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-zaikanie.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Нарушение менструального цикла
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <p>
                  Нарушение цикла – не тот случай, который должен остаться без внимания, поскольку отсутствие лечения может привести к негативным последствиям для женского здоровья:
                </p>
                <ul>
                  <li>
                    Повышение утомляемости вплоть до полной потери трудоспособности.
                  </li>
                  <li>Бесплодие.</li>
                  <li>
                    Развитие воспалительных заболеваний женской половой системы.
                  </li>
                  <li>Развитие эндокринных расстройств.</li>
                </ul>
                <p>Нарушение менструации может проявляться по-разному:</p>
                <ul>
                  <li>Аменорея – отсутствие месячных от полугода и более.</li>
                  <li>Олигоменорея - наступление месячных единожды в год.</li>
                  <li>
                    Опсоменорея - скудные месячные, которые длятся не более 1–2 дней.
                  </li>
                  <li>И др.</li>
                </ul>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-07-05-lechenie-narushenij-menstrualnogo-cikla.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Вегето-сосудистая дистония (ВСД)
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <h3>Лечение вегетососудистой дистонии (ВСД).</h3>
                <p>
                  Одним из наиболее частых неврологических заболеваний является вегетососудистая дистония, которое встречается у 40% взрослого населения планеты. Вегетососудистая дистония (ВСД, нейроциркуляторная дистония, соматоформная вегетативная дисфункция нервной системы) – нарушение нервной системы на фоне психических расстройств или соматических заболеваний, для которого характерно общее нарушение самочувствия и состояния больного. Проявляется ВСД нарушениями в работе многих органов и систем организма.
                </p>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-vsd.html">Подробнее</a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Синдром раздраженного кишечника (СРК)
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <h3>Синдром раздраженного кишечника.</h3>
                <p>
                  Синдром раздраженного кишечника (СРК) – это нарушение работы пищеварительной системы с традиционными для расстройства симптомами: боль, спазмы, метеоризм, запор и диарея.
                </p>
                <p>
                  Синдром раздраженного кишечника (СРК) - одно из наиболее часто встречающихся заболеваний современного человека. Как утверждает статистика, синдромом раздраженного кишечника болеет примерно каждый четвертый человек. Однако лишь каждый третий из их числа обращается за помощью. Средний возраст заболевших составляет 30-40 лет. Болезнь так же известна под названиями невроз кишечника или синдром раздраженной толстой кишки.
                </p>
                <p>
                  Многочисленные исследования ученых подтвердили, что причиной СРК является нарушение в
                </p>
              </li>

              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-sindrom-razdrazhennogo-kishechnika-srk.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Обсессивно-компульсивное расстройство (ОКР)
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <h3>Обсессивно - компульсивное расстройство (ОКР)</h3>
                <p>Обсессивно - компульсивное расстройство (ОКР, невроз навязчивых состояний) – одно из самых серьёзных по степени поражения страдающих им людей тревожных расстройств. В тяжёлой форме оно превращается в навязчивые мысли и утомительные действия, которые становятся основным видом ежедневной умственной активности заболевшего. Это расстройство вызывает сильное недомогание, негативно влияющее на все жизненные сферы: семью, работу, учёбу, социальную жизнь, досуг, эмоции, настроение и т.д.</p>
                <p>Обсессивно-компульсивное расстройство характеризуется появлением навязчивых мыслей (обсессий) и утомительных действий (компульсий), с которыми человек не может справиться, даже если пытается.</p>
              </li>
              <a href="lechenie-gipnozom/2019-04-01-obsessivno-kompulsivnoe-rasstrojstvo-okr.html">Подробнее</a>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Любовная зависимость
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <p>
                  Одной из самых распространенных проблем, с которой люди обращаются за помощью к гипнотерапевтам, является любовная зависимость. Это достаточно серьезная проблема, поскольку такая зависимость, как и многие другие зависимости, часто приводит человека к сильным страданиям, душевной боли, и большим неоправданным жертвам. Если человек заболел любовью, впал в зависимость от нее, то сам без последствий он из этого состояния уже не выберется. Такому человеку требуется квалифицированная помощь.
                </p>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-05-lyubovnaya-zavisimost.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Неуверенность в себе, заниженная самооценка и комплекс неполноценности
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <h3>
                  Заниженная самооценка, неуверенность в себе и комплекс неполноценности.
                </h3>
                <p>
                  В нашем обществе в просторах огромных мегаполисов, проблема неуверенности в себе и комплекса неполноценности становится глобальной.
                </p>
                <p>
                  <strong>
                    Неуверенность в себе и комплексы – это низкая самооценка и страх неудачи!
                  </strong>
                </p>
                <p>
                  Неуверенность в себе — это присутствие сомнений в своих умениях, выборах, силах, и исполнении задуманного, на почве чего возникает внутренний страх, а в критичных случаях даже отказ от выполнения активных действий. Сомнения часто одолевают таких людей. Даже принятие пустякового решения связано с большими усилиями. Неуверенность часто возникает в ситуации незнакомой среды и человек начинает вести себя агрессивно или, наоборот, замыкается в себя. Что в первом, что во втором случае — поведение становится неадекватным и приводит к проигрышной ситуации.
                </p>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-neuverennost-v-sebe-zanizhennaya-samoocenka-i-kompleks-nepolnocennosti.html">
                  Подробнее
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">Здоровье</a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-sindrom-hronicheskoi-ustalosti.html">
                  Синдром хронической усталости
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-lechenie-stressa.html">
                  Лечение стресса
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-01-bessonnica.html">
                  Бессонница
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-06-lechebnaya-gipnoterapiya-relaksaciya.html">
                  Лечебная гипнотерапия релаксация
                </a>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Вредные привычки
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <ul>
                  <li>Зависимости</li>
                  <li>Зависимость от сект</li>
                  <li>Любовная зависимость</li>
                  <li>Лечение наркомании</li>
                  <li>Лечение компьютерной зависимости</li>
                  <li>Лечение интернет зависимости</li>
                  <li>Лечение алкоголизма</li>
                  <li>Избавление от вредных привычек</li>
                  <li>Игровая зависимость</li>
                  <li>Бросить курить</li>
                  <a href="lechenie-gipnozom/2019-04-01-vrednye-privychki.html">Подробнее</a>
                  <li>
                    <a href="lechenie-gipnozom/2020-01-01-alkogolnaya-zavisimost.html">Лечение алкоголизма</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="accordion__item">
            <a href="javascript:void(0);" class="accordion__link">
              Личностный рост
            </a>
            <ul class="sub-accordion">
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-06-lechebnaya-gipnoterapiya-relaksaciya.html">
                  Лечебная гипнотерапия-релаксация
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-upravlenie-gnevom.html">
                  Управление гневом
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-01-05-strah-publichnyh-vystuplenij.html">
                  Страх публичных выступлений
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-sportivnye-rezultaty.html">
                  Спортивные результаты
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-neuverennost-v-sebe-zanizhennaya-samoocenka-i-kompleks-nepolnocennosti.html">
                  Неуверенность в себе
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-motivaciya.html">
                  Мотивация
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-lechenie-stressa.html">
                  Гипнотерапия для снятия стресса
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2020-01-05-trudnosti-v-obshhenii-s-lyudmi.html">
                  Трудности в общении с людьми
                </a>
              </li>
              <li class="sub-accordion__item">
                <a href="lechenie-gipnozom/2019-04-01-podgotovka-k-ekzamenam.html">
                  Подготовка к экзаменам
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    {% include /block-right-menu.html %}
  </div>
</section>

<script src="js/accordion.js"></script>
{% include /footer.html %}
