{% include /head-home.html %}

{% include /head-navbar.html %}

<section class="heading-post">
    <div class="heading-post-wrap">
        <h1>{{ page.title }}</h1>
    </div>
</section>
<section class="content-post">
    <div class="content-post-row">
        <div class="content-post-row-info">
            {% include nav-breadcrumbs.html %}
            {{ content }}
            <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,twitter,blogger,tumblr,viber,whatsapp,telegram"></div>
        </div>
        {% include /block-right-menu.html %}
    </div>
</section>

{% include /footer.html %}