{% include /head-home.html %}

{% include /head-navbar.html %}

<section class="heading-post">
    <div class="heading-post-wrap">
        <h1>{{ page.title }}</h1>
    </div>
</section>
<section class="content-post">
    <div class="content-post-row">
        <div class="content-post-row-info">
            {% include nav-breadcrumbs.html %}
            {{ content }}
        </div>
        {% include /block-right-menu.html %}
    </div>
</section>

{% include /footer.html %}