---
layout: page
title:  Любовная зависимость
description: Одной из самых распространенных проблем, с которой люди обращаются за помощью к гипнотерапевтам, является любовная зависимость...
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p>Одной из самых распространенных проблем, с которой люди обращаются за помощью к гипнотерапевтам, является любовная зависимость. Это достаточно серьезная проблема, поскольку такая зависимость, как и многие другие зависимости, часто приводит человека к сильным страданиям, душевной боли, и большим неоправданным жертвам. Если человек заболел любовью, впал в зависимость от нее, то сам без последствий он из этого  состояния уже не выберется. Такому человеку требуется  квалифицированная помощь.</p>
<p><strong>Любовная зависимость – это</strong> сильная страсть, а также навязчивая эмоциональная фиксация индивида на важном для него субъекте. Любовная зависимость не является видом любви. Она является одним из видов патологической зависимости, таким же, как наркотическая, алкогольная,  игровая зависимость и зависимость от секты.</p>
<p>Несмотря на это, многие люди принимают зависимость за любовь. И они искренне считают, что боль – это свойство любви, хотя на самом деле это свойство зависимости. И пока свою душевную боль человек воспринимает как проявление своей любви, он от нее избавляться не хочет. Потому, что «настоящая любовь стоит страданий!»</p>
<p>Зависимые  люди не всегда  понимают — где любовь, а где патологическая зависимость. И если любовь — всегда прекрасное и облагораживающее душу чувство, то любовная зависимость — прямая антитеза, полная противоположность любви. Признать это не всегда просто, но нужно, если ты хочешь жить дальше свободно и счастливо.</p>
<p>Первый шаг, который делает больной навстречу выздоровлению — в том, чтобы признать проблему, сказать себе: «Да, у меня не любовь, у меня зависимость, самая настоящая патологическая зависимость. Я не люблю этого человека, я болею этой ситуацией! С этим нужно что-то делать!»</p>
<p>Нам уже много раз приходилось успешно лечить от любовной патологической зависимости как женщин, так и мужчин, как девушек, так и парней, самого разного возраста. Любовные ситуации у всех были самыми разными, а вот последствия очень похожими — острая нелюбовь к себе и патологическая зависимость от объекта любви, (объекта любви, кстати, часто совершенно недостойного этой любви). Патологическая зависимость (любая) — это болезнь, это крайне нездоровое состояние твоей психики, которая в остальных отношениях может быть совершенно здорова, но именно эта зависимость делает тебя рабом ситуации и своих чувств. От зависимости нужно лечиться, тогда придет и счастье и подлинная любовь.</p>
<p><strong>Не тратьте свою жизнь впустую на того, кому вы не нужны. Дайте себе возможность жить своей жизнью и жизнью того человека, который будет любить вас так же сильно как вы его!</strong></p>
<p>Если тебя одолевает любовная зависимость, если ты хочешь раз и навсегда избавиться от нее и снова стать самим собой — гордым, свободным, счастливым и независимым человеком, то мы поможем тебе в этом. Существуют разные способы лечения любовной зависимости, но единственным эффективным методом, является гипноз от любовной зависимости. Именно гипноз даёт самый быстрый и эффективный результат по избавлению от этого патологического состояния.</p>
<p><strong>Разработанная нами авторская методика   для преодоления навязчивого состояния, поможет вам избавиться от этого недуга на всю жизнь за один – три сеанса!</strong></p>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время. Она нацелена на избавление от  причин возникновения психической зависимости. </strong></p>
<p><strong>Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</strong></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<h3>Возможны ли побочные действия от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полное 100% избавление от депрессии на всю жизнь.</li>
    <li>Устранение причин заболевания всего за один – три сеанса.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь. </a>
<p>Самостоятельные попытки избавиться от этого навязчивого состояния приводит к закреплению новых опасений, страхов и чувств, с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности. Сознательными доводами невозможно устранить этот недуг, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p>Мы поможем разобраться с причинами любовной зависимости, с помощью гипноза найти и проработать их на глубинном уровне. Пройдя курс гипнотерапии, вы легко сможете взглянуть на себя и свою жизнь по новому.</p>
<p>
    <strong>Будьте здоровы и счастливы!</strong>
</p>



