---
layout: page
title: Синдром раздраженного кишечника (СРК)
description: Синдром раздраженного кишечника (СРК)  – это нарушение работы пищеварительной системы с традиционными для расстройства симптомами боль, спазмы, метеоризм, запор и диарея.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<h3>Синдром раздраженного кишечника.</h3>
<p>Синдром раздраженного кишечника (СРК)  – это нарушение работы пищеварительной системы с традиционными для расстройства симптомами: боль, спазмы, метеоризм, запор и диарея.</p>
<p>Синдром раздраженного кишечника (СРК) - одно из наиболее часто встречающихся заболеваний современного человека. Как утверждает статистика, синдромом раздраженного кишечника  болеет примерно каждый четвертый человек. Однако лишь каждый третий из их числа обращается за помощью. Средний возраст заболевших составляет 30-40 лет.  Болезнь так же известна под названиями невроз кишечника или синдром раздраженной толстой кишки.</p>
<p><strong>Многочисленные исследования ученых подтвердили, что причиной СРК является нарушение в психической деятельности человека.</strong></p>
<p>Чтобы понять, почему так происходит, следует разобраться в механизме работы кишечника.</p>
<p>Кишечник имеет свою собственную нервную систему, которая называется энтеральной. Она является частью вегетативной нервной системы и напрямую не зависит от центральной нервной системы. Однако регулирующие отделы мозга ответственны за выработку веществ, управляющих работой вегетативной нервной системы, в том числе и нервной системы кишечника. Подобная связь носит название оси кишечник-мозг и является двусторонней. А при нарушении в психической деятельности, начинаются сбои в функционировании этого механизма. Мозг дает неправильные сигналы кишечнику, а тот, в свою очередь, неверно информирует мозг о происходящих в нем процессах. Происходит нарушение моторики кишечника.</p>
<p><strong>Неприятные признаки при патологии синдрома раздраженного кишечника проявляются в комплексе или по отдельности. Заболевание может принять одну из следующих форм:</strong></p>
<ul>
  <li>СРК с ярко выраженной диареей или нарушением дефекации в сторону послабления (нечастый жидкий стул);</li>
  <li>синдром раздраженного кишечника с образованием запоров;</li>
  <li>СРК без изменения стула, но с ярко выраженными болезненными ощущениями, спазмами, вздутиями или образованием газов в кишечнике;</li>
  <li>болезнь СРК с переменным стулом (когда в зависимости от некоторых условий, понос сменяется запором и наоборот).</li>
</ul>
<p><strong>Первый вариант</strong> синдрома раздраженного кишечника наиболее распространен, он характеризуется проявлением ярко выраженных позывов к дефекации практически сразу после приема пищи. Количество потребностей в испражнении в этом случае сильно возрастает.</p>
<p><strong>Второй</strong> вариант СРК проявляется в виде запоров до 2-3 суток, при которых возникает резь внутри живота, кишечные колики или ноющие боли. Стул становится плотным, может иметь примесь слизи.</p>
<p><strong>Третий</strong> вариант СРК протекает без ярко выраженного нарушения стула, он остается нормальным или немного увеличивается количество позывов, однако форма и плотность кала не меняются. При этом неприятные признаки СРК беспокоят больного. Это могут быть боли и рези в районе низа живота и боков, вздутие и отхождение газов.</p>
<p><strong>Четвертый вариант</strong> СРК включает в себя все возможные признаки. Расстройства стула чередуются в зависимости от различных факторов, при этом проявляются спастические, колющие, острые или ноющие боли в области живота, метеоризм, образование слизи. Также таких больных часто беспокоит тревожное чувство необходимости посетить туалет снова сразу после испражнения.</p>
<h3>Влияние СРК на организм человека.</h3>
<p>Симптомы СРК, как частые диарея и запор далеко не безобидны, поскольку они создают повышенную нагрузку на прямую кишку и могут приводить к таким болезням, как геморрой, трещины в заднем проходе и парапроктит. Особенно это касается запора. Диарея вдобавок способствует еще и обезвоживанию организма. Также не стоит оставлять без внимания скрытые причины заболевания – тревожные и депрессивные состояния, которые могут привести и к гораздо более серьезным проблемам с организмом.</p>
<p>Также у больных присутствуют и вегетативные расстройства, такие, как головные боли, бессонница, синдром хронической усталости. Может также наблюдаться синдром раздраженного мочевого пузыря. Но самое главное, что приступы болей и нарушения стула приводят к снижению качества жизни. При внезапных приступах болезни у человека могут возникать проблемы с выполнением своих рабочих обязанностей или с общением с другими людьми.</p>
<p><strong>К счастью существует эффективный метод борьбы с этой болезнью!</strong></p>
<h3>Лечение.</h3>
<p>За 20 лет практики нами разработана уникальная авторская методика, которая поможет вам справиться с этим расстройством. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет выявить и устранить причину заболевания, бесследно избавив пациента от  СРК, всего за три-пять сеансов.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения, нарушения менструального цикла, нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p><strong>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</strong></p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>Существует внутреннее и внешнее управление организмом.</strong></p>
<p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
<p><strong>Внутреннее управление организма осуществляется на нескольких уровнях:</strong></p>
<ul>
  <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
  <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
  <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
  <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
</ul>
<p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Еще при жизни И. П. Павлова учеником его К. М. Быковым было экспериментально доказана возможность условно - рефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p>Тем, кто страдает СРК не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью, вы навсегда избавите себя от этого навязчивого состояния, всего за три-пять сеансов.</p>
<p><strong>Исследования, проводимые в лечении синдрома раздраженного кишечника (СРК) с помощью гипноза доказали свою эффективность!</strong></p>
<p>Одно из исследований на эту тему было опубликовано в 1984 году (Controlled trial of hypnotherapy in the treatment of severe refractory irritable-bowel syndrome. Lancet 1984 Dec 1;2(8414):1232-4). Это плацебо-контролируемое исследование пока что является одним из наиболее тщательных и информативных, доказавших эффективность гипноза при СРК.</p>
<p>В исследовании участвовали 30 пациентов с тяжёлыми симптомами СРК. Пациентов разделили на две группы по 15 человек. В первой группе проводилась гипнотерапия (7 сеансов), во второй группе в дополнение к обычной психотерапии (также 7 сеансов) назначался препарат плацебо (пустышка). Пациенты из второй группы отмечали некоторое уменьшение боли и вздутия, а также общего самочувствия, но не режима работы кишечника. В группе гипноза наблюдалось значительное снижение выраженности всех основных симптомов. Характерно, что в течение трёх месяцев наблюдения в группе гипноза не отмечено ни одного рецидива.</p>
<p><strong>Ниже приведён график, показывающий динамику двух основных симптомов в группах:</strong></p>
<img class="flImgPost" src="images/lechenie-gipnozom/2019/2019-09-2-sindrom-razdrazhennogo-kishechnika-(srk)/grafik.png" title="{{ post.title }}" alt="{{ post.title }}">
<p>Так, уже в 1987 году опубликовано исследование британских специалистов (Hypnotherapy in severe irritable bowel syndrome: further experience. Gut, 1987, 28, 423-425), в котором в течение 18 месяцев наблюдались 50 пациентов, в том числе 15 человек из первой группы предыдущего исследования. Все пациенты оставались в ремиссии, хотя у двоих наблюдались короткие рецидивы, с которыми удалось справиться с помощью единственного сеанса гипноза.</p>
<p>Это исследование подтвердило эффективность гипнотерапии при СРК, а также показало некоторые различия в группах пациентов в зависимости от возраста, наличия дополнительных психопатологических проблем или характера течения заболевания. Например, при атипичном течении заболевания на лечение отвечали 43% больных, при наличии сопутствующей психопатологии 60%. Пациенты старше 50 лет гораздо хуже отвечали на гипнотерапию, чем молодые (20% против 100%).</p>
<p>Результаты этих исследований были подтверждены несколькими другими независимыми исследованиями. Во французском исследовании (Hypnoanalgesia in the irritable bowel syndrome, Koustomanis D., Gastroenterol 1997, 112, A746) сообщается, что в группе из 12 пациентов больных СРК после проведения 6-8 сеансов гипнотерапии, направленных на снижение боли, а также после 4 сеансов аутогенной тренировки, значительно снизилась потребность в обезболивающих препаратах. Результат сохранялся через 6 и 12 месяцев наблюдения.</p>
<p>Учёные из Нидерландов в 1999 году (Hypnotherapy in the treatment of irritable bowel syndrome: methods and results in Amsterdam. Scand J Gastroenterol Suppl, 1999, 230:49-51) показали, что у 24 из 27 пациентов с СРК после курса гипнотерапии наступило улучшение.</p>
<p>Наибольшее количество наблюдений включено в статью английских авторов (Hypnotherapy in irritable bowel syndrome: a large-scale audit of a clinical service with examination of factors influencing responsiveness. Am J Gastroenterol 2002 Apr; 97(4):954-61). Они сообщают о 250 пациентах с СРК, которые прошли 12 сеансов гипнотерапии в течение 3 месяцев, а также занимались самогипнозом между сеансами. Наблюдалось значительное улучшение в отношении всех основных симптомов СРК, качества жизни, а также уровня тревожности и депрессии. Улучшение наступило во всех подгруппах пациентов.</p>
<p>Длительность эффекта гипнотерапии при СРК также была доказана в (Long term benefits of hypnotherapy for irritable bowel syndrome. Gut 2003;52:1623–1629). 204 пациента, прошедшие курс гипнотерапии, заполнили опросники, оценивая выраженность симптомов, уровень качества жизни, депрессии и тревожности до лечения, сразу после его окончания и в конце периода наблюдения (до 6 лет). У 71% пациентов было отмечено улучшение, у 81% из них улучшение сохранялось в течение всего периода наблюдения, в то время как остальные 19% сообщали, что ухудшение их состояния было незначительным. За время дальнейшего наблюдения все пациенты показали значительное улучшение по сравнению с состоянием до начала гипнотерапии, и выраженность их симптомов оставалось примерно на одном уровне через 1, 2, 3, 4 и 5+ лет наблюдений. Отмечалось улучшение качества жизни, тревожности и снижение уровня депрессии по сравнению с состоянием до начала лечения (p<0,001). Результаты говорят о том, что положительный эффект гипнотерапии сохранялся как минимум в течение 5 лет.</p>
<p>Наконец, американские авторы (Hypnosis home treatment for irritable bowel syndrome: a pilot study. Int J Clin Exp Hypn 2006 Jan; 54(1):85-99) показали, что у 10 из 19 пациентов положительный эффект имели аудиозаписи гипнотических сеансов. Результат был значительно лучше, чем в контрольной группе (улучшение наступило у 26% пациентов). Однако этот результат был значительно ниже, чем у тех, кто проходил сеансы гипнотерапии тет-а-тет.</p>
<p>Эффективность гипноза при лечении СРК оценивалось также среди детей. Например, голландские исследователи (Hypnotherapy for children with functional abdominal pain or irritable bowel syndrome: a randomized controlled trial.Gastroenterol 2007;133:1430–1436) сравнивали эффективность гипнотерапии (6 сеансов в течение 12 недель) и стандартного медикаментозного лечения в комбинации с 6 сеансами поддерживающей терапии у детей с СРК или функциональными болями в животе. В исследовании участвовали 53 ребёнка от 8 до 18 лет (31 с функциональными болями и 22 с СРК). Через год наблюдений интенсивность болей значительно снизилась в обеих группах, но в группе гипноза эффект оказался намного более выраженным: в группе гипноза лечение было признано эффективным в 85% случаев, в группе сравнения — в 25%.</p>
<p><strong>Таким образом, имеющиеся на сегодняшний день данные убедительно доказывают положительный эффект гипнотерапии в лечении синдрома раздражённого кишечника.</strong></p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочных явлений.</li>
  <li>Полное 100% избавление от синдрома раздраженного кишечника на всю жизнь.</li>
  <li>Устранение причин заболевания всего за три – пять сеансов.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению СРК является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, успокаивает боль в голове и т.п..</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь</a>
<p>Самостоятельные попытки избавиться от СРК приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить проблему СРК, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого синдрома с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><strong>Наш авторский метод лечения позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>