---
layout: page
title: Нервный тик
description: Нервный тик – патологическое состояние характеризующееся расстройством стереотипных движений, при котором  появляются  внезапные и повторяющиеся отрывистые движения определенных групп мышц.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<h3>Лечение нервного тика.</h3>
<p><strong>Нервный тик –</strong> патологическое состояние характеризующееся расстройством стереотипных движений, при котором  появляются  внезапные и повторяющиеся отрывистые движения определенных групп мышц.  Причиной проявления такого состояния, является рассогласование функций центральной нервной системы.</p>
<p>Головной мозг посылает в мышцы «ошибочные» нервные импульсы, которые заставляют их быстро однообразно сокращаться.  То есть,  они происходят помимо воли человека. Но иногда  перед тиком может возникнуть специфическое ощущение, как бы непреодолимое желание совершить движение. При этом человек думает, что он делает это сам, по собственной воле.</p>
<p><strong>В зависимости от проявлений, нервные тики делят:</strong></p>
<ul>
  <li>Мимические– затрагивают мышцы лица. Это наиболее распространенная форма тиков.</li>
  <li>Моторные– затрагивают верхние и нижние конечности, а также другие скелетные мышцы.</li>
  <li>Вокальные (голосовые) – затрагивают голосовые мышцы. Проявляются в виде вскриков, громких вздохов.</li>
  <li>Сенсорные. Проявляются в виде ощущения холода, тяжести в той или иной части тела. Они могут приводить к возникновению движений, напоминающих обычные тики.</li>
</ul>
<p><strong>В зависимости от причины рассогласования нервной системы, различают три вида нервных тиков:</strong></p>
<ul>
  <li>Первичные (идиопатические, неврогенные, психогенные);</li>
  <li>Вторичные (симптоматические). Возникают в результате инфекционных заболеваний головного мозга (энцефалит), при отравлении угарным газом, при приеме психотропных, противосудорожных и других препаратов, при заболеваниях внутренних органов (сахарный диабет, поражение печени и почек), при опухоли головного мозга, при родовых травмах, и т.д.;</li>
  <li>Наследственные (возникают в результате наследственных заболеваний, приводящих к поражениям нервной системы).</li>
</ul>
<h3>Вторичные  и наследственные нервные тики гипнотерапией не лечатся!</h3>
<p><strong>Причины первичных нервных тиков:</strong></p>
<ul>
  <li>Частые сильные стрессы, истощение нервной системы.</li>
  <li>Хроническая усталость.</li>
  <li>Повышенная тревожность.</li>
  <li>Навязчивые страхи (фобии).</li>
  <li>Психоэмоциональная травма.</li>
  <li>И т.д.</li>
</ul>
<p><strong>Причем, психоэмоциональная травма  является основной причиной возникновения навязчивых страхов (фобий), повышенной тревожности, стрессов, и, как следствие, истощение нервной системы и нервного тика!</strong></p>
<p><strong>Психоэмоциональная травма - </strong>вред, нанесённый психическому здоровью человека, в результате сверхсильного одномоментного, или длительного интенсивного воздействия неблагоприятных факторов среды. Часто бывает связана с физической травмой угрожающей жизни, либо нарушающей ощущение безопасности. Это может быть физическое насилие, оскорбление, унижение, сильный испуг, горе и т.д. И как следствие, реакция на негативные события, которая может привести к возникновению нервных тиков.</p>
<h3>Лечение.</h3>
<p>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет найти глубинные причины психотравмы, избавив пациента от навязчивых нервных тиков всего за три - пять сеансов.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p>Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание, неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% избавление от нервного тика на всю жизнь.</li>
  <li>Устранение причин заболевания всего за три – пять сеансов.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p><strong>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>