---
layout: page
title:  Гештальт-психотерапия
description: Гештальт - психотерапия – это метод психотерапии, в основу которого легли работы Фредерика Перлза, Пола Гудмана и Лаура Перлза. Особенностью гештальт-терапии является восприятие личности, как единой структурированной целостности, способной проживать ситуацию и осознавать процесс проживания.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p><b>Гештальт - психотерапия</b> – это метод психотерапии, в основу которого легли работы Фредерика Перлза, Пола Гудмана и Лаура Перлза. Особенностью гештальт-терапии является восприятие личности, как единой структурированной целостности, способной проживать ситуацию и осознавать процесс проживания.</p>
<p>Что же такое гештальт-терапия в понятном для обычного человека смысле? Как разобраться во всех этих «экзистенциализмах», «холистичности» и прочих «совокупностях процессов мнезиса»?</p>
<h4>Что такое гештальт?</h4>
<p>В буквальном переводе с немецкого этот термин значит «образ», «фигура». Гештальт-подход в психотерапии подразумевает восприятие личности человека в составе конкретной ситуации, переживаемой им. По сути, вся наша жизнь – это совокупность всевозможных гештальтов. Выпили чашку кофе или бокал вина – гештальт, поссорились с близким человеком – гештальт, влюбились или возненавидели – снова гештальт!</p>
<p><b>Гештальт может длиться какие-то секунды, а может – месяцы и годы. Но вот основная концепция или цикл его остается неизменным:</b></p>
<ol>
    <li>Контакт и осознавание – человек начинает осознавать потребность или контактировать с объектом потребности. Пример: молодому человеку понравилась увиденная девушка.</li>
    <li>Поиск возможности реализовать потребность, удовлетворить желание. В приведенном примере – поиск возможности для знакомства.</li>
    <li>Удовлетворение потребности: парень познакомился с девушкой и у них завязались отношения.</li>
    <li>Завершение гештальта или выход из контакта. В упомянутом случае это может быть брак, временный или полный разрыв отношений.</li>
</ol>
<p>Ключевым событием является именно завершение (разрушение) гештальта. Незавершенный гештальт становится тяжелой ношей для психики человека, накопление большого количества незавершенных гештальтов способно сломать психику человека, поэтому от них нужно избавляться.</p>
<h4>Как лечат гештальт-психотерапевты.</h4>
<p>Психотерапевт, работающий по этой методике, помогает человеку осознать наличие проблемы. Он не заставляет человека изменить отношение к ситуации, не навязывает другую модель поведения. В процессе терапии человек получает возможность вновь пережить незавершенный гештальт и довести его до логического завершения.</p>
<p>В процессе общения с гештальт-психотерапевтом пациент абстрагируется от всего ложного, ненужного и чужеродного, в результате чего налаживается гармония между внешним миром и внутренним восприятием. «Сознательно осознавая» пережитое, человек избавляется от груза незавершенности, что и является конечной целью этого метода психотерапии.</p>
<p>В сочетании с гипнозом и гипнотерапией данный метод значительно облегчает процесс завершения «дефектных» гештальтов. С помощью гипноза терапевт помогает человеку более полно осознать проблему и нащупать самый эффективный метод ее разрешения. Сочетание гипноза и гештальт-психотерапии – это интегративный подход, который  дает порой самые лучшие результаты при лечении неврозов.</p>
<p><b>Будьте здоровы и счастливы!</b></p>





























