---
layout: page
title: Гипнабельность
description: Гипнабельность –  это, прежде всего психофизиологическое свойство, присущее каждому здоровому человеку. Это, однако, не означает, что всякая попытка гипнотизации любого человека всегда завершится успехом.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p>Вопрос восприимчивости к гипнозу дебатируется  ровно столько, сколько гипноз исследуется.</p>
<p>Гипнабельность –  это, прежде всего психофизиологическое свойство, присущее каждому здоровому человеку. Это, однако, не означает, что всякая попытка гипнотизации любого человека всегда завершится успехом.</p>
<p>Данные одного из последних исследований гипнабельности выглядят так: абсолютно невосприимчивых к гипнозу людей – 6 % от исследованных, в слабый гипнотический сон впало 30 %, в гипотаксию – 49 %, в сомнамбулизм – 15 %.</p>
<p>Но слабый гипнотический сон,  в который впало 30% исследуемых людей, не является гипнозом, и абсолютно не подходит для гипнотерапии. Несмотря на это,  это состояние называют гипнозом и используют в своей работе не менее 90% гипнотерапевтов в РФ, что является  недопустимой ошибкой.</p>
<p>Гипнабельность  прежде всего имеет динамический характер, и один и тот же человек может быть и гипнабельным и нет. Поэтому любая статистика здесь бессмысленна! Исключением из этого правила можно назвать лишь сверхгипнабельных людей, которые склонны к  сомнамбулизму.</p>











