---
layout: page
title: Вспомнить с помощью гипноза
description: С помощью гипноза можно вспомнить любую информацию. Гипноз активизирует и извлекает из инграммы памяти потерянные события, воспоминания, которые человек посчитал важными для него!
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p>Сам термин «гипноз» был введен в середине XIX в. английским врачом Джеймсом Брейдоном, благодаря которому начался расцвет научной концепции гипноза. Этим вопросом занимались такие зарубежные ученые, как А. Бонн, А. Форель, А. Льебо, Ж. Шарко, И. Бернгейм. Отечественными учеными, внесшими свой вклад в развитие гипноза, являются В. М. Бехтерев, И. П. Павлов, В. Я. Данилевский, В. Е. Рожнов, А. Л. Гройсман, К. И. Платонов, А. М. Свядощ, А. П. Слободяник, Е. С. Катков, А. А. Токарский, В. Н. Мясищев, М. П. Кутании, И. З. Вельвовский, М. С. Лебединский, В. В. Кузьмин, П. П. Подъяпольский, А. Т. Пшонник, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, Б. Н. Бирман, и другие.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга  человека,  а через них и на подкорковые структуры, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом.</p>
<p>Но можно ли с помощью гипноза вернуть потерянные события, воспоминания? В большинстве случаев да! С помощью гипноза можно вспомнить любую информацию. Гипноз активизирует и извлекает из инграммы памяти потерянные события, воспоминания, которые человек посчитал важными для него!</p>
<h3>Что с помощью гипноза можно вспомнить?</h3>
<p><strong>Вот далеко не полный список того, что можно восстановить в памяти с помощью гипноза:</strong></p>
<ul>
  <li>Восстановить целые события прошлого, даже если при этом находился в алкогольном опьянении, легкой и средней степени;</li>
  <li>Забытые номера телефонов;</li>
  <li>Пароли;</li>
  <li>Автомобильные номера, марка и цвет автомобиля;</li>
  <li>Адреса;</li>
  <li>Спрятанные ранее вещи;</li>
  <li>Дорогу, по которой ехал или куда-то заезжал;</li>
  <li>Вспомнить особые приметы и составить фоторобот. Вспомнить черты лица, цвет глаз, одежду, запахи, голос, рост, прическу, строение носа, и т.д.</li>
</ul>
<h3>Возможны ли побочные действия от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Корсаков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<h3>Известнейшие ученые исключают возможность опасности гипноза.</h3>
<p>Как отмечает <strong>Л.П. Гримак</strong>  (доктор медицинских наук, профессор)  (1983 г.),  "…всесторонние и тщательные исследования гипнотических явлений зарубежными, русскими учеными не только доказали полную их безвредность для организма человека, но и вскрыли многочисленные положительные стороны гипнотических воздействий, мобилизующих физические и психические резервы организма. Даже психическая иммобилизация в гипнозе, связанная с временным выключением основных интегративных механизмов мозга, способствуют восстановлению нервно-психических функций человека, создают ощущение свежести, внутреннего обновления и радости бытия”.</p>
<p><strong>Д-р Льебо</strong> из Нанси, основатель учения о гипнозе как о методе терапии, писал: «Многолетний опыт использования гипнотического внушения дает мне основание утверждать, что таковое, если им правильно пользоваться, намного эффективнее медицинского лечения. В отличие от лечения лекарствами, оно безопасно, действие его быстро и приятно».</p>
<p><strong>Профессор Брюггельманн</strong> из Падеборна: «На вопрос, может ли гипноз быть опасным, я должен коротко ответить — нет».</p>
<p><strong>Д-р Моль </strong>добавляет: «Кардинальная проблема — не несет ли должным образом выполненное гипнотическое внушение опасности для здоровья. На этот вопрос я отвечаю — нет».</p>
<p><strong>Д-р Рингье </strong>из Цюриха: «Могу лишь повторить то, что говорил неоднократно, а именно: я никогда, ни в одном случае не встречался с вредным действием гипноза».</p>
<p><strong>Директор д-р Шольц</strong> из Бремена: «Я никогда не слышал жалоб на вредные последствия гипноза, которые имели бы место на практике. Это — всего лишь теоретические построения противников гипнотических методов».</p>
<p><strong>Профессор Мебиус:</strong> «Конечно, существуют врачи, имеющие предубеждение против гипноза, однако это именно те люди, у которых нет в данной области собственного опыта, и которые ограничиваются ложными умозаключениями».</p>
<p><strong>Профессор Сазерленд</strong> из Массачусетса: «Как могут говорить об опасностях врачи, сами не сведущие в гипнозе. Покажите мне их, и я внушу им, чтобы они никогда больше не заикались об опасностях внушения».</p>
<p><strong>Д-р Отто Веттерштранд:</strong> «Я предсказываю гипнозу большое будущее и могу лишь присоединиться к мнению, высказанному профессором И. Бернгеймом в его эпохальной работе по внушению, а именно: суггестивная терапия относится к одному из самых ценных завоеваний современной медицины»</p>
<p><strong>Профессор К.А. Иванов-Муромский </strong>в 1971 г. опубликовал данные о том, что гипнотическое состояние в эксперименте создает защитный эффект при действии цианистых соединений, лучевых и рентгеновских излучений. Декларировалась защитная роль трансовых состояний, которые усиливают процессы саморегуляции, обеспечивая защиту мозга от экстремальных воздействий. </p>
<p>Известный исследователь гипноза <strong>нейрофизиолог Дэвид Шпигель (David Spiegel)</strong> из Стенфордского университета (США)  пишет: «гипноз абсолютно безопасен и имеет меньше побочных эффектов, чем самое мягкое лекарство».</p>
<p><strong>Академик В.М.Бехтерев психиатр, невропатолог, физиолог, психолог,</strong> основатель первого в мире научного центра по комплексному изучению человека (психоневрологический институт в Санкт-Петербурге), на основании многочисленных клинических и экспериментальных наблюдений  категорически отрицал патологический характер гипнотического состояния.</p>
<h3>Положительные стороны гипнотерапии:</h3>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта</li>
  <li>Дешевле.</li>
</ul>
<h3>Положительные стороны гипнотического состояния:</h3>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, повышает выработку серотонина, дофамина, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, успокаивает боль, способствует улучшению сосредоточенности, стрессоустойчивости, восстанавливает гомеостаз организма, и т.д.</p>
<p></p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p><strong>Мы поможем восстановить в памяти важные для Вас события. Будьте здоровы и берегите себя!</strong></p>