---
layout: page
title: Лечение депрессии
description: Депрессия – эффективное психическое расстройство, проявляющееся устойчивым снижением настроения, двигательной заторможенностью, снижением, а в тяжелых случаях и полным отсутствием аппетита, отсутствием сил, проблемой со сном, снижением самооценки и чувством вины, возникновением мыслей о самоубийстве и т.д.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<h3>Депрессия.</h3>
<p>Депрессия – эффективное психическое расстройство, проявляющееся устойчивым снижением настроения, двигательной заторможенностью, снижением, а в тяжелых случаях и полным отсутствием аппетита, потерей интереса к жизни, утратой способности переживать радость (ангедония), отсутствием сил, раздражением без видимых причин, автоматизмом в действиях, персеверацией мыслей с нарушением общего мышления, проблемой со сном, снижением самооценки и чувством вины, возникновением мыслей о самоубийстве и т.д. Является самым распространенным психическим расстройством.</p>
<p>По статистике в 93% случаях, причиной развития аффективного расстройства становится острая психическая травма. Депрессии, возникающие в результате психических травм, называют реактивными. Реактивные расстройства провоцируются разводом, смертью или тяжелой болезнью близкого человека, инвалидностью или тяжелой болезнью самого пациента, увольнением, конфликтами на работе, выходом на пенсию, банкротством, резким падением уровня материального обеспечения, переездом и т. д.</p>
<h3>Горе и тяжелая утрата занимает особое место.</h3>
<h3>Психологические и клинические аспекты.</h3>
<p>Горе – это реакция на утрату значимого объекта, утрату части собственной идентичности или ожидаемого будущего.</p>
<p>Утрата — это человеческий опыт, связанный со смертью близкого, а горе — это чувства страдания и их проявления (эмоционально – вегетативные.) Реакция утраты может быть вызвана не только смертью близкого, но и удалением части тела (конечности, органа и т.д.), разрывом родственных связей (развод), увольнением с работы, уходом из родного дома, коллектива и т.д.</p>
<p>Одним из серьезнейших психических расстройств, возникающих после смерти близкого человека, является депрессия. Реакция утраты на смерть близкого человека может проявляться эмоциональным шоком с оцепенением и «окаменелостью» или беспокойством, плачем, нарушением сна, аппетита, сужением сознания на психотравмирующих переживаниях, постоянными воспоминаниями об умершем, душевной тоской и т.п. Клинически выраженная депрессия сохраняется в течение года у 15–20% людей, переживающих утрату.</p>
<p><strong>Реакция на утрату значимого объекта является специфическим психическим процессом, развивающимся по своим законам. Данный период жизни, сопровождающийся трауром, особыми атрибутами и ритуалами, носит очень важную задачу — адаптацию субъекта, перенесшего утрату, к «новой» жизни, жизни без умершего человека.</strong></p>
<p>Острый стресс, связанный с потерей близкого человека, вместе со своими последствиями (бессонницей, дневной утомляемостью, раздражительностью) не проходит бесследно. В зависимости от психопатологической симптоматики, при ситуациях, угрожающих психическому здоровью, необходима помощь гипнотерапевта.</p>
<p>Мысли, чувства и переживания людей, перенесших утрату, индивидуальны, уникальны и неповторимы. Психогенез развития состояния зависит как от силы стрессора (субъективная близость потери), так и от адаптационных механизмов. При его дезадаптации,  возникают патологические состояния.</p>
<h3>Маскированная депрессия.</h3>
<p>Депрессия часто выражается телесными формами. Она может имитировать картину любого нарушения со стороны внутренних органов, как бы прячется под маской другого заболевания (отсюда еще одно название - маскированная депрессия).</p>
<p>Развивается слабость, разбитость, апатия, головокружение, ощущение тяжести, чувство жжения за грудиной, давления в голове, запор или понос, метеоризм, ощущение стеснения и сжатия при дыхании, потеря массы тела, расстройство сна, ощущение жары или холода в области груди, живота, головы, конечностей, чувство кома в горле и т.д.</p>
<p>Во время депрессии человек сам не осознает своего пониженного настроения или связывает его с физическим недомоганием, следствием какого-либо нераспознанного заболевания. Он в течение длительного времени обследуется и лечится без видимого улучшения, по поводу различных соматических или неврологических заболеваний.</p>
<p>Наиболее часто встречаются трудно поддающиеся описанию мучительные боли, разнообразные неприятные ощущения. При болях в животе больные лечатся  от аппендицита, язвенной болезни желудка и двенадцатиперстной кишки, холецистита, панкреатита, пищевого отравления и др.</p>
<p>В связи с жалобами на головные боли и головокружение, другие неприятные ощущения часто неопределенного характера больных лечат от неврастении, мигрени, вегетативно-сосудистой дистонии и др.</p>
<p>В раннем возрасте депрессия проявляется плаксивостью, непослушанием, леностью, в дальнейшем дети плохо учатся, конфликтуют дома и в школе, уходят из дома.</p>
<p>При скрытой форме депрессии нередки случаи расстройства в сексуальной сфере: меняется продолжительность полового акта, уменьшается влечение, притупляется оргазм. Нарушается и пищевое поведение, как в сторону снижения аппетита, так и систематического переедания. То есть плохое настроение является непосредственной причиной нежелательной полноты.</p>
<p>Режим питания хорошо отражает эмоциональное состояние человека. В данном случае характерно утреннее отсутствие аппетита, беспорядочное питание в течение дня и обильные ужины.</p>
<p>Иногда при скрытой депрессии расстройства сна являются основными, а порой единственными проявлениями заболевания. Они, как правило, характеризуются раним пробуждением и сокращением продолжительности ночного сна. Больные легко засыпают, но, поспав несколько часов, пробуждаются. Утром чувствуют себя совершенно разбитыми и только во второй половине дня или к вечеру самочувствие несколько улучшается.</p>
<h3>Симптомы маскированной депрессии.</h3>
<ul>
  <li>Головные боли. Они часто бывают двухсторонние, сжимающие как "обруч", давящие как "каска", возникают периодически, длятся более получаса, иногда сутками и не прекращаются после приема анальгетиков.</li>
  <li>Боль в области сердца - колющие, сжимающие, сопровождаются "жаром" или "холодом" в груди, страхом умереть. Боль не связана с физической нагрузкой и не проходит после приема "сердечных" препаратов.</li>
  <li>Боли в различных частях груди и живота с чувством "распирания", "переливания", "жжения".</li>
  <li>Приступы одышки с ощущениями "недостатка вдоха", "кома в горле". Во многих, этих случаях при обращении к терапевту, серьезного заболевания внутренних органов не выявлено.</li>
</ul>
<p><strong>К счастью существует эффективный метод борьбы с депрессией!</strong></p>
<h3>Лечение депрессии.</h3>
<p>Многие люди обращаются за помощью к гипнотерапевту только после многих лет применения антидепрессантов, нейролептиков, транквилизаторов, когда приходит понимание, что со временем депрессия становится только тяжелее. Лечение депрессии фармакологией не всегда помогает, а если и помогает, то лишь временно, частично устраняя симптомы депрессии, не решая изначальную внутреннюю причину, которая рано или поздно снова приводит к повторению состояния депрессии. С каждым разом депрессия становится всё продолжительней, а симптомы всё тяжелее, постепенно приобретая хроническую форму. Вам не обязательно проверять это на своём опыте, гораздо более эффективно будет при первом эпизоде депрессии сразу обратиться к гипнотерапевту. Мы поможем вам избежать тяжелых последствий, для вашего психического и физиологического здоровья!</p>
<p><strong>Разработанная нами авторская методика для преодоления навязчивого состояния, поможет вам избавиться от этого недуга на всю жизнь за один – три сеанса!</strong></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике  относится к самым результативным услугам в настоящее время, и позволяет, выявить и устранить причину заболевания, бесследно избавив пациента от фобии, страхов, панических атак, депрессии всего за один-три сеанса.</strong></p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными ситуациями возникновения депрессии, которые в дальнейшем, перестали вызывать у них это застрявшее чувство. Тем, кто страдает депрессией не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите себя от этого навязчивого состояния всего за один – три сеанса.</p>
<h3>Возможны ли побочные действия от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% избавление от депрессии на всю жизнь.</li>
  <li>Устранение причин заболевания всего за один – три сеанса.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p>Самостоятельные попытки избавиться от депрессии приводит к закреплению новых опасений, страхов и чувств, с дальнейшим угнетением ЦНС, с повышением раздражительности, тревожности. Сознательными доводами невозможно устранить этот недуг, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><strong>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>
