---
layout: page
title: Бессонница
description: Бессонница (агрипния) широко распространённое расстройство сна, встречающееся у людей всех возрастов.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ':categories/:year-:month-:day-:slug.html'
---

<h3>Нарушение сна.</h3>
<p>
  <strong>Бессонница (агрипния) —</strong>
  широко распространённое расстройство сна, встречающееся у людей всех возрастов. Характеризуется недостаточной продолжительностью или низким качеством сна, происходит на регулярной основе в течение длительного времени.
</p>
<p>
  Агипнию, или бессонницу можно наблюдать при очень обширном ряде заболеваний, поэтому симптомы нарушений сна разнообразны и зависят от вида нарушения. Но каким бы ни было нарушение сна, за короткий период времени оно может привести к изменению эмоционального состояния, внимательности и работоспособности человека.
</p>
<p>
  Наиболее часто встречающееся – психофизиологическое нарушение сна. Основной фактор в развитии психофизиологического нарушения сна – это фактор, связанный с психическим состоянием человека.
</p>
<p><strong>Группы расстройства сна:</strong></p>
<ul>
  <li>
    Пресомнические расстройства. Эта группа объединяет нарушения сна, связанные с трудностью засыпания. В этом случае человеку приходят в голову различные страхи и тревоги, он часами не может заснуть.
  </li>
  <li>
    Интрасомнические расстройства. Данная группа объединяет такие расстройства сна, при которых процесс засыпания более или менее удовлетворителен, но имеют место ночные пробуждения по разным причинам.
  </li>
  <li>
    Постсомнические расстройства сна. При этой группе нарушений сна сам сон и процесс засыпания благополучны, однако, пробуждение наступает довольно рано.
  </li>
</ul>
<p>
  Все эти типы нарушения сна ведут к повышенной утомляемости днем, вялости, усталости, сниженной активности и работоспособности. К этим явлениям добавляется чувство подавленности и плохое настроение. Появляется целый ряд недомоганий, которые обычно связываются человеком с нарушением сна. Эти недомогания носят совершенно разнообразный характер, и могут касаться деятельности всех органов и систем.
</p>
<h3>Причины нарушения сна.</h3>
<ol>
  <li>
    Стрессовые ситуации и психо-эмоциональное перенапряжение. Нарушение сна, возникшее вследствие воздействия стрессоров, является психофизиологической реакцией организма.
  </li>
  <li>
    Эмоциональные расстройства. Тревожные расстройства, нарушения настроения, панические атаки, депрессия.
  </li>
  <li>
    Физиологические расстройства, вызванные психогенным фактором. Это нехватка воздуха, головные или другие боли, кожный зуд, тошнота и т.д.
  </li>
</ol>
<h3>Как вернуть здоровый сон?</h3>
<p>
  Первое, что делают большинство людей - идут в аптеку и покупают лекарственные препараты, в надежде, что приняв таблетку, они избавятся от бессонницы. Дозы препаратов постепенно увеличиваются, но облегчения они, увы, уже не приносят, к тому - же наличие побочных эффектов тоже беспокоит.
</p>
<p>
  <strong>
    К счастью существует эффективный метод борьбы с этой болезнью.
  </strong>
</p>
<p>
  <strong>
    Разработанная нами авторская методика поможет вам избавиться от бессонницы и вернуть здоровье.
  </strong>
</p>
<p>
  Гипноз, как метод лечения бессонницы, давно практикуется в различных странах, в том числе и в России, показывая положительные результаты.
</p>
<p>
  <strong>
    За 20 лет практики нами разработана уникальная авторская методика, которая поможет вам справиться с этим расстройством. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет, выявить и устранить причину этого заболевания вернув здоровый сон.
  </strong>
</p>
<p>
  Мы поможем вам избежать тяжелых последствий, для вашего психического и физиологического здоровья!
</p>
<p>
  В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы, ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения, нарушения менструального цикла, нервные тики, бессонница, логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.
</p>
<p>
  И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.
</p>
<p>
  Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.
</p>
<p>
  <strong>
    Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.
  </strong>
</p>
<p>
  За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными ситуациями возникновения бессонницы, которая в дальнейшем, перестала их беспокоить. Тем, кто страдает агипнией не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью, вы навсегда избавите себя от этого недуга.
</p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>
  Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф.
  Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
</p>
<p>
  <strong>
    Положительные стороны гипнотического лечения фобии, страхов, панических атак:
  </strong>
</p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% избавление от этого недуга.</li>
  <li>Устранение причин заболевания.</li>
  <li>Дешевле.</li>
</ul>
<p>
  Сеанс гипноза по лечению, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..
</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">
  Подробней о пользе гипноза для человека можно прочитать здесь.
</a>
<p>
  Самостоятельные попытки избавиться от агипнии приводит к дальнейшему угнетению ЦНС, с повышением раздражительности, тревожности. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.
</p>
<p>
  <strong>
    Наш авторский метод позволит вам полностью нормализовать здоровый сон и вернуться к нормальной жизни, получая от нее удовольствие.
  </strong>
</p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>
