---
layout: page
title: ВСД - Вегето-сосудистая дистония
description: Одним из наиболее частых неврологических заболеваний является вегетососудистая дистония, которое встречается у 40% взрослого населения планеты.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<h3>Лечение вегетососудистой дистонии (ВСД).</h3>
<p>Одним из наиболее частых неврологических заболеваний является вегетососудистая дистония, которое встречается у 40% взрослого населения планеты.  Вегетососудистая дистония (ВСД, нейроциркуляторная дистония, соматоформная вегетативная дисфункция нервной системы) – нарушение нервной системы на фоне психических расстройств или соматических заболеваний, для которого характерно общее нарушение самочувствия и состояния больного. Проявляется ВСД нарушениями в работе многих органов и систем организма.</p>
<p>Часто больные предъявляют множество различных жалоб. Но при комплексном обследовании больного никаких изменений в органах не обнаруживают, поскольку симптомы возникают при отклонениях в структуре и функциях вегетативной нервной системы. Причины возникновения ВСД кроются в психоэмоциональном состоянии пациента. Зачастую людей убедить в этом очень сложно, ведь человек испытывает настоящие физические боли, а значит, считает, что у него болезнь того или иного органа.</p>
<p>Признаки синдрома вегетососудистой дистонии весьма разнообразны. Симптомы ВСД зависят от того, в какой части системы произошел сбой и на каком органе человека он отразился.</p>
<p><strong>Симптомы бывают двух типов:</strong></p>
<ul>
  <li><strong>Первый тип симптомов — это</strong> жалобы общего характера, такие как тремор, повышенная потливость, усиленное сердцебиение, длительное небольшое повышение температуры, покраснение и беспокойство относительно возможного нарушения здоровья и др.</li>
  <li><strong>Второй тип симптомов — это</strong> жалобы на расстройство работы какого-либо конкретного органа или системы, такие, как  боли по всему телу, ощущение жара, тяжести, усталости или вздутия живота, которые пациент соотносит с каким-либо органом или системой, которые объективными исследованиями часто не подтверждаются.</li>
</ul>
<p><strong>Наиболее частые симптомы ВСД:</strong></p>
<ul>
  <li>Боль в голове.</li>
  <li>Головокружение.</li>
  <li>Общая слабость, утомляемость.</li>
  <li>Повышенное потоотделение.</li>
  <li>Неострые боли в суставах.</li>
  <li>Предобморочные состояния.</li>
  <li>Потеря сознания.</li>
  <li>Ощущения шума в ушах.</li>
  <li>Нарушения сна.</li>
  <li>Нарушения мочеиспускания.</li>
  <li>Перепады настроения.</li>
  <li>Атаки паники.</li>
  <li>Чувство тревоги.</li>
  <li>Мнительность.</li>
  <li>Повышенный пульс.</li>
  <li>Боли в области сердца.</li>
  <li>Нарушения сердечного ритма, бледность кожи, скачки давления.</li>
  <li>Нехватка воздуха,  одышка, мышечные спазмы, нарушение чувствительности пальцев.</li>
  <li>Синдром раздраженного кишечника.</li>
  <li>Сексуальные расстройства.</li>
  <li>Колебания температуры тела в течение дня.</li>
  <li>Нарушение менструального цикла.</li>
</ul>
<p>Вегетососудистая дистония, это,  по сути, нарушение баланса между симпатическим и парасимпатическим отделом системы, в следствии психоэмоционального сбоя. Из-за  нарушения баланса, внутренние органы начинают работать неправильно, появляются неприятные симптомы, которые нередко воспринимаются пациентами как тяжелое заболевание внутренних органов и систем. Причинами ВСД являются  стрессы и переутомления, нагрузки как физические, так и умственные, депрессии, неврозы, психические травмы и т.д. Эти нарушения вызывают тревогу, беспокойство, дискомфорт, страх, и не позволяют жить полной жизнью. Медикаментозное лечение не может помочь в избавлении от этого недуга, потому все большей популярностью пользуется лечение ВСД гипнозом.</p>
<h3>Лечение.</h3>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, которая поможет вам справиться с этим расстройством. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет выявить глубинные причины ВСД, и устранить их.</strong></p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения, нарушения менструального цикла, нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>Существует внутреннее и внешнее управление организмом.</strong></p>
<p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
<p><strong>Внутреннее управление организма осуществляется на нескольких уровнях:</strong></p>
<ul>
  <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
  <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
  <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
  <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
</ul>
<p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Еще при жизни И. П. Павлова учеником его К. М. Быковым было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.</p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% избавление от ВСД на всю жизнь.</li>
  <li>Устранение причин заболевания.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза по лечению ВСД  является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p><strong>Наш авторский метод лечения ВСД позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>