---
layout: page
title:  Вреден ли гипноз
description: гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<img class="flImgPost" src="img/vreden_li_gipnoz.png" title="{{ post.title }}" alt="{{ post.title }}">
<p>В последние 25 лет Нобелевские премии в области медицины и физиологии были вручены 15 исследователям в области изучения мозга и нейронауки. 25 июля 1989 г. 101-я сессия Конгресса США объявила с 1 января 1989 г. "Десятилетие мозга", что обращает внимание правительства и народа США на исследования в этой области знаний. Важность этого направления для всего человечества связана с тем, что мозг, это главный орган центральной нервной системы, который определяет возникновение сердечно-сосудистых, неврологических, психических, инфекционных заболеваний. Впервые в истории человечества выявлены прямые связи между нервной и иммунной системами, отмечен модулирующий эффект этих систем друг на друга. Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Корсаков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<h3>Известнейшие ученые исключают возможность опасности гипноза.</h3>
<p>Как отмечает <strong>Л.П. Гримак</strong>  (доктор медицинских наук, профессор)  (1983 г.),  "…всесторонние и тщательные исследования гипнотических явлений зарубежными, русскими учеными не только доказали полную их безвредность для организма человека, но и вскрыли многочисленные положительные стороны гипнотических воздействий, мобилизующих физические и психические резервы организма. Даже психическая иммобилизация в гипнозе, связанная с временным выключением основных интегративных механизмов мозга, способствуют восстановлению нервно-психических функций человека, создают ощущение свежести, внутреннего обновления и радости бытия”.</p>
<p><strong>Д-р Льебо</strong> из Нанси, основатель учения о гипнозе как о методе терапии, писал: «Многолетний опыт использования гипнотического внушения дает мне основание утверждать, что таковое, если им правильно пользоваться, намного эффективнее медицинского лечения. В отличие от лечения лекарствами, оно безопасно, действие его быстро и приятно».</p>
<p><strong>Профессор Брюггельманн</strong> из Падеборна: «На вопрос, может ли гипноз быть опасным, я должен коротко ответить — нет».</p>
<p><strong>Д-р Моль </strong>добавляет: «Кардинальная проблема — не несет ли должным образом выполненное гипнотическое внушение опасности для здоровья. На этот вопрос я отвечаю — нет».</p>
<p><strong>Д-р Рингье </strong>из Цюриха: «Могу лишь повторить то, что говорил неоднократно, а именно: я никогда, ни в одном случае не встречался с вредным действием гипноза».</p>
<p><strong>Директор д-р Шольц</strong> из Бремена: «Я никогда не слышал жалоб на вредные последствия гипноза, которые имели бы место на практике. Это — всего лишь теоретические построения противников гипнотических методов».</p>
<p><strong>Профессор Мебиус:</strong> «Конечно, существуют врачи, имеющие предубеждение против гипноза, однако это именно те люди, у которых нет в данной области собственного опыта, и которые ограничиваются ложными умозаключениями».</p>
<p><strong>Профессор Сазерленд</strong> из Массачусетса: «Как могут говорить об опасностях врачи, сами не сведущие в гипнозе. Покажите мне их, и я внушу им, чтобы они никогда больше не заикались об опасностях внушения».</p>
<p><strong>Д-р Отто Веттерштранд:</strong> «Я предсказываю гипнозу большое будущее и могу лишь присоединиться к мнению, высказанному профессором И. Бернгеймом в его эпохальной работе по внушению, а именно: суггестивная терапия относится к одному из самых ценных завоеваний современной медицины»</p>
<p><strong>Профессор К.А. Иванов-Муромский </strong>в 1971 г. опубликовал данные о том, что гипнотическое состояние в эксперименте создает защитный эффект при действии цианистых соединений, лучевых и рентгеновских излучений. Декларировалась защитная роль трансовых состояний, которые усиливают процессы саморегуляции, обеспечивая защиту мозга от экстремальных воздействий. </p>
<p>Известный исследователь гипноза <strong>нейрофизиолог Дэвид Шпигель (David Spiegel)</strong> из Стенфордского университета (США)  пишет: «гипноз абсолютно безопасен и имеет меньше побочных эффектов, чем самое мягкое лекарство».</p>
<p><strong>Академик В.М.Бехтерев психиатр, невропатолог, физиолог, психолог,</strong> основатель первого в мире научного центра по комплексному изучению человека (психоневрологический институт в Санкт-Петербурге), на основании многочисленных клинических и экспериментальных наблюдений  категорически отрицал патологический характер гипнотического состояния.</p>
<h3>Таковы общие положения, а теперь обратимся к "мифологии".</h3>
<p>Практика гипнотического воздействия на сознание человека насчитывает около двух тысячелетий. За это время ученые успели многое узнать о феномене гипноза и научились с его помощью вылечивать больных, страдающих тяжелыми недугами. Тем не менее, остаются еще  люди, не имеющих прямого отношения к медицине, которые продолжают разделять не менее древние заблуждения, чем сам метод гипнотерапии. Сегодня мы развеем  наиболее распространенные мифы о гипнозе.</p>
<h3>Миф №1. Применение гипноза ослабляет волю.</h3>
<p>Встречаются также разновидности: "гипнозу поддаются слабовольные", "гипнотизер подавляет волю", "гипноз истощает ресурсы организма" и пр. Под утверждениями подобного рода нет никакого реального обоснования. Этот аспект освещает<strong> д.м.н., профессор Л.П. Гримак</strong> в своей монографии "Моделирование состояний в гипнозе" (1978):</p>
<p><i>"Мы нередко погружали в глубокий гипноз испытуемых с очень высокими волевыми качествами: парашютистов-спортсменов, испытателей перспективной техники, летчиков и др. Для этого нужно было лишь выработать у них откровенно положительное отношение к процессу гипнотизирования, полное понимание важности и необходимости этой процедуры для выполнения конкретной задачи. Разумеется, никаких отрицательных влияний на их профессиональную деятельность или на волевые качества в дальнейшем не отмечалось. Напротив, проводившаяся в гипнозе коррекция состояния и самочувствия на последующий постгипнотический период улучшала их работоспособность, тонизировала физически, повышала уровень выносливости. Мы несколько пространно останавливаемся на этих вопросах лишь потому, что еще и сегодня, из уст малообразованных людей  можно "узнать", что человек, "поддающийся" гипнозу, является "слабовольным" субъектом".</i></p>
<h3>Миф №2. Из гипноза можно не выйти.</h3>
<p>Гипноз – есть промежуточное состояние между сном и бодрствованием. Поэтому он переходит либо в естественный сон, либо в состояние бодрствования, остаться в нем надолго или, тем более, навсегда невозможно. <strong>Из гипноза выходят так же, как выходят из обычного сна</strong></p>
<h3>Миф №3. Гипноз вызывает зависимость.</h3>
<p>Французский психотерапевт, доктор медицины <strong>Léon Chertok</strong> в своей книге "Hypnosis" (1966) по этому поводу справедливо заметил:</p>
<p><i>"Существует миф о привыкании к гипнозу, но это глубокое заблуждение. Привыкание скорее может проявиться при всех видах психотерапии, на которую, чтобы добиться результата, ходят месяцами и даже годами. Тогда как гипнотерапия ограничена днями, и  результат уже виден через несколько часов”.</i></p>
<p><strong>Доктор медицины А.А. Токарский</strong> в своем докладе, представленном на III Съезде Русских Врачей  "К вопросу о вредном влиянии гипнотизирования", говорит о том, что гипнотическое влияние складывается из трех факторов: 1) гипнотического сна, 2) внушения и 3) способа гипнотизирования.  Относительно масштабов человеческой жизни, ”гипнотическое состояние”, “внушение",    попадают под категорию всеобщности и выходят за пределы лишь гипнотерапии или гипнотического сеанса. <strong>"Гипноз" – это естественное психофизиологическое состояние организма,</strong>  которое явно или инкогнито сопровождает нас повсюду. Оно всегда возникает при пробуждении и засыпании, часто – во время езды в транспорте или на лекции, когда мы словно "зависаем", уходим мыслями в себя и перестаем воспринимать происходящее вокруг. "Внушение" также явление вездесущее, это разновидность передачи информации от человека к человеку.</p>
<h3>Миф №4. Гипнолог может управлять человеческим сознанием и полностью контролировать его. </h3>
<p>Это не так, загипнотизированный остается в сознании и почти всегда помнит о том, что происходит во время сеанса. Если даже память на время отключается, то потом она восстанавливается, и можно все вспомнить.</p>
<h3>Миф №5. Состояние, в которое погружает гипнотерапевт, очень странное и неестественное для человеческого организма.</h3>
<p>В гипнозе нет ничего необычного, это состояние между сном и бодрствованием, которое не имеет никаких побочных эффектов, а является очень полезным для организма человека. Человек периодически находится в нем, но не умеет его использовать.</p>
<h3>Миф №6. Действие гипнотерапии не доказано, а значит, она не работает. </h3>
<p>Эффективность метода подтверждена исследованиями ученых всего мира и положительными результатами огромного количества пациентов.</p>
<h3>Польза гипнотерапии и гипнотического состояния для человека.</h3>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, кожные заболевания, аллергические, ОКР, СРК, ВСД, пищеварительные, сексуальные нарушения, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки, боли. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов. При этом, все еще встречается недооценка врачами роли психотравмирующих факторов в возникновении различных расстройств функций внутренних органов и систем, а также шаблонные представления, которые нередко заставляют искать органическую природу заболевания там, где она в действительности является функциональной (психогенной, условнорефлекторной).</p>
<p><strong>Гипноз – это</strong>, прежде всего инструмент в руках гипнотерапевта, с помощью которого, появляется уникальная возможность добраться до причин возникновения различных патологий, как в психической сфере (эмоции, чувства, мышление), так и в соматической и физиологической, вызванных психогенным фактором. Это можно сравнить с прекрасным хирургом, который не сможет провести операцию без хирургического инструмента и оборудования.</p>
<p>Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов, а через них и на подкорковые структуры. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. <strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания на всю жизнь, а не ее симптом.</strong> Причина этому, память деструктивного события, которое хранится на молекулярном уровне в инграмме памяти. Не медикаментозное лечение, не разговоры с психологом, психотерапевтом, не борьба собственного сознания, не алкоголь, не наркотики, не кирпич на голову упадет, не позволят изменить ферментный порядок макромолекулы, память, в которой собрана вся эмоционально - физиологическая реакция организма на какое - то событие или ситуацию в прошлом жизненном опыте. Поэтому, другие методы малоэффективны, и нацелены на вечную борьбу только с симптоматикой.</p>
<p>Тем временем, пока идет борьба с ветряными мельницами, и ненужная трата времени и денег, психовегетативный сбой у больного не стоит на месте и генерализуется, синтезируясь с жизнедеятельностью человека, приобретая новые, более гетерогенные чувства и реакции организма. Расширяется круг предметов, ситуаций, при которых человек начинает чувствовать страх или тревогу, генерализуется соматическая и физиологическая дисфункция организма, происходит застревание чувства одиночества, незащищенности, чувство ненужности, чувство заниженной самооценки, ощущение, что никто не любит, появляется депрессия и истощение нервной системы, снижается тонус коры головного мозга, усиливается раздражительность. И это закон нейрофизиологии! Закон развития человека! Любая аберрация в условно - рефлекторной связи события, непременно приведет к дальнейшему патогенезу по закону формирования новых связей, посредством извлечения из памяти деструктивных ассоциаций и стереотипов.</p>
<p><strong>В свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного. C помощью гипноза можно успешно бороться не только со многими нервно-психическими заболеваниями, но и с заболеваниями внутренних органов. Особенно это касается расстройств нейрогуморальной и психосоматической регуляции. Еще при жизни И. П. Павлова учеником его К. М. Быковым было экспериментально доказана возможность условнорефлекторных связей коры мозга решительно со всеми внутренними органами и системами. В лабораториях Быкова (1947) также доказана возможность образования временной связи и через гуморальные пути с денервированными органами (почки, селезенка, поджелудочная железа). Это означает, что в условную реакцию вовлекаются инкреторные железы, гормоны которых в свою очередь оказывают действие через кровь на целую систему органов.</strong></p>
<p>Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p>В Европе, США, Японии гипнотерапевтический подход результативно работает при 70 – 80% сердечнососудистых, желудочно-кишечных, бронхолегочных, эндокринных, кожных, и других заболеваниях. Традиционно  гипноз дает исключительно хороший и стабильный эффект при заболеваниях, в основе которых лежат психологическое перенапряжение, поведенческие коррекции, стресс, внутренние душевные конфликты, фобии, депрессия. Также это могут быть боли в суставах, позвоночнике, головные боли, желудочно-кишечные язвы, колит, СРК, сбои женского цикла, сердечные аритмии, аллергии, нейродермит, диабет, дисфункции щитовидной железы, нарушение пищевой аддикции, половой аддикции, ОКР, ВСД, зависимости и т.д.</p>
<p>Следует отметить, что метод гипнотерапии эффективен не только в случаях психогенного функционального нарушения высшей нервной деятельности и при психогенных расстройствах функций различных органов и систем, но и при органических заболеваниях (в качестве вспомогательного средства). В разное время во многих лабораториях пред-принимались исследования, помогающие физиологическому обоснованию гипнотерапии, а вместе с ней и психопрофилактики (А. Г. Иванов-Смоленский, Н. И. Красногорский, С. Н. Давиденков, Ф. П. Майоров, Б. Н. Бирман, Л. Б. Гаккель, В. Н. Мясищев, Ю. А. Поворинский, В. Е. Рожнов и др.).</p>
<h3>Аналог гипноза можно увидеть в электричестве…</h3>
<p>"Другой аналог гипноза можно увидеть в электричестве… Есть лишь общепринятое мнение, что электричество - форма энергии. Можно рассматривать гипнотическую технику как группу методов, создающих другую форму энергии в мозгу, а гипнотическое состояние как провод, направляющий энергию на достижение цели".</p>
<p class="psPost">P.S. - "С. Хеллер и Терри Ли Стилл."</p>
<p>После многочисленных исследований этого врожденного  феномена гипнотического состояния у человека, учеными было доказано  лечебное свойство этого состояния, и это открыло новое направление в медицине. Был создан  метод лечебного электронаркоза учеными (К.А.Иванов – Муромский, 1971г., с соавторами)  которые установили, что воздействие импульсными токами на головной мозг усиливает процессы саморегуляции, обеспечивая защиту мозга от экстремальных воздействий. </p>
<p>В России работы по созданию импульсного генератора, отвечающего требованиям современной медицины, задачам электротранквилизации и ценральной электроанадьгезии были начаты в 1968 г. Э. М. Каструбиным под руководством директора института – академика АМН СССР профессора  Л. С. Персианинова в Московском областном НИИ акушерства и гинекологии МЗ РСФСР. Были созданы приборы трех поколений, которые позволили внедрить в практику наиболее важные для клинической медицины технические решения,("Электронаркон","ЛЭНАР","Микро-ЛЭНАР),которые были рекомендованы к использованию во всех лечбно–профилактических учреждениях, включая спортивную, морскую, и авиационную медицину.</p>
<h3>ИМПУЛЬСНАЯ ЭЛЕКТРОТЕРАПИЯ</h3>
<h3>Транскраниальная электроанальгезия</h3>
<p><strong>Транскраниальная электроанальгезия</strong> - лечебное воздействие на кожные покровы головы импульсными токами, вызывающими обезболивание или снижение интенсивности болевых ощущений. Транскраниальная электроанальгезия восстанавливает активность пептидергической системы головного мозга, угнетенную при наркоманической зависимости и пристрастии к алкоголю. Неанальгетические эффекты транскраниальной электроаналь-гезии связаны с тем, что импульсные токи устраняют активирующие влияния ретикулярной формации на корковые центры и стабилизируют а-ритм биоэлектрической активности головного мозга. Импульсные токи действуют также на сосудодвигательный центр, вызывая нормализацию системной гемодинамики. Стабилизация процессов центральной регуляции кровообращения, артериального давления и амплитуды его колебаний обусловлена также воздействием на центральные звенья вазомоторных рефлексов энкефалинов, накапливающихся в стволе головного мозга. Кроме того, выброс эндогенных опиоидных пептидов в кровь активирует регенераторно-репаративные процессы в очаге воспаления. Следовательно, транскраниальная электроанальгезия влияет на системы регуляции ряда функций внутренних органов, стимулирует заживление ран и повышают резистентность организма и его устойчивость к стрессорным факторам. Лечебные эффекты: анальгетический, сосудокоррегирующий, репаративно-регенеративный, седативный, антиабстинентный, транквилизирующий.</p>
<p><strong>Показания.</strong> Болевые синдромы, связанные с поражением черепномозговых нервов (невралгия тройничного нерва, нейросенсорная тугоухость) и нарушением спинальной иннервации (спондилогенные корешковые и вегетативные боли), фантомные боли, нейро-циркуляторная дистония всех форм, ишемическая болезнь сердца, язвенная болезнь желудка и двенадцатиперстной кишки, зудящие дерматозы, неврастения, утомление, анестезиологическое пособие при оперативном вмешательстве, острый алкогольный абстинентный синдром, нервно-эмоциональное напряжение, нарушение сна, метеотропные реакции.</p>
<p>В настоящее время для проведения процедур используют аппараты Этранс-1,2,3,  Трансаир, Нейросон, ЛЭНАР и Би-ЛЭНАР.</p>
<h3>Электросонтералия.</h3>
<p><strong>Электросон</strong> – это метод лечения различных заболеваний, широко распространенный в физиотерапии. Главная задача процедуры – оказать тормозящее воздействие на головной мозг, в результате чего происходит погружение в искусственный гипнотический сон. Метод разработали советские ученые в 1948 году. В дальнейшем он получил распространение в медицине европейских стран.</p>
<p><strong>Электросонтерапия</strong> - лечебное воздействие импульсных токов на структуры головного мозга. Наряду с усилением тормозных процессов в коре головного мозга, ритмически упорядоченные импульсные токи активируют серотонинергические нейроны дорсального ядра шва. Накопление серотонина в подкорковых структурах головного мозга приводит к снижению условно-рефлекторной деятельности и эмоциональной активности. Вследствие этого у больного наступает состояние гипнотического сна. За счет модуляции функций ассоциативных таламокортикальных систем такая электрическая стимуляция рефлексогенных зон усиливает центральные гипногенные эффекты импульсных токов, приводит к нормализации высшей нервной деятельности и улучшению ночного сна. Тесные морфо - функциональные связи ядер ствола мозга обусловливают индукционное воздействие импульсных токов на сосудодвигательный и дыхательный центры, а также центры вегетативной и эндокринной систем. Такие токи оказывают непосредственное воздействие на регуляцию деятельности внутренних органов и тканей, активируют трофические влияния на них парасимпатической нервной системы. </p>
<p>Это приводит к снижению повышенного тонуса сосудов, активирует транспортные процессы в микроциркуляторном русле, повышает кислородную емкость крови, стимулирует кроветворение и нормализует соотношение свертывающей и противосвертывающеи систем крови. Импульсные токи вызывают также   урежение и углубление внешнего дыхания, увеличивают его минутный объем, активируют секреторную функцию желудочно-кишечного тракта, выделительной и половой систем. Они восстанавливают нарушенный углеводный, липидный, минеральный и водный обмены в организме, активируют гормон - продуцирующую функцию желез внутренней секреции. В силу динамического характера деятельности головного мозга при электросонтерапии условно выделяют две функцио-нальные фазы — торможения и активации. Первая из них проявляется во время процедуры и характеризуется гипнотическим  состоянием, сонливостью, урежением частоты сердечных сокращений и дыхания (брадикардия и брадипноэ), снижением интенсивности активирующих ритмов биоэлектрической активности головного мозга. Через 30 мин-1 час после окончания процедуры возникает фаза активации, которая продолжается и в отдаленном периоде. Она проявляется в ощущении больным бодрости и свежести, снижении утомления, повышении работоспособности, улучшении настроения и активации корковых процессов. Лечебные эффекты: транквилизирующий, седативный, спазмолитический, трофический, секреторный.</p>
<p><strong>Показания.</strong> Заболевания центральной нервной системы (неврастения, реактивные и астенические состояния, нарушение ночного сна, логоневроз), заболевания сердечно - сосудистой системы (атеросклероз сосудов головного мозга в начальном периоде, ишемическая болезнь сердца, нейроциркуляторная дистония по гипертоническому типу, гипертоническая болезнь 1-11 стадий, облитерирующие заболевания сосудов конечностей), язвенная болезнь желудка и двенадцатиперстной кишки, бронхиальная астма, нейродермит, экзема, энурез. </p>
<p>Для проведения процедур электросонтерапии используют аппараты Нейросон, Электросон-4Т (ЭС-4Т) и Электросон-5 (ЭС-10-5). </p>
<br>
<p><strong>На сегодняшний день все больше людей говорят о пользе лечебной гипнотерапии и самого гипнотического состояния. Но возникает вопрос, в чем именно польза самого этого гипнотического состояния?</strong></p>
<p>На данный момент ученые провели более 3000 исследований о влиянии лечебной гипнотерапии на человека.</p>
<p><strong>Они доказали, что регулярные сеансы лечебной гипнотерапии приводят к:</strong></p>
<ul>
  <li>Восстановлению гомеостаза организма,</li>
  <li>Восстановление компенсаторных функций организма,</li>
  <li>Восстановлению психической деятельности человека, со всем, интегрированным комплексом эмоциональных внутренних и внешних сигнализаций,</li>
  <li>Увеличению в организме дофамина и серотонина,</li>
  <li>Восстановлению сосредоточенности и умственных способностей,</li>
  <li>Восстановлению общего тонуса активной жизнедеятельности,</li>
  <li>Стрессоустойчивости,</li>
  <li>Улучшению настроения,</li>
  <li>Восстановлению сна.</li>
</ul>
<h3>Первые результаты после лечебной гипнотерапии, появляются уже после первого сеанса.</h3>
<ol>
  <li><strong>Лечебная гипнотерапия улучшает ваш сон.</strong> <br>
    Ученые из Миннесотского университета пришли к выводам, что регулярная лечебная гипнотерапия способствует более крепкому и здоровому сну, а тело лучше восстанавливается за ночь, помогая отрешиться от будничных проблем, мысли о которых часто не позволяют быстро заснуть. Также снижается уровень кортизола – гормона стресса, мешающго  полноценному отдыху.</li>
  <li><strong>Лечебная гипнотерапия улучшает вашу способность сосредоточиться</strong>.<br>
    Лечебная гипнотерапия улучшает способность долгое время сохранять внимание и помогает контролировать нервно-психическое возбуждение. В одном из исследований под руководством Фаделя Зейдана, специалиста в области когнитивной нейробиологии из Школы медицины Уэйка Фореста, было обнаружено, что люди после четырех сеансов лечебной релаксации, прошли тест когнитивных способностей значительно лучше остальных. Они оказались лучше готовы игнорировать время, отпущенное на тест, что помогло им сосредоточиться на решаемой задаче.</li>
  <li><strong>Лечебная гипнотерапия снизит тревожность и стресс.</strong> <br>
    Последние исследования доказывают, что лечебная гипнотерапия реально способна снизить уровень кортизола, а исследования Зейдана показала, что тревожность снизилась на 39%</li>
  <li><strong>Лечебная гипнотерапия сделает вас менее подверженным перепадам настроения.</strong> <br>
    Многие из нас автоматически интерпретируют события и слова в негативном ключе и предполагают худшее о самих себе и окружающих. Это может стать причиной депрессии, которую лечебная гипнотерапия помогает преодолеть. Она помогает с недоверием относиться к мыслям, возникающим чисто автоматически, без нашего сознательного участия. А это означает, что вы фокусируетесь на реальности, а не на домыслах.</li>
  <li><strong>Лечебная гипнотерапия меняет в лучшую сторону вашу сексуальную жизнь.</strong> <br>
    Лечебная гипнотерапия усиливает соединения и увеличивает размер области головного мозга, называемой в медицине «передняя островковая доля большого мозга» ( insula) утверждает Марша Лукас, доктор наук, нейропсихолог из Вашингтона проводивший исследование в этой области.</li>
  <li><strong>Лечебная гипнотерапия поможет вам быстрее выздоравливать и жить дольше.</strong> <br>
    Исследования Висконсинского университета в Мадисоне показало, что среди, ходивших на сеансы лечебной гипнотерапии в течение 8 недель два раза в неделю, было гораздо меньше случаев гриппа и тяжелых инфекционных заболеваний, чем среди тех, кто не ходил. Доктор Даниэль Мюллер, проводящий исследование, объясняет это тем, что лечебная релаксация помогает восстановить гомеостатическое равновесие, то есть организм стремится к идеальному балансу между окружающей средой и своими потребностями. Согласно недавнему исследованию Калифорнийского университета в Сан-Франциско это может даже помочь нам жить дольше, потому что ДНК будет лучше защищена от деградации.</li>
</ol>
<h3>Польза гипнотического состояния при мышлении и концентрации внимания.</h3>
<p><strong>“Лобная область коры является местом "сборки" функциональных систем структуры, которая не имеет отношения к отдельным функциям мозга, но осуществляет их интеграцию в целенаправленное поведение”. П.К.Анохин.</strong></p>
<p>Особое значение в осуществлении концентрации внимания имеют лобные области коры больших полушарий головного мозга. Как отмечает А.С.Батуев, лобная область контролирует мотивацию, соматическую, сенсорно-интегративную системы.  Принимая во внимание учение П.К.Анохина о функциональных системах, которые создаются только на то время, когда имеется необходимость временного сотрудничества всех отделов мозга для достижения какой-то одной цели в настоящий момент.  Таким образом, посылка информационного, подпорогового сигнала в область лобной коры, возникновение адаптационных процессов в коре за счет гипнотического состояния приобрели особое значение. В этом случае появилась возможность изменить физико-химиеские константы работы клеток лобной коры, замедлить процесс создания функциональных систем, связанных с возникновением болевого синдрома, патологической реакцией на стресс, формированием отрицательных эмоциональных реакций.</p>
<p>В  гипнотическом состоянии, лобная область через функциональные связи с основными системами саморегуляции осуществляет профилактику и лечение многих нейрогенных и психосоматических заболеваний. Как отмечает Л.П. Гримак (1983 г.), даже психическая иммобилизация, связанная с временным выключением основных интегративных механизмов мозга, способствуют восстановлению нервно-психических функций человека, создают ощущение свежести, внутреннего обновления и радости бытия. </p>
<p>Известно, что уровень бессознательного восприятия значительно превосходит, то, что достигается при контролируемом сознании. В.Налимов считает, что существует рефлективный и континуальный способ мышления, определяющий две формы передачи информации. В первом случае человек думает словами, а иногда преобразует их в образы. Такой способ передачи информации обладает малой информационной емкостью. Во втором случае, при континуальном мышлении, человек думает образами, при этом работает своеобразная аналоговая система, где происходит "квантование при очень малом шаге и большом объеме элементарных сигналов, поступающих в единицу времени" (Ю.А.Фомин, 1991 г.). <strong>C помощью гипноза появляется возможность включения в работу нейронных ансамблей, которые в настоящее время не используются мозгом, что обеспечит новые возможности человека при его обучении концентрации внимания.</strong></p>
<h3>Польза гипнотического состояния при алкогольной и наркотической зависимости.</h3>
<p>Следует отметить, что во время  гипнотерапиит, мозг выделяет морфиноподобные нейропептиды, которые назвали «гормонами удовольствия», они устраняют ощущения от работы внутренних органов, ограничивают стремление к алкоголю и наркотикам. В тоже время, негативные мысли о тех или иных событиях, становятся накопленным стрессом, подавляют секрецию гормонов удовольствия. В этом случае, замена нейропептидов алкоголем и наркотиками прекращает их естественную секрецию и превращает человека в «существо», которое ищет «дозу» и стремиться ее увеличить. Отмечено, что особые состояния сознания в гипнозе способствуют сохранению секреции нейропептидов мозгом, что является профилактикой алкоголизма и наркомании.</p>
<h3>Гипноз помогает в достижении спортивных результатов.</h3>
<p>С помощью гипноза можно решать как задачи общего характера (например, мотивации), так и конкретные задачи (например, подготовка к прохождению конкретной трассы или к бою с конкретным противником, необходимость коррекции психоэмоционального состояния после соревнований и т.д. и т.п.) На сегодняшний день, это возможно осуществить с помощью гипнотерапии.</p>
<p>Необходимость коррекции психоэмоционального состояния спортсменов возникает уже в первые часы после соревнований, связанных с максимальным напряжением всех функциональных систем организма. </p>
<p>Особое значение приобретает проблема реабилитации спортсменов после ответственных выступлений, которые закончились неудачей. Состояние спортсмена в этот период является своеобразной моделью стресса, проявляющегося в тревожности, напряженности, переходящей в апатию. </p>
<p>Эффективность проведения гипнотерапии  подтверждается тенденцией к улучшению и нормализации основных показателей центральной и мозговой гемодинамики (снижение объемной скорости кровотока, АД), данных ЭЗГ (уменьшение дезорганизации кривой корковой ритмики, увеличение альфа-индекса и амплитуды электроактивности, исчезновение аномальных форм активности), а также улучшение субъективного состояния обследуемых. </p>
<p>Гипнотерапия также помогает в развитии правого полушария. Для некоторых видов спорта повышенная активность правого полушария предпочтительна. Например, для успешного ведения рукопашного боя, бокса, карате, борьбы, и т.д. человеку надо активизировать и усилить функции правого полушария и ослабить, притормозить деятельность левого, так как именно правое полушарие отвечает за пространственную ориентацию, за скоординированность и скорость движений. Внешне это выражается в ускорении ответных реакций тела. Дело в том, что на словесном (абстрактно-логическом) уровне, мышление человека успевает переработать не более 100 единиц информации в секунду, тогда как на образном и сенсомоторном (двигательном) уровнях - до 10 миллионов единиц! Благодаря этому «ум тела», освобожденный от «цепей разума», практически мгновенно запускает нужную в ситуации двигательную реакцию. Вот почему мастера рукопашного боя действительно отражают нападение и контратакуют раньше, чем сами успевают об этом подумать.</p>
<p>Гипнотерапия позволяет спортсмену в мысленном исполнении элемента спортивной техники на уровне воображения, отработать связи между мозгом и мышцами, которые должны быть задействованы в данном случае. Только закрепив в уме уникальный психомоторный комплекс, спортсмен способен воплотить его «в физике» сразу без огрехов. Таким образом, он отрабатывает движение правильно, и его техничность выходит на новый уровень.</p>
<p>Гипнотерапия позволят и расслабить мышцы, и быстрее восстановиться после тренировки, устранить микротравмы и нормализовать трофику мышц, приобрести дополнительные жизненные силы, основательнее усвоить тренируемые навыки и умения.</p>
<p>Гипнотерапия позволяет найти и устранить психотравмы, некоторые из которых были получены еще в раннем детстве, избавится от страхов, неуверенности в себе, заниженной самооценки, тревоги, мандража. Психика всякого человека в большей или меньшей степени засорена страхами, фобиями, тревогами.</p>
<p>"В некотором смысле все мы жертвы ранних метапрограмм, которые были заложены другими людьми".</p>
<p>Л. П. Гримак,  доктор медицинских наук, профессор.</p>
<p>Цели и задачи решаемые в спорте с помощью гипноза весьма широки - от вопросов мотивации, эмоционального и психологического настроя, поиска устранения психотравм и повышения ОФП, до отработки конкретных навыков и умений.</p>
<h3>Цели и задачи решаемые в спорте с помощью гипноза:</h3>
<ul>
  <li>Эмоциональный и психологический настрой,</li>
  <li>Восстановление психоэмоционального состояния спортсменов после соревнований, которые закончились неудачей.</li>
  <li>Расслабление и восстановление организма,</li>
  <li>Восстановление трофики мышц.</li>
  <li>Стрессоустойчивость,</li>
  <li>Улучшение сосредоточенности и умственных способностей,</li>
  <li>Устранения психотравм,</li>
  <li>Повышение активности правого полушария,</li>
  <li>Повышение ОФП.</li>
</ul>
<h3>Польза гипнотерапии для мышления.</h3>
<p>Последние исследования на магнитно-резонансном томографе показывают, что во время гипнотерапии у человека сильно активизируются височные доли мозга и зоны мозга связанные со вниманием. После курса гипнотерапии на электроэнцефалограмме также обнаруживается усиление гамма - волн.</p>
<ul>
  <li>Улучшается работа мозга</li>
  <li>Улучшается концентрация внимания</li>
  <li>Улучшается сон</li>
  <li>Развиваются интуитивные способности</li>
  <li>Улучшается аналитически-логическое мышление</li>
  <li>Повышается результативность</li>
  <li>Упрощается восприятие сложных вещей</li>
  <li>Ускоряется обработка информации</li>
  <li>Улучшается организация мышления</li>
  <li>Улучшается память на 25%</li>
  <li>Обретается ясность и спокойствие ума</li>
  <li>Улучшается способность к обучению</li>
  <li>Улучшаются творческие способности</li>
</ul>
<h3>Польза для здоровья.</h3>
<ul>
  <li>Снижает высокое кровяное давление</li>
  <li>Снижает риск инфарктов и сердечных болезней</li>
  <li>Снижение сахара в крови при диабете</li>
  <li>Снижает уровень молочной кислоты в крови</li>
  <li>Улучшает сон и вылечивает бессонницу</li>
  <li>Убирает головные и другие боли в организме</li>
  <li>Укрепляет иммунную систему</li>
  <li>Уменьшает потребность в спиртном и сигаретах</li>
  <li>Расслабляет зажимы мышц, способствует быстрому восстановлению после тренировки</li>
  <li>Улучшение жизнеспособности и адаптивности</li>
  <li>Позволяет поддержать тело и ум в тонусе</li>
  <li>Восстанавливает нервную систему</li>
  <li>Улучшает слаженность работы всех органов и систем организма</li>
  <li>Уменьшает раздражительность</li>
  <li>Уменьшает беспокойство, тревогу</li>
  <li>Увеличивает продолжительность молодости и жизни</li>
</ul>
<h3>Польза для эмоционального состояния.</h3>
<ul>
  <li>Повышается стрессоустойчивость</li>
  <li>Уменьшается раздражительность и беспокойство</li>
  <li>Повышается эмоциональная устойчивость</li>
  <li>Растет уверенность в себе</li>
  <li>Помогает избавиться от депрессии</li>
  <li>Увеличивается самоконтроль над эмоциями</li>
  <li>Избавляет от тревожности</li>
  <li>Достигается внутренний баланс</li>
</ul>
<p><strong>Будьте здоровы и берегите себя!</strong></p>