@import "vars"
@import "fonts"
@import "libs"

+reset

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.navbar-brand
	color: $accent !important
	&:hover
		color: $accent-lite !important
.navbar-nav
	width: 100% !important
	display: flex
	justify-content: flex-end !important
	text-align: center
.top-slider
	.carousel-item::before
		background: rgba(0,0,0,0.4)
		content: ""
		left: 0
		bottom: 0
		width: 100%
		height: 100%
		position: absolute
		z-index: auto
	.carousel-item
		max-height: 600px
		+xs-block
			display: none
	.carousel-caption
		background: rgba(0,0,0,0.4)
		border-radius: 5px
		padding: $fields_sm
		+sm-block
			left: 0
			right: 0
			bottom: 0
			top: 0
			height: 100%
		+xs-block
			position: relative

		h1
			font-size: 3vw
			text-align: center
			+xs-block
				font-size: 18px
				font-weight: 600
		p
			font-size: 16px
			text-align-last: left
		hr
			margin: $fields_sm/2
			border-color: $accent
//service

.service
	+wrapper
	&-row
		+row-flex
		.card-img
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			.card__description
				margin-top: auto
				display: flex
				justify-content: center
				align-items: center
				color: #ffffff
				width: 100%
				background-color: rgba(0,0,0,0.5)
				font-size: 18px
	.card__side--back-1
		.card__description
			padding: $fields_sm
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
			p
				font-size: 16px
				text-transform: none
			a
				margin-top: auto
				font-size: 18px
				color: $accent
				&:hover
					color: $accent-lite
					text-decoration: none 
	.img-block1
		background: url(../img/block-1.jpg) 50% 50%, no-repeat
		background-size: cover
	.img-block2
		background: url(../img/block-2.jpg) 50% 50%, no-repeat
		background-size: cover
	.img-block3
		background: url(../img/block-3.jpg) 50% 50%, no-repeat
		background-size: cover
	.img-block4
		background: url(../img/block-4.jpg) 50% 50%, no-repeat
		background-size: cover
	.img-block5
		background: url(../img/block-5.jpg) 50% 50%, no-repeat
		background-size: cover
	.img-block6
		background: url(../img/block-6.jpg) 50% 50%, no-repeat
		background-size: cover
.content
	height: 95%
	width: 95%
	padding: $fields
	text-align: center
.cards
	+row-flex
	justify-content: space-evenly
.card
	margin: $fields_sm
	width: 25%
	min-width: 320px
	position: relative
	height: 20em
	perspective: 150em
	border: none
.card__side
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 20em
	backface-visibility: hidden
	transition: all .6s ease
	box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2)
	border-radius: 5px
.card__side--front
	background-color: #FFF
.card__side--back
	color: #FFF
	transform: rotateY(180deg)
.card__side--back-1
	background-image: linear-gradient(to right bottom, #7ed56f, #28b485)
.card__side--back-2
	background-image: linear-gradient(to right bottom, #2998FF, #5643FA)
.card__side--back-3
	background-image: linear-gradient(to right bottom, #FFB900, #FF7730)
.card:hover
	.card__side--front
		transform: rotateY(-180deg)
	.card__side--back
		transform: rotate(0)
.card__description
	text-transform: uppercase
	font-size: 5em
	padding: 1em 0

// блок инфо
.block-info
	background: url(../img/pattern.png)
	width: 100%
	height: 100%
	padding: $fields
	&-row
		+row-flex
		justify-content: space-around
		+wrapper
	&-desc
		+col
		+size(8)
		+size-md(12)
		text-indent: 2em
		h2
			font-size: 25px
			padding-bottom: $fields_sm
			font-weight: 600
		h3
			font-size: 20px
			padding: $fields_sm
			font-weight: 600
		li
			list-style-type: square
			text-indent: 0
			margin-left: 30px
	&-right-menu
		+col
		+size(4)
		+size-md(12)
		height: 100%
		border-left: 1px solid #000
		max-width: 320px
		top: 30px
		position: sticky
		&-contact
			padding: $fields_sm
			border-bottom: 1px solid #000
			li
				font-weight: 600
				a
					font-weight: normal
					color: $accent
					&:hover
						color: $accent-lite
		&-link
			padding: $fields_sm
			a
				color: $accent
				&:hover
					color: $accent-lite
// post
.heading-post
	width: 100%
	height: 100%
	background: url(../img/bg-heading.jpg) no-repeat 50% 0
	background-size: cover
	position: relative
	z-index: 5	
	&::before
		position: absolute
		content: ""
		right: 0
		bottom: 0
		z-index: 6
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,0.4)
	&-wrap
		padding: $fields*2 $fields $fields*2 $fields
		display: flex
		justify-content: center
		position: relative
		z-index: 6
		h1
			font-size: 30px
			color: #fff
.content-post
	background: url(../img/pattern.png)
	width: 100%
	height: 100%
	padding: $fields
	&-row
		+row-flex
		+wrapper
		justify-content: space-between
		&-info
			+col
			+size(8)
			+size-md(12)
			p,h3
				text-indent: 2em
			img
				max-width: 100%
				padding-bottom: $fields
			h3
				font-size: 20px
				font-weight: bold
				padding-top: $fields_sm
				padding-bottom: $fields_sm
			ul
				margin-left: $fields
				padding-top: $fields_sm
				padding-bottom: $fields_sm
				li
					list-style-type: disc
// tabs
.accordion 	a:hover
	color: $accent
.heading-primary
  font-size: 2em
  padding: 2em
  text-align: center
.accordion dl, .accordion-list
  border: 1px solid #ddd
.accordion dl:after, .accordion-list:after
  content: ""
  display: block
  height: 1em
  width: 100%
  background-color: #2ba659
.accordion dd, .accordion__panel
  background-color: #eee
  font-size: 1em
  line-height: 1.5em
.accordion
  p
    padding: 1em 2em 1em 2em
  position: relative
  background-color: #eee
.block-tabs-wrap
  max-width: 960px
  margin: 0 auto
  padding: 2em 0 2em 0
.accordionTitle, .accordion__Heading
  background-color: #38cc70
  text-align: center
  font-weight: 700
  padding: 1em 2em 1em 2em
  display: block
  text-decoration: none
  color: #fff
  transition: background-color 0.5s ease-in-out
  border-bottom: 1px solid #30bb64
.accordionTitle:before, .accordion__Heading:before
  content: "+"
  font-size: 1.5em
  line-height: 1em
  float: left
  transition: transform 0.3s ease-in-out
.accordionTitle:hover, .accordion__Heading:hover, .accordionTitleActive, .accordionTitle.is-expanded
  background-color: #2ba659
.accordionTitleActive:before, .accordionTitle.is-expanded:before
  transform: rotate(-225deg)
.accordionItem
  height: auto
  overflow: hidden
  max-height: 50em
  transition: max-height 1s
  &.is-collapsed
    max-height: 0
@media screen and (min-width: 48em)
  .accordionItem
    max-height: 15em
    transition: max-height 0.5s
.animateIn
  animation: accordionIn 0.45s normal ease-in-out both 1
.animateOut
  animation: accordionOut 0.45s alternate ease-in-out both 1
@-webkit-keyframes accordionIn
  0%
    opacity: 0
    transform: scale(0.9) rotateX(-60deg)
    transform-origin: 50% 0
  100%
    opacity: 1
    transform: scale(1)
@keyframes accordionIn
  0%
    opacity: 0
    transform: scale(0.9) rotateX(-60deg)
    transform-origin: 50% 0
  100%
    opacity: 1
    transform: scale(1)
@-webkit-keyframes accordionOut
  0%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(0.9) rotateX(-60deg)
@keyframes accordionOut
  0%
    opacity: 1
    -webkit-transform: scale(1)
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(0.9) rotateX(-60deg)

//stages

.stages
	+wrapper
	padding-top: 30px
	padding-bottom: 30px
	display: flex
	justify-content: center
	+md-block
		padding-left: 0
		padding-right: 0
	&-row
		+row-flex
		width: 100%
		justify-content: space-around
	&-item
		+col
		+size(4)
		+size-lg(6)
		+size-md(6)
		+size-sm(10)
		+size-xs(12)
		background: rgba(255,255,255, 0.7)
		border: solid 2px $accent
		border-radius: 7px
		+md-block
			margin-top: 15px
		&-info
			padding: 15px
			h3
				padding-bottom: 15px
				font-size: 20px
				text-transform: uppercase
				font-weight: bold
				text-align: center
			span
				display: block
			p
				text-indent: 1em
				padding-bottom: 5px
				hyphens: auto


@import "media" // Always at the end
