---
layout: page
title: Лишний вес
description: По данным ВОЗ 39% населения имеют избыточный вес, а 13% страдают ожирением. Лишний вес – это не только визуальная проблема, но и огромный вред для здоровья (гипертония, болезни ЖКТ, атеросклероз и т.д.).
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<h3>Гипноз для похудения.</h3>
<p>По данным ВОЗ 39% населения имеют избыточный вес, а 13% страдают ожирением. Лишний вес – это не только визуальная проблема, но и огромный вред для здоровья (гипертония, болезни ЖКТ, атеросклероз и т.д.). В случае крайнего ожирения существует риск для жизни (инфаркты, апноэ сна, сахарный диабет).</p>
<h3>Психофизиология и лишний вес.</h3>
<p>Вы когда-нибудь задумывались о том, как возникает чувство голода? Механизм этого явления таков: в крови падает содержание глюкозы, соответствующие внутренние рецепторы это мгновенно улавливают и передают информацию в центр голода (он же - насыщения). Таким образом в головном мозгу возникает доминанта, в соответствии с которой все наши мысли устремляются в этом направлении. Причем возникновение чувства голода почти не зависит от количества жира в организме, поскольку запасы сахара в крови и у худых и у толстых заканчиваются примерно по одной и той же схеме: нет сахара в крови - возникает чувство голода.</p>
<p>Человек при появлении чувства голода наедается от пузо. При этом поглощение пищи продолжается даже после того, как в желудке оказалось достаточное количество калорий. Информация с упомянутых рецепторов поступит в мозг (в центр насыщения) в лучшем случае через полчаса, когда какая-то часть пищи уже успеет перевариться и превратиться в глюкозу. За это время человек успевает съесть намного больше, чем ему необходимо. И все бы ничего, если бы следующий прием пищи не состоялся бы через 4-5 часов. Но надвигается время следующего приема пищи со всякими десертами, подливами и аперитивами. Это и есть основные причины ожирения.</p>
<p>Что же происходит с теми, кто отодвигает от себя тарелку, когда чувствует, что в животе уже вроде бы маловато свободного места?  Если после отодвигания тарелки все мысли до следующего присеста за стол только и крутятся вокруг еды, то это уже психофизиологическая зависимость.</p>
<h3>Основные причины лишнего веса.</h3>
<p><strong>1) Психологическая пищевая зависимость:</strong></p>
<ul>
  <li>Жизнь настолько скучна и одинока, что еда - чуть ли не самое главное в жизни удовольствие,</li>
  <li>Придании еде функций, отличных от энергетической. Например, еда-награда (в  детстве – конфетка за послушание), еда-удовлетворение (женщины выбирают вместо секса шоколад), еда - антистресс (заедание проблем).</li>
  <li>Многие люди с избыточным весом интерпретируют любую сильную эмоцию как чувство голода. Например, человек испытывает сильное разочарование, а ему кажется, что он голоден. Если такой человек постоянно находится в ситуациях, вызывающих различные сильные эмоции, – он переедает.</li>
  <li>Психологическая защита.  Для людей с низкой самооценкой лишний вес становится своеобразной неосознанной защитой от необходимости принятия ответственности за свою жизнь.</li>
  <li>И т.д.</li>
</ul>
<p><strong>2) Замедление в обмене веществ.</strong></p>
<p><strong>3) Нарушение работы ЖКТ – </strong>образование шлаков (продуктов неполного расщепления) в организме связано с нарушением баланса кишечной микрофлоры (бактериозы, кандидозы).</p>
<p><strong>4) Нарушение минерального обмена – </strong>нарушение водно-солевого обмена вследствие ослабленной выделительной функции почек и кожи, приводит к накоплению жидкости в организме как защиты от обезвоживания.</p>
<p><strong>5) Малоподвижность</strong></p>
<p><strong>6) Нарушения сна – </strong>плохой сон вследствие различных причин (заболевания, ночная работа и т.д.) приводит к ощущению усталости и разбитости в течение последующего дня, что воспринимается организмом как недостаток энергии. Пополняется энергия потреблением пищи.</p>
<p>Любой, кто когда-либо страдал от проблем с лишним весом, знает, как тяжело потерять избыточные килограммы на диетах.</p>
<p>Проведенные исследования показали высокую эффективность гипноза как основного метода в комплексе мероприятий, направленных на коррекцию веса. Проблема избыточной массы тела нередко носит психологический характер. Неспособность контролировать пищевые потребности обусловлена стрессом, психотравмой, нервным перенапряжением, эмоциональным потрясением. Благодаря сеансам гипноза для похудения вы сможете избавиться от подсознательных причин своего лишнего веса, перестанете заедать свои проблемы, но придется также прикладывать усилия, чтобы поддерживать фигуру в форме.</p>
<p>Также после сеансов уменьшается аппетит, человек быстрее наедается и может надолго забыть о еде. Это очень действенный способ раз и навсегда решить проблему ожирения и обрести идеальное тело.</p>
<p>Коренным отличием гипноза от других способов коррекции веса является то, что после профессионально проведенного сеанса отпадает необходимость в подавлении своих желаний и насилия над собственной волей. Благодаря созданию новых, позитивных установок человек делает выбор в пользу здорового питания и активного образа жизни с удовольствием.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, а через них и на подкорковые структуры,  которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<h3>Существует внутреннее и внешнее управление организмом.</h3>
<p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
<p><strong>Внутреннее управление организма осуществляется на нескольких уровнях:</strong></p>
<ul>
  <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
  <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
  <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
  <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
</ul>
<p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике  относится к самым результативным услугам в настоящее время, и позволяет, выявить и устранить причину заболевания бесследно избавив пациента от этого недуга на всю жизнь.</strong></p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными психическими расстройствами, которые в дальнейшем перестали вызывать у них навязчивость и актуальность, оставив только удивление того, что когда то их это беспокоило. Тем, кто страдает расстройствами пищевого поведения не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите себя от этого навязчивого состояния.</p>
<h3>Возможны ли побочные действия от гипноза?</h3>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% излечение.</li>
  <li>Устранение причин заболевания.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p>Самостоятельные попытки избавиться от лишнего веса приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, повышенной раздражительностью, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><strong>Наш авторский метод  позволит вам вернуться к нормальной жизни и получать от нее удовольствие. Будьте здоровы и берегите себя!</strong></p>






