---
layout: page
title: Психологическая помощь
description: Индивидуальная консультация психолога является одной из форм профессиональной помощи клиенту, оказавшемуся в сложной ситуации, требующей помощи специалиста.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<h3>Психологическая помощь.</h3>
<ul>
  <li><a href="lechenie-gipnozom/2019-06-01-individualnaya-konsultaciya-psihologa.html">Индивидуальная консультация психолога</a></li>
  <li><a href="lechenie-gipnozom/2019-06-01-semejnyj-psiholog.html">Консультация семейного психолога</a></li>
  <li><a href="lechenie-gipnozom/2019-06-01-podrostkovyj-psiholog.html">Консультация подросткового психолога</a></li>
  <li><a href="lechenie-gipnozom/2019-06-01-konsultaciya-detskogo-psihologa.html">Консультация детского психолога</a></li>
  <li><a href="lechenie-gipnozom/2019-06-01-psihologicheskaya-diagnostika.html">Психологическая диагностика</a></li>
</ul>
<h3>Консультация психолога.</h3>
<p>Индивидуальная консультация психолога является одной из форм профессиональной помощи клиенту, оказавшемуся в сложной ситуации, требующей помощи специалиста. В процессе работы выбираются эффективные средства и методы, позволяющие клиенту лучше узнать и понять самого себя, найти нужный выход из сложившейся ситуации и справиться с переживаниями, использовать на практике полученные знания для устранения факторов, мешающих личностному развитию, снижающих качество жизни.</p>
<h3>Индивидуальная консультация психолога решает ряд важнейших задач:</h3>
<ul>
  <li>устранение выявленных психологических травм;</li>
  <li>устранение выявленных патологий в развитии личности;</li>
  <li>развитие личности, ее самореализация и социализация;</li>
  <li>решение имеющихся жизненных проблем;</li>
  <li>формирование правильных моделей поведения в различных жизненных ситуациях;</li>
  <li>согласование социальных и личных интересов;</li>
  <li>выработка умения делать выбор и нести ответственность за принятые решения.</li>
</ul>
<h3>Когда нужно обращаться к психологу?</h3>
<p><strong>Ситуации, в которых может возникнуть повод обратиться к специалисту, бывают самыми разнообразными:</strong></p>
<ul>
  <li>Все предыдущие пути решения проблемы оказались недейственными.</li>
  <li>Тревога, депрессия, страхи, неврозы, навязчивые мысли.</li>
  <li>Психологическая травма, кризис, горе, потеря близкого.</li>
  <li>Потеря смысла жизни, ощущение пустоты и бессмысленности.</li>
  <li>Панические атаки.</li>
  <li>Агрессивность или мысли о самоубийстве.</li>
  <li>Обостренное чувство вины, чувство одиночества.</li>
  <li>Проблемы в отношениях с детьми.</li>
  <li>Застенчивость, неуверенность,  проблемы в общении, в установлении контактов.</li>
  <li>Проблемы в межличностных и семейных отношениях.</li>
  <li>Взаимоотношения мужчины и женщины.</li>
  <li>Затруднения в установлении близких отношений.</li>
  <li>Сексуальные проблемы.</li>
  <li>Неуверенность в принятии решений и выборе целей.</li>
  <li>Психосоматические расстройства, нарушения сна, проблемы с  весом.</li>
  <li>Ситуации развода, конфликта.</li>
  <li>Вы не можете разобраться в себе или понять другого человека.</li>
  <li>Вам нужна психологическая диагностика.</li>
  <li>Профориентирование.</li>
  <li>Различные виды зависимости.</li>
  <li>Вы хотите что-то изменить в себе.</li>
  <li>Саморазвитие.</li>
  <li>Снижение работоспособности.</li>
  <li>Выбор жизненного пути.</li>
</ul>
<h3>Порядок проведения психологической консультации.</h3>
<p>Иногда решение получить профессиональную помощь психолога трудно принять еще и потому, что у вас нет представления о том, как будет проходить эта процедура, и в чем будет заключаться ваше в ней участие. Поэтому здесь мы расскажем о том, какие этапы включает индивидуальная консультация.</p>
<h3>Особенности психологической консультации заключаются в индивидуальности работы с каждым клиентом. Однако есть определенные алгоритмы, которые используются в консультировании:</h3>
<ol>
  <li>Выявления проблем. Выявление эмоционально - соматической симптоматики.</li>
  <li>Конкретизация имеющихся проблем с причинами их возникновения.</li>
  <li>Выявление первопричин возникновения причин имеющихся проблем.</li>
  <li>Выбор возможных вариантов разрешения проблем.</li>
  <li>Выработка плана реализации.</li>
  <li>Реализация поставленных целей.</li>
  <li>Поддержание обратной связи.</li>
</ol>
<p>В свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности человека.</p>
<p><strong>Мы поможем вам обрести душевное равновесие, гармонию и вернуть вам физическое здоровье.</strong></p>
<p><strong>Будьте здоровы и берегите себя.</strong></p>