---
layout: page
title: Методы работы
description: Методы работы работы которые я использую при лечении гипнозом.
---

<h3>1. Гипнотерапия.</h3>
<p>В независимости от разновидности клинического гипноза – 90% работы гипнолога это регрессивный гипноз. В этом и заключается весь смысл гипнотерапии.</p>
<p>
  Гипноз (от греч. hypnos — сон) — временное особое состояние сознания, характеризующееся сужением его объема и резкой фокусировкой на содержании внушения, что связано с изменением функции индивидуального контроля и самосознания. Состояние гипноза наступает в результате специальных воздействий гипнотерапевта на зрительные, слуховые, тактильные анализаторы человеческого организма для погружения его в гипнотический транс, успокоения сознания пациента, и дальнейшего воздействия на бессознательное путем словесных внушений и установок. Используя определенные приемы, позволяющие обойти сознательное внимание, критически оценивающее то, что с ним (или в нем) происходит, гипнотерапевт меняет деструктивное значение событий, создавая новую, устойчивую связь, полезную для организма. В этом смысле гипнотерапевта можно сравнить с прекрасным хирургом, который не сможет провести операцию без хирургического инструмента и оборудования. Гипноз – это, прежде всего инструмент в руках гипнотерапевта, с
  помощью которого, появляется уникальная возможность добраться до причин возникновения различных патологий, как в психической сфере (эмоции, чувства, мышление), так и в соматической, вызванных психогенным фактором.
</p>
<p>Любой стереотип нашего поведения или реагирования на происходящее – это психическая программа, которая записана в нашем бессознательном. Программы, которые несут биологически отрицательное значение для человека, мешают человеку жить, добиваться жизненного успеха, налаживать отношения с другими людьми, чувствовать себя уверенным и счастливым. Справиться с этой ситуацией с помощью сознания, как правило, невозможно. Чтобы эту программу изменить или устранить, а также создать новую, нам необходимо добраться до места её хранения - то есть в область бессознательного. И это возможно только в состоянии гипноза. Поскольку все проблемы человека имели свое начало когда-то в прошлом (может вчера, а может в детстве), для их устранения используется регрессия. Чтобы убрать проблему, нужно вернуться (в состоянии гипноза) в то время, когда она возникла и дать себе те ресурсы, которые помогут её решить.</p>
<p>Точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям, кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<p>Скорость погружения, глубина транса, способность находиться в нем определенное время – это исключительно ваши собственные особенности психики, которые зависят от скорости протекания психических процессов в вашем головном мозге, их силы и устойчивости, а также от физического и психического состояния вашего здоровья. От этих показателей будет зависеть количество лечебных сеансов для решения проблемы.</p>
<p>Опытный гипнолог из беседы с вами определит наиболее подходящий для вас способ погружения в состояние транса, в зависимости от цели гипноза в процессе работы выберет наиболее подходящий ресурс (для решения проблемы или достижения желаемого), при необходимости будет регулировать глубину погружения и длительность терапии, а также определит момент завершения сеанса.</p>
<h3>2. Телесно-ориентированный метод психотерапии.</h3>
<p>
  Негативные чувства так или иначе отражаются в нашем теле. Всем известны выражения "ком в горле" или "на душе скребутся кошки". Разного рода телесные зажимы могут возникать от того, что человек сдерживает свои эмоции. Работая с телом, мы можем излечивать душу...
  <a href="lechenie-gipnozom/2019-05-05-telesno-orientirovannyj-metod-gipnoza.html">читать полностью</a>
</p>
<h3>3. Когнитивно-поведенческий метод психотерапии.</h3>
<p>
  Человек - существо мыслящее, способное осознавать, анализировать, делать выводы и в зависимости от их результатов выстраивать свое поведение. Именно эти возможности психики человека лежат в основе когнитивно-поведенческой психотерапии. В отличие от психоанализа, где большое значение придается глубинным неосознаваемым процессам, над которыми индивидуум не властен, когнитивно-поведенческая психотерапия работает с сознанием...
  <a href="lechenie-gipnozom/2019-05-05-kognitivno-povedencheskij-metod-gipnoza.html">читать полностью</a>
</p>
<h3>4. Психоанализ</h3>
<p>
  Психоанализ - это способ выявления переживаний и действий человека, обусловленных бессознательными мотивами с целью лечения психических болезней. В начале прошлого века он был введён австрийским учёным З. Фрейдом и широко применялся вместе с гипнозом...
  <a href="lechenie-gipnozom/2019-05-05-psihoanaliz.html">читать полностью</a>
</p>
<h3>5. Гештальт-психотерапия</h3>
<p>
  Гештальт- психотерапия – это метод психотерапии, в основу которого легли работы Фредерика Перлза, Пола Гудмана и Лаура Перлза. Особенностью гештальт-терапии является восприятие личности, как единой структурированной целостности, способной проживать ситуацию и осознавать процесс проживания. Что же такое гештальт-терапия в понятном для обычного человека смысле? Как разобраться во всех этих «экзистенциализмах», «холистичности» и прочих «совокупностях процессов мнезиса»?
  <a href="lechenie-gipnozom/2019-05-05-geshtalt-psihoterapiya.html">читать полностью</a>
</p>
