---
layout: page
title: Расстройства пищевого поведения
description: Расстройство пищевого поведения затрагивают миллионы людей по всему миру каждый год. Обычно расстройство пищевого поведения влияют на питание, вес, а в некоторых случаях приводит к тяжелым формам психического расстройства и проблемам со здоровьем.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ':categories/:year-:month-:day-:slug.html'
---

<h3>Расстройство пищевого поведения.</h3>
<p>Расстройство пищевого поведения затрагивают миллионы людей по всему миру каждый год. Обычно расстройство пищевого поведения влияют на питание, вес, а в некоторых случаях приводит к тяжелым формам психического расстройства и проблемам со здоровьем.</p>
<p>Расстройство пищево́го поведе́ния (РПП) — класс психогенно обусловленных поведенческих синдромов, связанных с нарушениями в приёме пищи. В числе прочих, к расстройствам приёма пищи относят нервную анорексию, нервную булимию, психогенное переедание, а также ряд других расстройств. Нарушения пищевого поведения относятся к психическим расстройствам.</p>
<p><strong>У каждого расстройства пищевого поведения можно выделить свои характерные черты:</strong></p>
<h3>Нервная анорексия.</h3>
<p>Нервная анорексия - расстройство приёма пищи, характеризующееся значительно сниженным весом тела, преднамеренно вызываемым и/или поддерживаемым самим пациентом, в целях похудения или для профилактики набора лишнего веса.</p>
<p>Симптомы – зацикленность на колорийности пищи, недоедание, желание похудеть, даже тогда, когда это уже не нужно, отсутствие менструации у женщин, крайняя усталость и слабость, раздражительность и депрессия, выпадение волос на голове, сухая кожа, чувство вины, вздутие живота или запор и др. Хронические проявления – бесплодие, бессонница, анемия, проблемы с сердцем, плохая циркуляция крови, смерть.</p>
<h3>Нервная булимия.</h3>
<p>Нервная булимия - расстройство приема пищи, характеризующееся потерей контроля над процессом питания с эпизодами неконтролируемого обильного потребления пищи.</p>
<p>Как и анорексия, булимия – это серьезное психологическое расстройство приема пищи. Основные признаки – постоянный страх прибавить в весе, использование неестественных способов очищения от пищи (рвота, слабительные, чрезмерные физические нагрузки), переедание калорийной или жирной пищи и чувство вины после, частые боли в желудке, слабость, нарушение менструального цикла, изоляция от общества, депрессия, импульсивные приступы обжорства и очищение после, и др.</p>
<h3>Психогенное переедание.</h3>
<p>Переедание – это расстройство приема пищи, характерными особенностями которого являются поглощение избыточного количества еды и невозможность остановиться в нужный момент.</p>
<p>Характеризуется постоянным ощущением голода, но без последующего очищения от пищи, поэтому люди страдающие данным видом пищевого расстройства обычно имеют большой вес. Обычно приступы обжорства проявляются в моменты стресса или высокой психологической нагрузки.</p>
<p><strong>Другие специфические подтипы:</strong></p>
<ul>
  <li>Мышечная дисморфия (МД) — восприятие своего тела как слишком худого, слабого или обрюзгшего, с последующей попыткой нарастить мышечную массу всеми доступными способами.</li>
  <li>Пикацизм — употребление в пищу несъедобных веществ (например, земля или мел).</li>
  <li>Мерицизм (руминационный синдром) — пережёвывание произвольно отрыгиваемой пищи спустя некоторое времени после еды.</li>
  <li>Избегание/ограничение приёма пищи (ИПП) — психическое расстройство, при котором теряется интерес к приёму некоторых видов пищи.</li>
</ul>
<h3>Нервная анорексия.</h3>
<p>Нервная анорексия – это заболевание, характеризующееся расстройством пищевого поведения. Больные отличаются психическим расстройством, выраженном в искаженном восприятии собственного тела, которое сопровождается расстройством пищевого акта. Они всегда мотивированны навязчивой целью похудения или профилактики лишнего веса. В результате такое патологическое желание сброса веса, сопровождающееся навязчивым страхом ожирения. У многих больных пропадает критичность к своему состоянию, они не замечают явной дистрофии, у них нарушается обмен веществ, возникают заболевания различных систем и органов, но убедить их в необходимости лечения бывает чрезвычайно сложно. Некоторые из пациентов осознают свое истощение, но страх перед поглощением пищи у них настолько глубок, что восстановить аппетит самостоятельно они уже не могут.</p>
<p>Заболевание развивается в период полового созревания, когда девочки и мальчики особо ранимы. У девушек анорексия встречается чаще, но нередки случаи болезни у юношей. В этот период формируется отношение к себе и своему телу в целом. Молодые люди в таком возрасте очень чувствительны к замечаниям в отношении их внешности, именно в этом периоде начинают формироваться комплексы по поводу своего тела. Девушка в период полового созревания отмечает вполне естественное несоответствие между своим телосложением и отредактированным телом с обложки глянца и предпринимает определенные меры. Естественно, не у каждой девушки развивается анорексия. Чаще всего нервная анорексия развивается у определенного типа личностей.</p>
<p><strong>Личностные факторы, которые чрезмерно выражены у склонных к анорексии девушек:</strong></p>
<ul>
  <li>перфекционизм,</li>
  <li>склонность к обсессиям (навязчивым ритуальным привычкам),</li>
  <li>низкая самооценка,</li>
  <li>неуверенность в себе,</li>
  <li>исполнительность, ответственность,</li>
  <li>педантичность,</li>
  <li>требовательность.</li>
</ul>
<p><strong>Характерные признаки нарушения со стороны психики:</strong></p>
<ul>
  <li>начало заболевания в период полового созревания,</li>
  <li>отрицание пациентом нарушений психики и отсутствие критичности к признакам истощения,</li>
  <li>панический страх перед лишними килограммами,</li>
  <li>депрессивное состояние: грусть, раздражительность, периоды эйфории сменяющиеся пониженной активностью,</li>
  <li>существенное сознательное ограничение или отказ от употребления пищи,</li>
  <li>ритуальное следование правилам диеты (подсчет калорий, взвешивание пищи),</li>
  <li>раздражительность или депрессия при невозможности следовать режиму питания,</li>
  <li>фанатическая обеспокоенность собственным весом (постоянные взвешивания, измерения),</li>
  <li>критическое снижение массы тела с развитием атрофии мышц,</li>
  <li>отсутствие удовлетворения результатом при снижении массы тела,</li>
  <li>прекращение менструаций у девушек (больше 3 месяцев),</li>
  <li>зацикленность на поиске новых методов похудения и диет,</li>
  <li>патологическое, извращенное восприятие собственного тела,</li>
  <li>нарушение сна.</li>
</ul>
<p>Одним из характерных признаков нервной анорексии являются следующие рассуждения больного: «Мой рост 170, а вес сейчас 47 килограммов, но я хочу весить 37 килограммов». Впоследствии цифры становятся меньшими.</p>
<p>В основе нервной анорексии лежат глубокие психические раны, глубоко и постоянно тревожащие переживания. В результате этого, возникает персеверация мысли на своем теле. Человек не способен сосредоточится на работе, учебе, семье, он не может думать о личной жизни. Именно поэтому, нервная анорексия представляет собой целый комплекс психических расстройств в развитии личности. Понять первопричину и справится с ней самостоятельно невозможно, а потому требуется помощь специалиста. У нас вы сможете найти понимание вашей проблемы, и с помощью гипнотерапии мы поможем вам избавиться от этого недуга на всю жизнь.</p>
<p><strong>Разработанная нами авторская методика поможет вам избавиться от этого недуга на всю жизнь!</strong></p>
<h3>Нервная булимия.</h3>
<p>Нервная булимия - это расстройство пищевого поведения, которое сопровождается неудержимым голодом, с отсутствием чувства насыщения. Это расстройство носит циклический характер, при котором обжорство, сменяется попытками освободить свой организм от лишней пищи. Больной начинает изнурять себя голодом, провоцирует рвоту, пьет слабительные препараты, усиленно занимается спортом. Главная задача подобных чисток заключается в освобождении тела от нежелательных калорий. Любой из этих методов вреден для здоровья и непродуктивен.</p>
<p>Булимия — это очень мучительно. Исчезает чувство насыщения, в результате чего исчезает и контроль над количеством съедаемой пищи, что приводит к невозможности остановиться. Человек заглатывает в бешеном темпе огромное количество продуктов. Но, независимо от количества съеденного, укоряет себя в том, что не должен был этого делать. В результате возникает ощущение неспособности контролировать себя.</p>
<p>Чтобы освободить организм от нежелательной пищи, больные применяют различные очистительные процедуры. Чаще всего искусственно вызывают рвоту или прибегают к слабительным и мочегонным средствам, клизмам. Однако мало кто из них знает о том, что эти очистительные процедуры, не являются полезными для организма средством уменьшения или поддержания веса. Снижение веса, например, после приема слабительных средств, обусловлено главным образом потерей жидкостей, а не жиров, что крайне негативно сказывается на работе всего организма.</p>
<p><strong>Варианты развития булимии:</strong></p>
<ul>
  <li>Больной постоянно испытывает чувство голода. Желание принимать пищу перестает контролировать, в результате чего возникают приступы обжорства.</li>
  <li>Булимия, ставшая следствием анорексии. При анорексии приступы переедания тоже имеют место быть. Пациент перестает себя контролировать, много ест, после чего старается вызвать рвоту, чтобы очиститься от ненавистной пищи.</li>
  <li>Анорексия, ставшая следствием булимии. Когда булимия приводит к истощению организма.</li>
</ul>
<p><strong>Основные признаки нервной булимии:</strong></p>
<ul>
  <li>Поглощение гигантского или очень большого количества еды за один прием пищи. Пища не пережевывается, заглатывается кусками, съедается быстро.</li>
  <li>После приема пищи запирание в туалете - чтобы избавиться от съеденного, вызвать рвоту.</li>
  <li>Скрытность, замкнутость, колебание настроения в течение дня.</li>
  <li>Ощущение неконтролируемости ситуации, чувство беспомощности и одиночества.</li>
  <li>Общая слабость организма, быстрая утомляемость, общее ощущение нездоровья.</li>
  <li>Частые болезни горла: фарингиты, ангины.</li>
  <li>Проблемы с желудочно - кишечным трактом.</li>
  <li>Разрушение зубной эмали, вызванное желудочными кислотами рвотных масс.</li>
  <li>Увеличение слюнных желез.</li>
  <li>Проблемы с кожей. Обезвоживание.</li>
  <li>Отказ признать у себя наличие проблемы.</li>
</ul>
<p>В основе булимии лежат глубокие психические раны, глубоко и постоянно тревожащие переживания. В результате этого, возникает персеверация мысли на еде. Человек не способен сосредоточится на работе, учебе, семье, он не может думать о личной жизни. Именно поэтому, булимия не является проблемой еды как таковой, а представляет собой целый комплекс психических расстройств в развитии личности. Понять первопричину и справится с ней самостоятельно невозможно, а потому требуется помощь специалиста. У нас вы сможете найти понимание вашей проблемы, и с помощью гипнотерапии мы поможем вам избавиться от этого недуга на всю жизнь.</p>
<p><strong>Разработанная нами авторская методика поможет вам избавиться от этого недуга на всю жизнь!</strong></p>
<h3>Неконтролируемое переедание.</h3>
<p>Неконтролируемое переедание отличается от булимии тем, что при этом расстройстве не следует попыток сразу избавиться от съеденного. В остальном симптомы идентичны.</p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы, ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения, нервные тики, бессонница, логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, а через них и на подкорковые структуры, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<h3>Существует внутреннее и внешнее управление организмом.</h3>
<p>Внешнее управление воздействует на систему через ядерную ДНК, информационную РНК, посредством нейросекреторных, эндокринных и других химических регуляторов.</p>
<p><strong>Внутреннее управление организма осуществляется на нескольких уровнях:</strong></p>
<ul>
  <li>Высший уровень регуляции физиологических функций организма и взаимоотношение организма и среды обеспечивается центральной нервной системой.</li>
  <li>Второй уровень регуляции обеспечивается вегетативной нервной системой.</li>
  <li>Третий уровень регуляции осуществляется эндокринной системой.</li>
  <li>А четвертый уровень регуляции – это неспецифическая регуляция физиологических функций, которая осуществляется жидкими средами организма (кровь, лимфа, тканевая жидкость).</li>
</ul>
<p>В организме все эти уровни находятся во взаимной связи, обеспечивая получение полезного результата функционирования, как отдельного органа системы, так и организма в целом. Таким образом, воздействуя лечебным словом в гипнозе на высшие отделы Ц.Н.С., открывается прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека. Ибо в свете учения о единстве психики и соматики, всякое соматическое заболевание неразрывно связано с большим или меньшим нарушением функционального состояния высшей нервной деятельности больного.</p>
<p>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</p>
<p>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике относится к самым результативным услугам в настоящее время, и позволяет, выявить и устранить причину заболевания бесследно избавив пациента от этого недуга на всю жизнь.</p>
<p>За многие годы нашей лечебной практики к нам обращались пациенты с самыми невероятными психическими расстройствами, которые в дальнейшем перестали вызывать у них навязчивость и актуальность, оставив только удивление того, что когда то их это беспокоило. Тем, кто страдает расстройствами пищевого поведения не стоит разочаровываться и терять надежду на исцеление, так как с нашей помощью вы навсегда избавите себя от этого навязчивого состояния.</p>
<h3>Возможны ли побочные действия от гипноза?</h3>
<p>
  Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф.
  Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% излечение на всю жизнь.</li>
  <li>Устранение причин заболевания.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p>Самостоятельные попытки избавиться от расстройства пищевого поведения, приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, повышенной раздражительностью, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить проблему нервной булимии, нервной анорексии, и других пищевых расстройств, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<p><strong>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие. Будьте здоровы и берегите себя!</strong></p>
