---
layout: page
title: Вредные привычки
description: Вредные привычки это патологическая зависимость от чего либо это многократно повторяющийся ряд действий.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ':categories/:year-:month-:day-:slug.html'
---

<h3>Патологические зависимости и вредные привычки.</h3>
<p>
  Вредные привычки человека, патологическая зависимость от чего либо – это многократно повторяющийся ряд действий, доходящий до уровня навязчивости, автоматизма. Эти действия отличаются вредоносностью с точки зрения общественного благополучия, окружающих людей или состояния физического и психического здоровья человека, оказавшегося в ловушке данной привычки. Самостоятельная борьба с ними приводит к депрессивному расстройству, раздражительности и ломке.
</p>
<p><strong>Но что объединяет людей, страдающих от вредных привычек или патологической зависимости от чего либо? Это, прежде всего глубинные психофизиологические причины, которые с успехом лечатся только методом гипнотерапии!</strong></p>
<p>
  <strong>
    И только воздействуя на психику лечебным гипнозом, можно устранить источник возникновения патологии на всю жизнь! То - есть, любые формы зависимости и вредные привычки, возникшие в результате внешних и внутренних воздействий на психику человека, лечатся только гипнозом! Другие методы малоэффективны.
  </strong>
</p>
<p>
  <strong>
    Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину патологии, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.
  </strong>
</p>
<p>С помощью гипнотерапии мы помогаем нашим пациентам избавляться от разного рода зависимостей. Мы помогли многим пациентам взять под контроль свою жизнь и освободиться от того, что вначале доставляло удовольствие, а потом перешло в проблему.</p>
<h3>Самые часто встречающиеся формы патологической зависимости и вредные привычки, которые с успехом лечатся при помощи гипнотерапии.</h3>
<p>
  <strong>
    1.Стереотипные двигательные расстройства (вредные привычки). Зависимость от привычки грызть ногти (онихофагия), ковырять кожу, выдергивать волосы (трихотилломания), обкусывать губы, сосать палец (хейломания), ковырять в носу (ринотиллексомания), раскачиваться и делать другие ритмичные движения телом или головой (яктация), щелканье пальцами и т.д.
  </strong>
</p>
<p>
  Немногие могут похвастаться полным отсутствием вредных привычек. Одни грызут ногти, другие не вынимают изо рта карандаш или ручку, третьи теребят волосы, четвертые ковыряют в носу и т. д. Всех вредных привычек и не перечесть. Откуда они берутся и в чем причина появления зависимости от вредных привычек?
</p>
<p>И причины появления этих вредных привычек – это, прежде всего психофизиологические, и они родом из детства.</p>
<p>
  Зависимость (психологическая или физиологическая) - это модель, которая работает на бессознательном уровне, по типу, бегства от боли к более приятному. Болью может быть что угодно, страхи, депрессия, стрессы и т.д. Отвлечься от проблем, успокоив себя грызя ногти, ковыряя кожу, выдергивая волосы, обкусывая губы, сосанием пальца, ковырянием в носу, щелканьем пальцами, и т.д., приобретает адаптационный смысл для организма. И здесь не достаточно одной силы воли, потому, что обычные привычки, как один два раза в неделю, стали для вас «наркотиком» без которого вы не можете жить и дышать.
</p>
<h4>2.Зависимость от другого человека. Любовная зависимость.</h4>
<p>
  <strong>Психологическая зависимость от другого человека</strong>
  в психиатрии имеет четкое определение - аддикция. С одной стороны, привязанность к близкому является социальным фактором, без которого невозможно жить в условиях общества. С другой, это состояние может становиться навязчивым и принимать патологический вид. Серьезность ситуации заключается в том, что слишком выраженная аддикция способна привести к расстройству личности и повлечь развитие серьезных психиатрических заболеваний. В качестве объекта привязанности может быть лицо противоположного пола или близкий и родной человек, например, мать, ребенок. Навязчивое состояние характеризуется тотальным контролем, потерей самообладания и патологической тягой к постоянному нахождению рядом.
</p>
<p><strong>Три основных вида зависимости:</strong></p>
<ul>
  <li>От родителей;</li>
  <li>От друзей и круга общения;</li>
  <li>От любимого человека.</li>
</ul>
<h4>От родителей.</h4>
<p>
  С момента рождения и до полного завершения формирования личности, индивид находится в плотном контакте со своими родителями. Каждый ребенок нуждается в поддержке, которая связана с экономическими и психологическими факторами. Первые несколько лет жизни зависимость регулируется на инстинктивном уровне. В дальнейшем возникает более тонкая психологическая связь. По мере взросления ребенок испытывает необходимость в личном пространстве, отдаляясь от родителей.
</p>
<p>
  В норме, после окончательного формирования характера человека, как независимого индивида, он начинает жить собственными интересами. Мать и отец отпускают его в социальное пространство. Если своевременно не остановить психологическую зависимость между родителями и сыном или дочерью, это может повлечь за собой серьезные последствия. В данной ситуации не все обусловлено поведением детей. Гиперопека и гиперзабота со стороны родителей формируют неспособность молодого человека адаптироваться к реальной жизни.
</p>
<h4>От друзей и круга общения.</h4>
<p>
  Психологическая зависимость от друзей возникает в результате того, что индивид не может самостоятельно существовать в социальной среде. Причиной могут стать неуверенность в себе, заниженная самооценка, нежелание принимать самостоятельные решения. В данном случае привязанность акцентирована на зависимость от мнения окружающих. Индивид ищет поддержки со стороны, которую находит в лице своих друзей. Как правило, такие люди стремятся к более сильным личностям, способным вести вперед и принимать на себя весь уровень ответственности. Патологическая зависимость в такой ситуации влечет за собой развитие отношений, основанное на манипуляциях.
</p>
<h4>От любимого человека. Любовная зависимость.</h4>
<p>
  Наличие патологической зависимости от любимого человека зачастую принимается за истинную любовь. Стоит учитывать, что искренние чувства приносят радость и удовлетворение от жизни. Любой эмоциональный дискомфорт и напряжение говорят о наличии патологической привязанности, от которой нужно своевременно избавиться.
</p>
<p>
  Зависимость от объекта любви является одной из самых серьезных. Справиться с ней самостоятельно сложно даже очень сильным личностям. Слепое увлечение вызывает выработку фенилэтиламина, неврологического химического вещества, которое дает чувство эйфории, когда вы влюбляетесь. У людей, которые испытывают страстную влюбленность, наблюдаются симптомы, такие, как и у тех, кто злоупотребляет кокаином. Они испытывают настоящий синдром отмены, им настоятельно требуется объект любви, от которого они начинают зависеть.
</p>
<p>
  Нам часто приходится успешно лечить от любовной зависимости, как женщин, так и мужчин, как девушек, так и парней, самого разного возраста. Любовные ситуации у всех были самыми разными, а вот последствия очень похожими — острая нелюбовь к себе и зависимость от объекта любви, (объекта любви, кстати, часто совершенно недостойного этой любви). Зависимость (любая) — это болезнь, это крайне нездоровое состояние твоей психики, которая в остальных отношениях может быть совершенно здорова, но именно эта зависимость делает тебя рабом ситуации и своих чувств. От зависимости нужно лечиться, тогда придет и счастье и подлинная любовь.
</p>
<p>Не тратьте свою жизнь впустую на того, кому вы не нужны. Дайте себе возможность жить своей жизнью и жизнью того человека, который будет любить вас так же сильно как вы его.</p>
<h4>3. Зависимость от физических упражнений</h4>
<p>Мы все знаем, что физическая активность полезна для здоровья. Когда мы выполняем физические упражнения, в организме вырабатываются эндорфины – гормоны хорошего настроения. Для некоторых людей сильное ощущение удовольствия от физических упражнений может превратиться в зависимость.</p>
<p>
  Люди, зависимые от физических упражнений, имеют различные мотивы своего поведения, включая желание контролировать свой вес и фигуру или чувство необъяснимого страха, когда они прекращают тренироваться. У таких людей часто наблюдается очень плотный график, отведенный для физической активности. Они будут упражняться, даже когда заболеют или получат травму, что может привести к еще большим проблемам. Они могут пропускать работу, школу и игнорировать другие обязательства, только чтобы заняться физическими упражнениями.
</p>
<p>Чаще всего зависимость от физических упражнений связана с нарушениями пищевого поведения, такими как булимия или анорексия.</p>
<p>
  <strong>Подробнее о лечении булимии и анорексии можете прочитать в соответвующих статьях:</strong>
  <a href="lechenie-gipnozom/2020-01-07-bulimiya.html">Нервная булимия</a>
  <a href="lechenie-gipnozom/2020-01-07-anoreksiya.html">Нервная анорексия</a>
</p>
<h4>4. Шопоголизм</h4>
<p>Шопоголизм (ониомания), является одним из социально подкрепляемых поведенческих типов зависимости. Мы окружены рекламой, которая твердит о том, что нам нужно покупать новые вещи, чтобы быть счастливее, а потребительство стало мерилом нашей социальной ценности.</p>
<p>Несмотря на то, что шопоголизм распространился в последние годы, он не является по-настоящему новым нарушением, так как он считался психиатрическим расстройством еще в начале 20-го века.</p>
<p>Шопоголизм или навязчивое желание покупать, часто сосуществует с другими расстройствами, такими как: тревожное расстройство, злоупотребление психоактивными веществами, расстройство пищевого поведения, расстройство контроля над побуждениями и другими.</p>
<p>При этой зависимости наблюдаются такие симптомы, как чрезмерная трата денег, навязчивые покупки, невозможность остановиться от покупок, ложь по поводу траты денег, конфликты с близкими людьми по поводу покупок.</p>
<h4>5. Зависимость от татуировок.</h4>
<p>
  <strong>Тату-зависимость «синяя болезнь» —</strong>
  термин, употребляемый в среде как мастеров татуировки, так и обычных носителей татуировок. Обладателем «синей болезни», как правило, является человек, который сделал первую татуировку, подчас небольшую, и через некоторое время начал испытывать непреодолимое желание продолжить работать над украшением своего тела. Желание набить новую татуировку сравнимо с желанием купить себе новый дорогой гаджет или другой предмет, о котором давно мечтал. И как только такая покупка совершается, у человека сразу же повышается настроение, он чувствует себя намного лучше, едва ли не властелином мира. Но спустя некоторое время чувство эйфории проходит, вещь или предмет кажутся не такими и желанными, нужными, а потому приходиться совершать новую дорогую покупку. Точно такие же ощущения, эмоции преследуют людей, набивающих себе все новые и новые татуировки.
</p>
<p>В одном из университетов Техаса ученые провели исследование, в ходе которого изучались культурные и психологические аспекты, отвечающие за пристрастие к нательным рисункам.</p>
<p>
  Профессор Армстронг пришел к любопытному заключению. Статистические подсчеты показали, что около сорока процентов всех людей, сделавших первый раз татуировку, возвращались к мастеру второй раз. Все они принимали участие в исследовании, и на тот момент имели уже два – три нательных рисунка. Социальное положение в обществе, уровень ежемесячного дохода и семейный статус не имели при этом никакого значения.
</p>
<h4>6. Сексуальная зависимость</h4>
<p>Жажда сексуального удовлетворения стара, как мир. Но в современном мире это желание часто превращается в навязчивое поведение, при этом доступ к интернету добавил проблем.</p>
<p>
  Сексуальная зависимость часто описывается как расстройство половой сферы, характеризующееся навязчивыми действиями и мыслями сексуального характера. Как и в случае с другими видами зависимости, она может иметь отрицательное воздействие на отношения. Для некоторых зависимость не перерастает дальше навязчивой мастурбации или чрезмерного использования порнографии и секс услуг по телефону. Для других, это может включать незаконные виды деятельности, такие как эксгибиционизм, непристойные телефонные звонки, растление малолетних и изнасилование. Однако, люди страдающие сексуальной зависимостью не обязательно будут насильниками.
</p>
<p>Возрастающая сексуальная провокация в обществе привела к увеличению числа людей, которые занимаются необычными или незаконными сексуальными практиками, такими как секс по телефону, компьютерная порнография, виртуальный секс, эскорт-услуги и т.д.</p>
<h4>7. Интернет зависимость</h4>
<p>Если вы находитесь в сети в течение многих часов без перерыва и бесцельно бродите по сайтам, не желая выключать компьютер, то возможно у вас все в порядке. Но если это повторяется изо дня в день, а отключение компьютера вызывает у вас раздражение, то вы страдаете от интернет зависимости.</p>
<p>Сегодня психиатры со всего мира начинают признавать такие разновидности интернет зависимости, как онлайн порнография, увлечение компьютерными играми, увлеченность социальными сетями, пристрастие к виртуальным знакомствам и т.д.</p>
<p>
  Человек, страдающий от интернет зависимости, может часами бродить по интернет сайтам, при этом, не занимаясь поиском информации, а просто поглощая все, что попадается ему в интернете. Стремление сидеть в интернете по своему воздействию на психику, можно сравнить и поставить на один уровень с пристрастием к алкоголю и наркотической зависимости. Научно доказано, что пристрастие к интернету так же, как и пристрастие к алкоголю и наркотикам, – это серьезное психическое заболевание. Болезнь начинается тогда, когда не человек управляет интернетом, а интернет человеком. Это тот момент, когда необходимо лечиться.
</p>
<h4>8. Зависимость от пластических операций (дисморфофобия).</h4>
<p>Отрицательный образ своего тела заставляет множество людей ложиться под нож. Небольшое увеличение, коррекция, подтяжка и тому подобные операции делаются ради одного - стать еще ближе к идеалу.</p>
<p>В 2006 году «Британская ассоциация эстетических пластических хирургов» предупредила врачей о пациентах страдающих дисморфофобией или "синдромом воображаемого уродства". Для таких людей эстетическая хирургия является бесконечной процедурой, и они никогда не будут удовлетворены результатами.</p>
<p>
  Человек с дисморфофобией может иметь навязчивую идею о том, что у него существует какой-то физический дефект и проводить много времени, скрывая этот дефект с помощью косметики, одежды и операций. Часто такие люди имеют нереалистичные ожидания от пластических операций, думая, что это приведет к желаемым отношениям или высокооплачиваемой работе. Даже если они будут удовлетворены одной процедурой, они могут найти у себя другой дефект, который нужно подкорректировать.
</p>
<h4>9. Зависимость от лекарств</h4>
<p>
  Многие люди принимают лекарства по медицинским причинам, потому что доктор им их выписывает. Но около 20 процентов людей могут использовать лекарства не для медицинских целей. Это называется злоупотреблением лекарственными средствами и является серьезной проблемой. Чаще всего люди начинают злоупотреблять такими лекарствами, как наркотические болеутоляющие, транквилизаторы, антидепрессанты стимуляторы и т.д. Число людей, страдающих от зависимости к лекарствам, неуклонно растет.
</p>
<h4>10. Зависимость от секты.</h4>
<p>
  Секта - это независимая религиозная группа, замкнувшаяся в своих интересах (в том числе культовых), отделившаяся от традиционной церкви или традиционной религии. При этом, она может как использовать привычные догмы, переделывая их на свой лад, так и создавать собственные правила и законы. В более широком смысле слова секта – это социальная группа, объединенная общей духовной идеей или целью.
</p>
<p>
  Последствия воздействия тоталитарных организаций и нетрадиционных культов на человека имеют очень серьезные последствия для физического и психического здоровья человека. Часто люди превращаются в рабов при помощи всеобъемлющей системы запретов и предписаний, когда вся их жизнь регламентируется до мельчайших деталей, между ними и остальным миром создается стена отчуждения, они отдают организации свое имущество, свои силы, здоровье... Часто это кончается сумасшествием или самоубийством (иногда убийством).
</p>
<h3>Наиболее опасные современные секты:</h3>
<p>
  Перечислим наиболее известные и опасные современные деструктивные культы: «Церковь сайентологии», «Свидетели Иеговы», «Церковь Объединения» и другие мунистские организации, «Общество сознания Кришны», «Трансцендентальная медитация», «Ананда Марга», «Сахаджа – йога», культ Шри Чинмоя, «Брахма Кумарис», культ Саи Сатьи Бабы, Кундалини йога, культ Ошо Раджниша, «Аум Синрике», «Сока Гоккай», «Фалуньгун», «Семья» («Дети Бога»), «Церковь Иисуса Христа» (бостонское движение Кип Мак Кина), «Движение веры» (неопятидесятники, в том числе такие секты, как «Новое поколение», «Живая вода», «Слово жизни», «Посольство Божие», «Церковь на камне», «Роса». «Благодать», «Дом горшечника», «Живая вера». «Церковь любви Христа», все «церкви полного Евангелия»), «братство фиолетового пламени», «Новый Акрополь», «Синтон» Козлова, «Церковь Божьей Матери Державная» (она же «Богородичный центр»), «Белое братство», «Ревнители истинного благочестия», «Церковь последнего завета», культ «Анастасия», ивановцы, школа
  Щетинина, «Радастея», секта Ольги Асауляк, «Тетрада», секта Столбуна, «Школа Лхасы», «Академия фронтальных проблем Золотова», «Троянова тропа», «Рэйки» и еще масса других групп и сект, которые навязывают оккультно-магические и аморальные идеи и практики под видом разного рода псевдонаучных, псевдохристианских, восточных, оккультных и синкретических доктрин.
</p>
<h3>11. Наркотическая зависимость</h3>
<p>В борьбе с наркотической зависимостью гипноз является основным методом, так как в основе этого недуга лежат психические проблемы, которые играют ключевую функцию в возникновении этой смертельной зависимости.</p>
<p>
  В лечении от наркомании гипнозом недостаточно убрать только физиологическую тягу организма к наркотику, но и особо важно выявить и избавить больного от первопричин, побудивших к употреблению наркотика. От внутренней программы неудачника, от исковерканных ценностей, страхов, вины и бездны душевной боли от беспомощности жить. Сама наркозависимость, это только результат внутренних, глубинных причин!
</p>
<h3>12.Алкогольная зависимость</h3>
<p>Одним из самых распространенных заболеваний XXI века является алкоголизм. Причём не каждый алкоголик осознает тот факт, что употребление алкогольных напитков стало регулярным занятием и самостоятельно преодолеть алкоголизм человек уже не в состоянии.</p>
<p>Алкоголизм – это заболевание, характеризующееся регулярным употреблением различных алкогольных напитков. Это, прежде всего психическая болезнь. В основе этого психического расстройства лежит болезненное влечение, которое заняло неоправданно - большее значение в жизни человека.</p>
<p>
  Существует множество факторов, при которых человек может пристраститься к алкоголю. Это может быть стресс в результате эмоционального конфликта, тяжелая утрата (например, смерть близкого), сложности на работе. Алкоголизму способствует депрессивный характер личности с низкой самооценкой, особенности характера (слабость, безволие), недовольство своими действиями и поступками. Имеет значение наследственный фактор, воспитание, а также различные факторы окружающей среды и культуры.
</p>
<p>
  Алкоголики становятся зависимыми от спиртного. Если резко лишить их возможности выпивать, это может вызвать абстинентный синдром, который включает такие симптомы, как тошнота, рвота, тревожность, раздражительность, галлюцинации, дрожь и др. Алкоголизм нарушает мозговую деятельность и память, ухудшает физические способности, человек начинает совершать неразумные поступки. Алкогольные напитки больной алкоголизмом может употреблять в компании или наедине втайне от семьи, может просто пить каждый день пиво и утверждать, что у него нет алкогольной зависимости.
</p>
<h3>13.Зависимость от сигарет</h3>
<p>Впервые об эффективности гипноза для избавления от никотиновой зависимости сообщил психотерапевт Трапезников еще в 1899 году. Но массовое распространение этот способ получил лишь в последние несколько лет.</p>
<p>
  <strong>
    Курение – условный рефлекс на повседневные раздражители. Он прочно закрепился в сознании курильщика, сформировав навязчивую зависимость от курения. Поэтому, когда зависимый от сигарет бросает курить, ему сложно каждую минуту. Нужно не только избавиться от никотиновой зависимости, но и изменить все свои привычные ритуалы, стереотипы, избавиться от страхов. Например:
  </strong>
</p>
<ul>
  <li>Старые ложные стереотипы, такие как: сигареты снимают стресс, снимают скуку, помогают сосредоточиться, расслабляют, нравится ритуал, это просто привычка, есть чем занять руки, способствуют уверенности в себе, это стильно и круто и т.д.</li>
  <li>Страхи, связанные с желанием бросить курить. Например: будет тяжело, боюсь неудач, буду набирать вес, не хватит силы воли и т.д.</li>
  <li>Устойчивые рефлексы абстиненции. Например: первая сигарета утром, во время перерыва, после тренировки и т.д.</li>
</ul>
<h3>14. Игровая зависимость</h3>
<p>В настоящее время выделяется такая болезнь, как игромания – патологическая склонность к азартным играм. Самое страшное то, что человек не может самостоятельно остановиться.</p>
<p>
  Стремление играть по своему воздействию на психику, можно сравнить и поставить на один уровень с пристрастием к алкоголю и наркотической зависимости. Человек, которому раньше этот процесс казался веселым, интересным и совершенно безобидным, с какого-то момента стал его заложником. Научно доказано, что пристрастие к игре так же, как и пристрастие к алкоголю и наркотикам, – это серьезное психическое заболевание. Болезнь начинается тогда, когда не человек управляет игрой, а игра – человеком. Это тот момент, когда необходимо лечиться.
</p>
<p>В процессе игры, игроман получает заряд стрессовых гормонов, в результате которых организм получает эндорфины – «гормоны счастья».</p>
<p><strong>Постепенно «туннельное видение» приводит к тому, что игра для игромана приобретает следующие значения:</strong></p>
<ul>
  <li>играет роль «успокоительного средства»;</li>
  <li>дает возможность забыть о проблемах, облегчает их восприятие;</li>
  <li>восполняет недостаток острых ощущений;</li>
  <li>приносит радость и приятное наслаждение</li>
</ul>
<p>Поэтому игромана постоянно тянет играть, повышать ставки, пробовать что-то новое. Если ему это не удается, то начинается депрессивное расстройство и ломка.</p>
<p>
  Игроман нуждается в тщательном патопсихологическом анализе и лечении. Очень важно понимать то, что освобождение от патологической игры, непосредственно связано с восстановлением психики, а также с переоценкой актуальных ценностей, что непременно приводит к изменению образа жизни игромана. Однако каким бы сильным не было влияние гипнолога, помощь, как и при обычной наркомании, не должна быть разовой, потому, что личность за один-два сеанса изменить невозможно. Терпение и упорство, как со стороны самого игромана, так и со стороны его близких, являются необходимыми условиями при лечении этой болезни.
</p>
<h3>15. Трудоголизм</h3>
<p>
  Трудоголики часто заслуживают уважение в современном мире, где каждая минута означает, что вы можете заработать больше. Но чрезмерная преданность работе вытягивает из одержимого работой человека всю энергию. Грань между усердной работой и трудоголизмом начинает стираться. Работоголики, как и другие люди, страдающие от зависимости, возвращаются в реальность только тогда, когда что-то серьезное случается с их здоровьем или отношениями. Переутомление от многочасовой работы без перерыва, может привести к смерти на рабочем месте.
</p>
<h3>16.Танорексия (зависимость от загара)</h3>
<p>
  Медики обеспокоены увлеченностью многих людей солярием. Ученые выяснили, что у любителей соляриев наблюдается поведение, схожее с поведением алкоголиков и наркоманов. В исследовании выяснили, что когда людей, увлекающихся загаром в солярии, подвергли воздействию ультрафиолетовых лучей, то у них в определенных областях мозга, ответственных за зависимость от наркотиков и алкоголя, наблюдался повышенный кровоток. Когда исследователи прекращали воздействие ультрафиолетовых лучей, не говоря об этом участникам, эти области мозга становились менее активными.
</p>
<p>Зависимостью от загара, в основном в солярии, чаще страдают женщины. Исследование 2006 года выявило, что посещение солярия способствует выработки эндорфинов, а прекращение режима посещения солярия может вызвать синдромы отмены, как при других типах зависимости.</p>
<h3>17. Зависимость от телевизора</h3>
<p>
  Известно, что человек в среднем проводит около 3-4 часов в день, сидя перед телевизором, что составляет половину всего времени отдыха. Это означает, что к 65 годам, человек проведет около 9 лет, будучи приклеенным к телевизору. Некоторые любители телевизора могут проводить до 8 часов в день за просмотром телевизора. У людей, страдающих зависимостью от телевизора, наблюдаются такие клинические симптомы как беспомощность в отношении прекращения просмотра телевизора, использование телевизора, чтобы успокоить нервы, и раздражительность, если приходиться прекратить просмотр телевизора.
</p>
<p>
  Во время лабораторных экспериментов ученые изучали реакцию людей на телевизор, следя за мозговыми волнами с помощью электроэнцефалограммы. Участники, которые смотрели телевизор, находились в расслабленном и пассивном состоянии, а ЭЭГ показывало меньшую умственную стимуляцию. Оказалось, что и после прекращения просмотра телевизора, люди оставались расслабленными и безынициативными, так как просмотр телевизора вызвал эффект онемения, схожий с приемом транквилизаторов. Человек фактически отключается от реальной жизни, погружаясь в то, что показывают на экране, что в свою очередь ведете к навязчивому просмотру телевизора.
</p>
<h3>18.Зависимость от еды.</h3>
<p>Зависимость от еды (переедание) – это расстройство приема пищи, характерными особенностями которого являются поглощение избыточного количества еды и невозможность остановиться в нужный момент.</p>
<a href="lechenie-gipnozom/2020-01-05-nekontroliruemoe-pereedanie.html">Подробнее можно прочитать здесь.</a>
<p>
  За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике, относится к самым результативным услугам в настоящее время. Она нацелена не только на избавление от вредной привычки, патологической зависимости, но и от психофизиологических причин их возникновения. Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям. Это очень важно, потому, что, как правило, патологические зависимости затрагивают все сферы жизни человека, и выкарабкиваться из грязной ямы в одиночку очень сложно.
</p>
<p><strong>Гипноз и гипнотерапия при избавлении от зависимостей могут помочь:</strong></p>
<ul>
  <li>Устранить желание совершать навязчивые действия</li>
  <li>Изменить мышление и эмоциональное реагирование на определенные стимулы, вызывающие желание вновь оказаться в плену зависимости</li>
  <li>Поиск и изменение факторов, вызывающих зависимость, на глубинном уровне вашей психики, чтобы дать место позитивным изменениям</li>
  <li>Повысить доверие к себе и самоуважения, для того, чтобы научиться управлять своими желаниями</li>
  <li>Снизить уровень стресса, который негативно влияет на процесс излечения от зависимости</li>
  <li>Освободиться от эмоций, которые вы сдерживали долгое время</li>
  <li>И т.д.</li>
</ul>
<h3>Возможны ли побочные действия от гипноза?</h3>
<p>
  Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф.
  Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полное 100% излечение на всю жизнь.</li>
  <li>Устранение причин патологии.</li>
  <li>Дешевле.</li>
</ul>
<p>
  Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п..
</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p>
  Самостоятельные попытки избавиться от вредной привычки или патологической зависимости, приводит к закреплению новых опасений и страхов с дальнейшим угнетением ЦНС, повышенной раздражительностью, комплексу неполноценности, ложным убеждениям невозможности избавиться от этого недуга. Сознательными доводами невозможно устранить эту проблему, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.
</p>
<p>
  <strong>Если у вас есть какие-либо вопросы или вы желаете записаться на первый прием, то позвоните нам, и мы будем рады вам помочь!</strong>
  /p>
</p>

<p>
  <strong>Будьте здоровы и берегите себя!</strong>
  /p>
</p>
