---
layout: page
title: Мотивация
description: Многие считают, что для того, чтобы добиться успеха, человеку необходимо образование, знание, умение, навыки и способности, но все это меркнет по сравнению со стремлением человека достичь высот. Мотивация – это ключ к успеху!
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ':categories/:year-:month-:day-:slug.html'
---

<p>Может быть, в какие-то моменты вы чувствуете, что на самом деле способны на большее?</p>
<p>Может вы заметили, что стали хуже запоминать, и все чаще жалуетесь на свою память?</p>
<p>Может быть, вам казалось, что вам недостает амбициозности или мотивации для того, чтобы преуспеть?</p>
<p>Возможно, в какие-то моменты вы достигали определенных успехов, но в глубине души чувствовали, что если бы ваша мотивация была сильнее, вы могли бы достичь большего?</p>
<p>Вам чего-то не хватает, чтобы пойти и сделать что-то?</p>
<p>Вы постоянно отвлекаетесь по мелочам от самого важного, чтобы достичь цели и быть успешным и продуктивным в жизни?</p>
<p>Возможно, вы откладываете оформление документов? Не можете начать вести здоровый образ жизни? Поиск новой работы? Разрыв отношений? Ремонт в квартире, или отпуск?</p>
<h3>Тогда пришло время разобраться в причинах и изменить себя!</h3>
<p>Многие считают, что для того, чтобы добиться успеха, человеку необходимо образование, знание, умение, навыки и способности, но все это меркнет по сравнению со стремлением человека достичь высот. Мотивация – это ключ к успеху!</p>
<p>Попытки избежать неудачи и концентрация на успехе – это "две большие разницы!"</p>
<p>При столкновении с новыми возможностями и непростыми задачами, многие люди переходят в так называемый "безопасный режим" функционирования. Однако попытка избежать неудачи – это совсем не то же самое, что концентрация на успехе. Отчаянные попытки не наделать ошибок, в корне отличаются от наличия мощной мотивации к успеху, в стремлении приложить все возможные усилия для достижения своей цели. Успех зависит от многих факторов. Для достижения успеха недостаточно одних способностей и умений, а также возможности применить их на практике. Для достижения успеха вам необходимо искреннее и сильное желание преуспеть.</p>
<p>Если вы имеете желание преодолеть все трудности и добиться цели, то ничто вас не сможет остановить, даже недостаточность знаний, умений и т.д. Все это можно получить по ходу работы, а вот если изначально желания добиться успеха нет, то и успеха никакого не будет, потому, что человек сам не хочет его достичь.</p>
<h3>Установка на успех.</h3>
<p>Первый робот, умеющий играть в шашки, мог предугадать все возможные последствия любого сделанного хода, однако он выдавал весьма посредственные результаты. Почему? Потому что он делал только "безопасные" ходы для того, чтобы не проиграть партию.</p>
<p>Когда робота перепрограммировали на победу (а не на избегание проигрыша), машина начала выигрывать. Задумайтесь об этом!</p>
<p>Очень полезное и приятное осознание того, что вы куда-то движетесь, не стоите на месте и постепенно изменяете ситуацию (или собираетесь ее изменить), стремясь к своей цели, приносит вам невероятное удовлетворение. Это ощущение представляет собой нечто иное, оно ничем не похоже на осознание того, что вы просто пытаетесь избежать неудачи.</p>
<h3>Как изменить себя.</h3>
<p>Гипнотерапия – это единственный метод психологической помощи человеку, позволяющий научить человека контролировать себя и сконцентрироваться на успехе. В настоящее время, нами разработана авторская методика «Мотивация – ключ к успеху!», для выхода из «безопасного режима» и концентрации на успехе.</p>
<h3>Гипнотерапия для развития мотивации и вдохновения поможет вам найти причины, мешающие вашей успешности и устранить их!</h3>
<ul>
  <li>Устранить блоки, страхи, депрессию, тревоги, комплексы, и т.д., которые мешают вам в достижении цели.</li>
  <li>Изменить негативные установки на позитивные, чтобы ваше подсознание также захотело двигаться в направлении желаемого.</li>
  <li>Найти дополнительные ресурсы внутри вас и помочь начать ими пользоваться.</li>
  <li>Изменить прошлые бесполезные привычки на более полезные, чтобы получать результат.</li>
  <li>Восстановить внимание, потому что от внимания зависит функциональная способность нашей памяти.</li>
  <li>В состоянии глубокого транса пересмотреть всю вашу жизнь и найти в ней новые ориентиры.</li>
  <li>Стать более уверенным в себе, опираясь на внутреннее спокойствие и гармонию.</li>
</ul>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы, ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения, нарушения менструального цикла, нервные тики, бессонница, логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Таким образом, вся внутренняя среда в известной мере подчиняется влияниям коры мозга, импульсы со стороны которой могут воздействовать на состояние любого внутреннего органа и любой системы. В силу этого и благодаря временным связям кора больших полушарий осуществляет тесное взаимоотношение между внешней и внутренней средой организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>
  Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф.
  Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.
</p>
<h3>Положительные стороны гипнотического лечения:</h3>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Нет побочного эффекта.</li>
  <li>Устраняет причины заболевания.</li>
  <li>Дешевле.</li>
</ul>
<p>Самостоятельные попытки избавиться от причин, сформировавшую деструктивную поведенческую реакцию человека, приводит к перенапряжению и срыву ЦНС, к закреплению новых опасений, сомнений, страхов и чувств, с повышением раздражительности и тревожности. Сознательными доводами невозможно изменить свое поведение, так как источник их кроется в сфере бессознательного, что и является основанием для лечения этого недуга с помощью гипноза. И только гипнотерапия помогает преодолеть негативные последствия для вашей нервной системы.</p>
<h3>Польза гипнотического состояния для человека.</h3>
<p>Лечебный сеанс гипнозом сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html">Подробней о пользе гипноза для человека можно прочитать здесь.</a>
<p><strong>Наш авторский метод позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>
