---
layout: page
title: Алкогольная зависимость
description: Алкоголизм – это заболевание, характеризующееся регулярным употреблением различных алкогольных напитков. Это, прежде всего психическая болезнь.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p>Одним из самых распространенных заболеваний XXI века является алкоголизм. Причём не каждый алкоголик осознает тот факт, что употребление алкогольных напитков стало регулярным занятием и самостоятельно преодолеть алкоголизм человек уже не в состоянии.</p>
<p><strong>Алкоголизм – это</strong> заболевание, характеризующееся регулярным употреблением различных алкогольных напитков. Это, прежде всего психическая болезнь. В основе этого психического расстройства лежит болезненное влечение, которое заняло неоправданно - большее значение в жизни человека.  Алкогольные напитки больной алкоголизмом может употреблять в компании или наедине втайне от семьи, может просто пить каждый день пиво и утверждать, что у него нет алкогольной зависимости. Алкоголики становятся зависимыми от спиртного. Если резко лишить их возможности выпивать, это может вызвать абстинентный синдром, который включает такие симптомы, как тошнота, рвота, тревожность, раздражительность, галлюцинации, дрожь и др. Алкоголизм нарушает мозговую деятельность и память, ухудшает физические способности, человек начинает совершать неразумные поступки.</p>
<p><strong>Человек болен не потому, что он пьет, а пьет потому, что он болен!</strong></p>
<p>Существует множество факторов, при которых человек может пристраститься к алкоголю. Это может быть стресс в результате эмоционального конфликта, тяжелая утрата (например, смерть близкого), сложности на работе, ошибочные шаблоны поведения, психотравмы, и др.  Алкоголизму способствует депрессивный характер личности с низкой самооценкой, особенности характера (слабость, безволие), недовольство своими действиями и поступками. Имеет значение наследственный фактор, воспитание, а также различные факторы окружающей среды и культуры.</p>
<p>Но что объединяет все эти факторы,  в результате которых у человека появляется навязчивое,  не контролируемое стремлении  выпить? И какую функцию несет алкоголь для зависимого от него человека?  И это, прежде всего  компенсаторная, приспособительная функция! Ошибочное приспособление с помощью алкоголя начинает жить вместе с человеком, разрушая здоровье, психику и личную жизнь.  И стоит убрать из жизни больного человека это «лекарство» и каждый день  превратится в мученье, и «срыв» (возврат к алкоголю) здесь неизбежен, это лишь дело времени. <strong>Поэтому так важно найти и устранить все причины алкогольной зависимости, а не бороться с ней!</strong> </p>
<p><strong>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические исследования наших светил - советских академиков и профессоров. Профессиональное воздействие по нашей авторской методике  относится к самым результативным услугам в настоящее время, так как нацелена на избавление от причин возникновения алкогольной зависимости, а не на вечную борьбу с ее последствиями.  В результате, отпадает необходимость борьбы с навязчивым желанием  выпить, и  человек возвращает над собой контроль.</strong> </p>
<p>В настоящее время гипноз все больше набирает популярность среди специалистов и обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми распространенными ситуациями применения гипноза являются различные  неврозы, фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного аппарата, нарушении сердечно – сосудистой системы,  ОКР, СРК, ВСД, расстройства пищевого поведения, сексуальные нарушения,  нервные тики,  бессонница,  логоневроз, коррекция поведенческих реакций человека, заниженная самооценка, комплексы, вредные привычки.  Причем в этих случаях, гипнотерапия остается единственным результативным методом, так как нацелена на избавление больного от причин его заболевания, в то время как все остальные методы, включая фармацевтические, претендуют только на временное снятие симптомов.</p>
<p>И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у больного не стоит на месте, а генерализуется и приобретает более ярко выраженный гетерогенный характер, вовлекая все большие участки функциональной системы в патогенез.</p>
<p>Успешное применение гипноза при лечении столь широкого круга заболеваний связанно с тем, что точкой приложения лечебного слова в гипнозе - являются большие полушария головного мозга человека, которые управляют всеми органами и системами организма. Слово в гипнозе оказывается чрезвычайно могущественным лечебным фактором, производящим прямое и непосредственное воздействие на характер и динамику корковых процессов. Это открывает прямой путь к устранению патологических процессов и мобилизации необходимых внутренних ресурсов организма человека.</p>
<p><strong>Поэтому гипнотерапия – это единственный метод психологической помощи человеку, позволяющий устранить причину заболевания, а не ее симптом, оказывая прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</strong></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными учеными как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л. Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский (1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я. Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П. Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><strong>Положительные стороны гипнотического лечения:</strong></p>
<ul>
  <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
  <li>Нет побочного эффекта.</li>
  <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
  <li>Устраняет причины заболевания.</li>
  <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза, сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма, его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Существует такое ошибочное заблуждение, что я сам все решу, справлюсь сам, и не позволю кому то вторгаться в мою психику и насиловать мою личность. А вы задайте себе вопрос, вот вы костюмчик носите, вы его сами сшили? Вас не мучает, что вы готовый купили? Это не насилие над вашей личностью? Взял бы сам себе костюмчик пошил. А если зубы болят, то куда вы идете? К стоматологу. А это не насилие над вашей личностью? Вы что, должны сами сидеть с такой психологией и говорить – зубы не болят, не болят, а они все равно болят. А если у вас инфаркт или инсульт или прободная язва, что тоже сам все решу? Когда у человека есть проблема, ее нужно решать.</p>
<p>Человек, зависимый от алкоголя, компьютера, никотина, наркотика должен понимать, с чем он может справиться, а с чем нет, и уметь вовремя попросить помощи, а не ждать когда «кондрашка хватит».</p>
<p>Самостоятельные попытки бросить пить оборачиваются повышенной нервозностью, нарушением сна, раздражительностью, человек угнетен или подвержен вспышкам агрессии, к тому же, чем дольше борешься, тем сильнее хочется выпить, а неудача, приводит к разочарованию в своих силах, психологической зажатости, комплексу неполноценности, ложным убеждениям невозможности соскочить с алкогольной иглы, и как следствие, повышенной тяги выпить. И только гипнотерапия помогает преодолеть негативные последствия отказа от алкоголя для нервной системы.</p>
<p>Но чтобы бросить пить с помощью гипноза, человек должен соглашаться на эту процедуру осознанно, искренне желать преодолеть зависимость! </p>
<p><strong>Наш авторский метод  позволит вам вернуться к нормальной жизни и получать от нее удовольствие.</strong></p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>