---
layout: page
title: Синдром хронической усталости
description: Синдром хронической усталости (СХУ) – это болезнь, характеризующаяся длительной усталостью, не устраняющейся даже после продолжительного отдыха.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---

<h3>Синдром хронической усталости.</h3>
<p>
	<strong>Синдром хронической усталости (СХУ) – </strong>это болезнь,
	характеризующаяся длительной усталостью, не устраняющейся даже после
	продолжительного отдыха.
</p>
<p>
	По статистике около 85-90% страдающих этим заболеванием являются жителями
	крупных, плотно населённых городов, с ускоренным ритмом жизни и
	неблагоприятной экологической обстановкой.
</p>
<h3>Симптомы хронической усталости:</h3>
<ul>
	<li>отсутствие ощущения отдыха после полноценного ночного сна;</li>
	<li>часто повторяющиеся головные боли без видимых на это причин;</li>
	<li>повышенная сонливость в дневное время суток;</li>
	<li>
		невозможность быстро заснуть даже после напряженного физического труда;
	</li>
	<li>немотивированное раздражение;</li>
	<li>плохое настроение, поводов которому нет.</li>
	<li>снижение памяти и способности концентрироваться</li>
	<li>необъяснимая мышечная боль.</li>
</ul>
<p>
	Хроническая усталость, сниженная трудоспособность, потеря жизненных сил, в
	большинстве случаев, может стать следствием негативного воздействия на
	организм человека (стрессы, психические травмы, депрессии, тревоги и т.д.), в
	результате чего нарушается работа эндокринных и висцеральных функций
	внутренних органов, эмоциональное поведение, внимание, процесс запоминания,
	сон и бодрствование человека.
</p>
<h3>Стресс.</h3>
<p>
	Стресс является неотъемлемой частью человеческого существования. Клинические
	наблюдения показали, что незначительные стрессы не вредны организму, а даже
	полезны. Они стимулируют человека к поиску выхода из сложившегося
	затруднительного положения. Стресс, это адаптационное состояние психического
	напряжения, возникающее у человека в процессе деятельности в наиболее сложных,
	трудных условиях, как в повседневной жизни, так и при особых обстоятельствах.
	Стресс может оказывать как положительное, так и отрицательное влияние на
	деятельность, вплоть до ее полной дезорганизации. Иными словами, если
	наступает стресс, то вскоре стрессовое состояние идет на убыль и человек
	успокаивается. Если же адаптация нарушается, то возникают некоторые
	психосоматические заболевания или расстройства.
</p>
<p>
	Все современные представления о биоэнергетике полностью совпадают с принципами
	развития общего адаптационного синдрома, который изучал Ганс Селье. Траты
	нервной, психической энергии можно представить в виде условных единиц, где
	мелкие ссоры и обиды составляют 11 единиц, развод уносит 73 единицы, а гибель
	близкого человека 100 единиц. В состояние стресса приведут 700 единиц за любой
	промежуток времени. Этот набор быстро достигает критической величины в связи с
	утратой работы, веры в социальные возможности общества и семьи, нарушений
	морально-этического характера, подавления в себе идеалов и любовных
	устремлений, и т.д. Однако существует длительный период времени, когда
	возникает симптоматика начального периода, которая отражает превышение нормы
	энергозатрат, трудности в их восполнении. Мы начинаем страдать от усталости
	психического происхождения. Это является субъективным показателем снижения
	биоэнергетики индивидуума. Возникает симптоматика перехода обычного
	реагирования в патологическую стрессовую реакцию. К признакам такого
	реагирования относятся жалобы на трудности в восстановлении сил после обычной
	деятельности, жалобы на отсутствие восстанавливающего эффекта сна. Часто
	отмечается тревожное настроение, чувство поражения и вины, утрата чувства
	юмора и любовных влечений, приглушенность эмоций, душевная пустота, скука,
	отсутствия удовольствия от общения с близкими людьми. Такие состояния являются
	фоном для возникновения нейрогенных и психосоматических заболеваний, они
	охватывают миллионы людей во всем мире.
</p>
<h3>Психотравма.</h3>
<p>
	Психотравма — вред, нанесённый психическому здоровью человека в результате
	сверхсильного одномоментного или длительного, интенсивного воздействия
	неблагоприятных факторов среды, остроэмоциональных, стрессовых воздействий на
	его психику, или длительной сшибки субъективных представлений с объективной
	реальностью. Часто бывает связана с физической травмой угрожающей жизни, либо
	нарушающей ощущение безопасности. Это может быть физическое насилие,
	оскорбление, унижение, сильный испуг, горе и т.д. Эти события мешают человеку
	жить, прогрессируя от ситуации к ситуации, разрушая психику человека. В
	результате, может упасть самооценка, усилиться тревога, нарушиться сон, часто
	появляется упадок сил, повышенная утомляемость, может возникнуть паническая
	атака, развиться фобии, депрессия, напряженность, ночные кошмары и др. Также
	человек может испытывать различные негативные чувства – страх, гнев, панику,
	грусть, причем постоянно.
</p>
<h3>Лечение.</h3>
<p>
	<strong
		>За 20 лет практики нами разработана уникальная авторская методика, которая
		поможет вам справиться с этим расстройством. Профессиональное воздействие по
		нашей авторской методике относится к самым результативным услугам в
		настоящее время, и позволяет выявить глубинные причины хронической
		усталости, бесследно избавив пациента от этого недуга.</strong
	>
</p>
<p>
	В настоящее время гипноз все больше набирает популярность среди специалистов и
	обычных людей. Люди обращаются к гипнологам по разнообразным причинам. Самыми
	распространенными ситуациями применения гипноза являются различные неврозы,
	фобии, страхи, депрессии, боли, аллергия, расстройства вестибулярного
	аппарата, нарушении сердечно – сосудистой системы, ОКР, СРК, ВСД, расстройства
	пищевого поведения, сексуальные нарушения, нарушения менструального цикла,
	нервные тики, бессонница, логоневроз, коррекция поведенческих реакций
	человека, заниженная самооценка, комплексы, вредные привычки. Причем в этих
	случаях, гипнотерапия остается единственным результативным методом, так как
	нацелена на избавление больного от причин его заболевания, в то время как все
	остальные методы, включая фармацевтические, претендуют только на временное
	снятие симптомов.
</p>
<p>
	И важно понимать, что пока идет борьба с симптоматикой, психогенный сбой у
	больного не стоит на месте, а генерализуется и приобретает более ярко
	выраженный гетерогенный характер, вовлекая все большие участки функциональной
	системы в патогенез.
</p>
<p>
	Успешное применение гипноза при лечении столь широкого круга заболеваний
	связанно с тем, что точкой приложения лечебного слова в гипнозе - являются
	большие полушария головного мозга человека, которые управляют всеми органами и
	системами организма. Таким образом, вся внутренняя среда в известной мере
	подчиняется влияниям коры мозга, импульсы со стороны которой могут
	воздействовать на состояние любого внутреннего органа и любой системы. В силу
	этого и благодаря временным связям кора больших полушарий осуществляет тесное
	взаимоотношение между внешней и внутренней средой организма. Слово в гипнозе
	оказывается чрезвычайно могущественным лечебным фактором, производящим прямое
	и непосредственное воздействие на характер и динамику корковых процессов. Это
	открывает прямой путь к устранению патологических процессов и мобилизации
	необходимых внутренних ресурсов организма человека.
</p>
<p>
	<strong
		>Поэтому гипнотерапия – это единственный метод психологической помощи
		человеку, позволяющий устранить причину заболевания, а не ее симптом,
		оказывая прямое и непосредственное воздействие на характер и динамику
		корковых процессов, мобилизуя необходимые внутренние ресурсы организма
		человека.</strong
	>
</p>
<p>
	<strong
		>Наш авторский метод гипнотерапии поможет вам избавиться от вашего недуга на
		всю жизнь!</strong
	>
</p>
<p>
	За многие годы нашей лечебной практики к нам обращались пациенты с самыми
	невероятными ситуациями возникновения хронической усталости, избавившись от
	нее на всю жизнь. Тем, кто страдает этим расстройством не стоит
	разочаровываться и терять надежду на исцеление, так как с нашей помощью вы
	навсегда избавите себя от этого недуга.
</p>
<h3>Возможны ли побочные эффекты от гипноза?</h3>
<p>
	Как утверждают специалисты, на сегодняшний день таких фактов не выявлено.
	Исследования в разное время проводились такими видными и авторитетными учеными
	как: В. М. Бехтерев, И. П. Павлов, С. С. Либих (1974), А. И. Захаров (1982),
	А. А. Токарский (1989), М. С. Лебединский, А. Т. Пшоник (1952), Л. Л.
	Васильев, И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П.
	К. Анохин, Н. Е. Введенский (1911-1913), Н. И. Красногорский, В. М. Шкловский
	(1975, 1994), В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М.
	Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я.
	Данилевский, Б. Н. Бирман (1922,1925, 1946), Л. Б. Гаккель (1955), Д. Я.
	Венгеровский (1955), И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов
	(1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М.
	Свядощ, А. П. Слободяник, Е. С. Катков, М. П. Кутании, В. В. Кузьмин, П. П.
	Подъяпольский, Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А.
	Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский,
	М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт,
	А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека
	саморегулируется во время лечебного транса, мобилизуются его внутренние
	резервы, активизируются защитные силы организма (компенсаторные), гомеостаз
	организма приходит в норму, а потому опасности для психического и
	физиологического здоровья пациента нет.
</p>
<h3>Положительные стороны гипнотического лечения:</h3>
<ul>
	<li>Полное отсутствие медикаментозного влияния на организм человека.</li>
	<li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
	<li>Нет побочного эффекта.</li>
	<li>Устранение причин заболевания.</li>
	<li>Дешевле.</li>
</ul>
<p>
	Сеанс гипноза является целебным для человека. Гипноз улучшает общее
	самочувствие человека, обеспечивает слаженную работу всех органов и систем
	организма его (гомеостаз), что позволяет пациенту ощутить новый прилив
	жизненных сил. Он положительно влияет на работу многих органов и систем:
	сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС,
	помогает при бессонницы, хронической усталости, снимает раздражительность,
	уменьшает беспокойство, и т.п.
</p>
<a href="lechenie-gipnozom/2019-04-01-vreden-li-gipnoz.html"
	>Подробней о пользе гипноза для человека можно прочитать здесь.</a
>
<p>
	<strong
		>Наш авторский метод лечения позволит вам вернуться к нормальной жизни и
		получать от нее удовольствие.</strong
	>
</p>
<p><strong>Будьте здоровы и берегите себя!</strong></p>
