---
layout: page
title:  Как полюбить себя таким какой ты есть
description: Мужчины не меньше, чем женщины, переживают отсутствие или наоборот наличие каких-то качеств. Внешность, отсутствие финансового благосостояния, недостаточный успех  и признание на работе, личная жизнь и др.
categories: lechenie-gipnozom
catname: Лечение гипнозом
permalink: ":categories/:year-:month-:day-:slug.html"
---
<p>Любви к себе и безусловного принятия очень не хватает большинству людей. Как бы странно это не звучало, но многие из нас просто не могут по-настоящему полюбить себя. Им требуется постоянное подтверждение извне, признание или одобрение других. А если этого нет, то такие люди не счастливы, а их жизнь зачастую складывается неудачно. Но парадокс в том, что человека, который сам не любит себя, не могут полюбить и другие.</p>
<p>Непринятие себя таким, какой ты есть,  волнует многих мужчин. Мужчины не меньше, чем женщины, переживают отсутствие или наоборот наличие каких-то качеств. Внешность, отсутствие финансового благосостояния, недостаточный успех  и признание на работе, личная жизнь и др. Причем причины нелюбви к себе у каждого свои. Один мечтает о простенькой машине, а другой о Bentley ручной сборки. Также современные условия жизни в мегаполисе диктуют свои стандарты, и если мы им не соответствуем, то возникает внутреннее желание соответствовать.  Это приводит к сильному стрессу и перенапряжению.</p>
<h4>Итак, что же значит – полюбить себя?</h4>
<p>Чтобы принять себя, очень важно понять, что каждый человек уникален со своими достоинствами и недостатками. И не стоит стремиться к тому, чтобы быть во всем идеальным или на кого-то похожим. Постарайтесь понять, чего хотите именно вы и что сделает вас счастливым. Начните с изучения себя, найдите свои главные достоинства и ведущие способности. Тогда сможете понять, как правильно их использовать, а не концентрироваться на недостатках.</p>
<p><b>Вот примеры действий, которые вы можете совершить самостоятельно:</b></p>
<ul>
    <li>Дать себе базовую любовь – это перестать критиковать себя за свои недостатки и неправильные поступки. Постоянное самоедство приводит только к возникновению чувства вины и неудовлетворенности. Важно перестать сравнивать себя с другими, принижая свои достоинства и считая себя в чем-то хуже остальных. Эта нехорошая привычка была заложена многим с детства, когда родители и учителя любили сравнить успехи ребенка с успехами других детей.</li>
    <li>Прекратить пугать себя и выдумывать страшные ситуации, которые могут с вами произойти. Раздувать проблемы до невероятных размеров и ждать самого худшего – это признак нелюбви к себе. Страх блокирует ваши силы и не дает быть самим собой. Научитесь контролировать свои мысли, концентрироваться на хорошем  и конструктивно решать проблемы.</li>
    <li>Перестать стремиться всем понравиться и быть для всех хорошим. Научитесь быть довольным собой и без подтверждения со стороны. Хвалите себя, занимайтесь тем, что нравится, поощряйте себя за успехи и новые достижения. Будьте самим собой, а не тем, кем вас хотят видеть окружающие.</li>
    <li>Перестать обижаться и требовать, чтобы все происходило только так, как хочется вам. Примите недостатки других людей также, как и свои, и не заставляйте всех соответствовать выдуманным рамкам.
        Научиться любить себя – значит позволить себе быть таким каким вы являетесь, жить в гармонии с собой и своими желаниями. Восприятие окружающего мира основано на отношении к себе, поэтому решение многих проблем зависит  именно от этого.</li>
</ul>
<p>В некоторые моменты жизни принять себя не получается в одиночку. Но если вы все же хотите избавиться от внутреннего дискомфорта и вновь испытывать удовлетворение, радость в своей жизни, то мы можем вам помочь.   Это нелегкий путь, и начать его лучше со специалистом.</p>
<h4>Как полюбить себя при помощи гипнотерапии?</h4>
<p>Чтобы ускорить процесс психологического выздоровления можно  прибегнуть к гипнотерапии. При помощи гипноза с помощью опытного гипнолога вы сможете узнать, в чем причина вашей нелюбви к себе, что конкретизирует проблему и позволит быстрее добиться результата и обрести гармонию со своим внутренним «Я».</p>
<p><b>За 20 лет практики нами разработана уникальная авторская методика, опирающаяся исключительно на научные нейрофизиологические  исследования наших светил -  советских академиков и профессоров. Профессиональное воздействие по  нашей авторской методике относится к самым результативным услугам в настоящее время. Она нацелена на избавление от  психогенных причин возникновения непринятия себя.  Гипнотерапия отлично работает на бессознательном уровне, позволяя делать желательные изменения на глубинных уровнях нашей психики, приводящие к положительным изменениям.</b></p>
<p><b>Гипнотерапия  – это единственный метод психологической помощи человеку, позволяющий найти и устранить причину  нарушений, а не ее симптом, оказывая  прямое и непосредственное воздействие на характер и динамику корковых процессов, мобилизуя необходимые внутренние ресурсы организма человека.</b></p>
<h4>Возможны ли побочные эффекты от гипноза?</h4>
<p>Как утверждают специалисты, на сегодняшний день таких фактов не выявлено. Исследования в разное время проводились такими видными и авторитетными  учеными как:  В. М. Бехтерев, И. П. Павлов,  С. С. Либих (1974), А. И. Захаров (1982), А. А. Токарский (1989), М. С. Лебединский,  А. Т. Пшоник (1952), Л. Л. Васильев,  И. П. Брязгунов (1970) Л. Черток (1972), В. И. Сухорукова (1977), П. К. Анохин,  Н. Е. Введенский (1911-1913),  Н. И. Красногорский,  В. М. Шкловский (1975, 1994),   В. Н. Мясищев, Ю. А. Поворинский (1950), С. Н. Давиденков, К. М. Варшавский (1973), С. С. Кор-саков, К. М. Быков, А. М.Свядощ (1982), В. Я. Данилевский, Б. Н. Бирман (1922,1925, 1946),  Л. Б. Гаккель (1955),  Д. Я.  Венгеровский (1955),   И. 3. Вельвовский (1984), А. Л. Гройсман, К. И. Платонов (1957), С. Л. Рубинштейн, В. Е. Рожнов, А. А. Ухтомский, И. М. Сеченов, А.М. Свядощ, А. П. Слободяник, Е. С.  Катков,  М. П. Кутании,  В. В. Кузьмин,  П. П.  Подъяпольский,  Е. Н. Довбня, Ф. Е. Рыбаков, В. Н. Хорошко, А. И. Яроцкий, А. Ф. Лазурский, Ю. В. Каннабих, В. М. Нарбут, Ф. Д. Неткачев, В. А. Гиляровский, М. В. Стрельчук, Г. В. Морозов, В. М. Банщиков, Н. В. Иванов, Н. К. Липгарт, А. Г. Иванов-Смоленский, и др. Учеными доказано, что психика человека саморегулируется во время лечебного транса, мобилизуются его внутренние резервы, активизируются защитные силы организма (компенсаторные), гомеостаз организма приходит в норму, а потому опасности для психического и физиологического здоровья пациента нет.</p>
<p><b>Положительные стороны гипнотического лечения:</b></p>
<ul>
    <li>Полное отсутствие медикаментозного влияния на организм человека.</li>
    <li>Нет побочного эффекта.</li>
    <li>Полезно. Нормализует гомеостаз организма, укрепляет ЦНС, и т.д.</li>
    <li>Устраняет причины заболевания.</li>
    <li>Дешевле.</li>
</ul>
<p>Сеанс гипноза сам по себе является целебным для человека. Гипноз улучшает общее самочувствие человека, обеспечивает слаженную работу всех органов и систем организма,  его (гомеостаз), что позволяет пациенту ощутить новый прилив жизненных сил. Он положительно влияет на работу многих органов и систем: сердечно - сосудистой, дыхательной, эндокринной, пищеварительной, ЦНС, помогает при бессоннице, снимает раздражительность, уменьшает беспокойство, и т.п.</p>
<p>Уже через несколько сеансов вы сможете избавиться от неуверенности в себе и полюбить себя, в результате чего у вас наладятся отношения с противоположным полом, в семье и на работе. А главное, вы будете чувствовать себя самодостаточным человеком, который находится в гармонии с самим собой.  Полюбите себя, и мир заиграет для вас новыми красками!</p>
<p><b>Будьте здоровы и счастливы!</b></p>



































